﻿<section id="innercontent" ng-controller="VendorLoginController">
    <div class="container" id="vendor">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <img src="/Content/img/vndr-icon.jpg">
            </div>
            <div class="col-md-10 col-sm-10">
                <p class="heading">VENDOR LOGIN</p>
                <h5>Join the No.1 Wholesale Online Shopping Mall in USA.</h5>
                <p>
                    Get started - it's free.<br />
                    Show and sell your products to thousands of qualified wholesale buyers at one time!<br />
                    Become a FashionGo.net vendor and open your online store now.
                </p>
            </div>
        </div>
        <div class="col-md-12 col-sm-12" id="sprt">&nbsp;</div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2>Enter your login details.</h2>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 col-sm-6" style="border-right: 1px solid #e7e7e7;">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-2">Username</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="inputcompanyname" placeholder="" ng-model="VendorLogin.Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Password</label>
                        <div class="col-xs-10">
                            <input type="password" class="form-control" placeholder="" ng-model="VendorLogin.Password">
                        </div>
                    </div>
                    

                </form>

            </div>
        </div>
        
        <div class="col-md-12 col-sm-12" id="Div2">&nbsp;</div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary" id="reg-btn" ng-click="submit()">Login</button>
                </div>
            </div>
        </div>
    </div>
</section>
