﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="ExpenseCreateController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Expenses</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Expenses</li>
                <li class="breadcrumb-item">Create Expense</li>
            </ol>

        </div>

        <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">


        <div class="page-content fade-in-up">

            <div class="ibox">

                <div class="ibox-head">
                    <div class="ibox-title">Create a new Expense Bill</div>
                    <div class="btn-group">
                        <div class="btn btn-outline-secondary" ng-click="Cancel()">CANCEL</div>
                        <div class="btn btn-outline-secondary" ng-click="createBill()">SAVE</div>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table">
                                <tbody class="remove-hr">
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>EXPLANATION</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="expenseHeader.Description">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 .75rem 0 .75rem;"><b>DATE OF ISSUE</b></td>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <div class="form-group" id="date_1">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="expenseHeader.Date">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 0;"><b>EXPENSE NUMBER</b></td>
                                        <td style="padding-top: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="expenseHeader.InvoiceNo">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>CURRENCY</b></td>
                                        <td>{{ selectedCurrency }}
                                            <span ng-if="expenseHeader.CurrencyRate != 1">(1 {{ selectedCurrency }} = {{ expenseHeader.CurrencyRate }} LIRA)</span>
                                            <button class="btn btn-secondary btn-sm dropdown-toggle float-right" data-toggle="dropdown">CHANGE CURRENCY</button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" ng-model="currencies.LIRA" ng-click="setCurrency(0)">TURKISH LIRA</a>
                                                <a class="dropdown-item" ng-model="currencies.USD" ng-click="setCurrency(1)">US DOLLAR</a>
                                                <a class="dropdown-item" ng-model="currencies.EURO" ng-click="setCurrency(2)">EURO</a>
                                                <a class="dropdown-item" ng-model="currencies.POND" ng-click="setCurrency(3)">BRITISH POND</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>BILL PHOTO</b></td>
                                        <td>
                                            <button class="btn btn-secondary btn-sm dropdown-toggle">UPLOAD PHOTO</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>PAYMENT STATUS</b></td>
                                        <td>
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary active" ng-click="setPaymentStatus('PAYABLE')">
                                                    <input type="radio" name="options" checked>
                                                    PAYABLE
                                                </label>
                                                <label class="btn btn-primary" ng-click="setPaymentStatus('PAID')">
                                                    <input type="radio" name="options">
                                                    PAID
                                                </label>
                                                <label class="btn btn-primary" ng-click="setPaymentStatus('EMPLOYEE PAID')">
                                                    <input type="radio" name="options" >
                                                    EMPLOYEE PAID
                                                </label>
                                            </div>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td style="padding: 0 .75rem 0 .75rem;"><b>PAYMENT DATE</b></td>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <div class="form-group" id="date_1">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="expenseHeader.DueDate">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 .75rem 0 .75rem;"><b>SUPPLIER</b></td>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <input class="form-control"
                                                ng-blur="setCustomer()"
                                                autocomplete="off"
                                                ng-model="selectedCustomer"
                                                id="ddlcustomer" placeholder="Select Customer">
                                        </td>
                                    </tr>
                                    <!--<tr>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <br />
                                            <b>CUSTOMER INFORMATION</b>
                                        </td>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <br />
                                            <label>{{ invoiceHeader.CustomerAddress }}  -  {{ invoiceHeader.CustomerPhone }}</label>
                                        </td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-4">
                            <div class="page-content fade-in-up">
                                <div class="ibox">
                                    <div class="ibox-body" style="background-color: #e9ecef;">
                                        <div class="form-group mb-4">
                                            <label>EXPENSE CATEGORY</label>
                                            <input class="form-control" autocomplete="off" ng-model="selectedCategory" ng-blur="setCategory()" id="ddlCategory" placeholder="Select Category">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                    <hr />

                    <div class="table-responsive row">
                        <table class="table table-bordered">
                            <thead class="thead-default thead-lg">
                                <tr>
                                    <th>SERVICE / PRODUCT</th>
                                    <th>QUANTITY</th>
                                    <th>PRICE</th>
                                    <th>DISCOUNT%</th>
                                    <th>TAX%</th>
                                    <th>TOTAL</th>
                                    <th class="no-sort"></th>
                                    <th class="no-sort"></th>
                                </tr>
                            </thead>

                            <tr ng-repeat="row in rows track by $index">
                                <td>
                                    <input class="form-control"
                                           autocomplete="off"
                                           ng-model="row.ProductName"
                                           ng-blur="setProduct($index)"
                                           id="ddlProduct{{ + $index}}" placeholder="Select Product">
                                </td>
                                <td>
                                    <input class="form-control" type="text" ng-change="calculate($index)" ng-model="row.Quantity">
                                </td>
                                <td>
                                    <div class="input-group-icon input-group-icon-right">
                                        <span class="input-icon input-icon-right"><i class="{{ currencySymbol }}"></i></span>
                                        <input class="form-control" type="text" ng-change="calculate($index)" ng-readonly="true" ng-model="row.UnitPrice">
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" type="text" ng-change="calculate($index)" ng-model="row.DiscountPerc">
                                </td>
                                <td>
                                    <input class="form-control" type="text" ng-change="calculate($index)" ng-model="row.TaxPerc">
                                </td>
                                <td>
                                    <div class="input-group-icon input-group-icon-right">
                                        <span class="input-icon input-icon-right"><i class="{{ currencySymbol }}"></i></span>
                                        <input class="form-control" type="text" ng-change="setSubTotal()" ng-readonly="true" ng-model="row.Amount">
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i></button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" ng-click="addDescription($index)">ADD DESCRIPTION</a>
                                        <a class="dropdown-item" ng-click="addUnit($index)">ADD UNIT</a>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-secondary btn-sm" ng-click="removeRow($index)"><i class="fa fa-times"></i></button>
                                </td>
                                <div>
                                    <table>
                                        <tr>
                                            <td colspan="2" ng-if="visibility.expenseDetailDescription">
                                                <div class="input-group mb-3">
                                                    <input class="form-control" type="text" ng-model="rows[descriptionIndex].Description" placeholder="Description">
                                                    <button class="btn btn-secondary btn-sm float-right" ng-click="visibility.expenseDetailDescription = false"><i class="fa fa-times"></i></button>
                                                </div>
                                            </td>
                                            <td ng-if="visibility.expenseDetailUnit">
                                                <div class="input-group mb-3">
                                                    <input class="form-control" type="text" ng-model="rows[descriptionIndex].Unit" placeholder="Unit">
                                                    <button class="btn btn-secondary btn-sm float-right" ng-click="visibility.expenseDetailUnit = false"><i class="fa fa-times"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </tr>
                        </table>

                        <button class="btn btn-secondary" ng-click="addNewRow()">ADD NEW ROW</button>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <ul class="timeline">
                                <hr>
                                <li class="timeline-item">
                                    <table class="table" style="margin-bottom: 0;">
                                        <tr>
                                            <td><strong>Sub Total</strong></td>
                                            <td>
                                                <label class="float-right"><strong>{{ (summary.SubTotal).toFixed(2) }}<i class="{{ currencySymbol }}"></i></strong></label>
                                            </td>
                                        </tr>
                                        <tr ng-if="(row.UnitPrice * row.DiscountPerc / 100) > 0" ng-repeat="row in rows">
                                            <td>Line Discount ( {{ row.DiscountPerc }} %)</td>
                                            <td>
                                                <label class="float-right">{{ (row.UnitPrice * row.Quantity * row.DiscountPerc) / 100 }}</label>
                                            </td>
                                        </tr>
                                        <tr ng-if="summary.TotalDiscount > 0">
                                            <td><strong>Gross Total</strong></td>
                                            <td>
                                                <label class="float-right"><strong>{{ summary.SubTotal - summary.TotalDiscount }}</strong></label>
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                                <hr ng-if="summary.TotalTax > 0">
                                <li ng-if="summary.TotalTax > 0" class="timeline-item">
                                    <table class="table" style="margin-bottom: 0;">
                                        <tr ng-if="(row.UnitPrice * row.TaxPerc / 100) > 0" ng-repeat="row in rows">
                                            <td>Tax ( {{ row.TaxPerc }} %)</td>
                                            <td>
                                                <label class="float-right">{{ ((((row.UnitPrice * row.Quantity) - ((row.UnitPrice * row.Quantity * row.DiscountPerc) / 100)) * row.TaxPerc / 100)).toFixed(2) }}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Total Tax</strong></td>
                                            <td>
                                                <label class="float-right"><strong>{{ (summary.TotalTax).toFixed(2) }}</strong></label>
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                                <hr>
                                <li class="timeline-item">
                                    <h4>Grand Total</h4>
                                    <label ng-model="summary.GrandTotal" class="float-right">
                                        <h4>{{ (summary.GrandTotal).toFixed(2) }} <span ng-if="selectedCurrency != LIRA" class="{{ currencySymbol }}"></span></h4>
                                    </label>
                                </li>
                                <li ng-if="expenseHeader.CurrencyRate > 1" class="timeline-item">
                                    <h6>TL COVERAGE</h6>
                                    <label class="float-right">
                                        <h6>{{ (summary.GrandTotal * expenseHeader.CurrencyRate).toFixed(2) }} <i class="la la-turkish-lira"></i></h6>
                                    </label>
                                </li>
                                <hr>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>


            <!-- /.box -->

            <footer class="page-footer">
                <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
                <div>
                    <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                    <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
                </div>
                <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
            </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



<!--https://www.experts-exchange.com/questions/28312071/Breaking-td-to-next-row-using-responsive-design.html-->


