﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="ExpenseInformationController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Expenses</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Expense</li>
                <li class="breadcrumb-item">Expenses Information</li>
            </ol>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">



        <div class="row">
            <div class="col-md-8">
                <div class="page-content fade-in-up">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                {{ expense[0].Description }}
                            </div>
                            <button class="btn btn-secondary float-right" ng-click="expenseForm('edit')">EDIT</button>
                        </div>
                        <div class="ibox-body" style="padding-top: 15px; padding-bottom: 15px;">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ expense[0].CustomerName }}
                                </div>
                                <div class="col-md-4">
                                    {{ expense[0].DueDate }}
                                </div>
                            </div>
                        </div>
                        <hr style="margin: 0;" />
                        <div class="ibox-body" style="padding-top: 15px; padding-bottom: 15px;">
                            <p ng-show="visibility.noInvoices">There are no invoices against this customer</p>
                            <div class="table-responsive row" ng-if="expense[0].InvoiceDetailCollection.length > 0">
                                <table class="table table-hover" id="Table1">
                                    <thead class="thead-default thead-lg">
                                        <tr>
                                            <th>SERVICE / PRODUCT</th>
                                            <th>QUANTITY</th>
                                            <th>PRICE</th>
                                            <th>DISCOUNT%</th>
                                            <th>TAX%</th>
                                            <th>TOTAL</th>
                                        </tr>

                                        <tr ng-repeat="detial in expense[0].InvoiceDetailCollection">
                                            <td>
                                                <label>{{ detial.ProductName }}</label>
                                            </td>
                                            <td style="text-align: right;">
                                                <label>{{ detial.Quantity }}</label>
                                            </td>
                                            <td style="text-align: right;">
                                                <label>{{ (detial.UnitPrice).toFixed(2) }}</label>
                                            </td>
                                            <td style="text-align: right;">
                                                <label>{{ detial.DiscountPerc }}</label>
                                            </td>
                                            <td style="text-align: right;">
                                                <label>{{ detial.TaxPerc }}</label>
                                            </td>
                                            <td style="text-align: right;">
                                                <label>{{ (detial.Amount).toFixed(2) }}</label>
                                            </td>
                                        </tr>

                                    </thead>
                                </table>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <ul ng-if="expense[0].InvoiceDetailCollection.length == 0">
                                        <li class="timeline-item">
                                            <label class="float-right"><strong>00 </strong></label>
                                        </li>
                                    </ul>
                                    <ul class="timeline" ng-if="expense[0].InvoiceDetailCollection.length > 0">
                                        <hr>
                                        <li class="timeline-item">
                                            <table class="table" style="margin-bottom: 0;">
                                                <tr>
                                                    <td><strong>Sub Total</strong></td>
                                                    <td>
                                                        <label class="float-right"><strong>{{ (summary.SubTotal).toFixed(2) }}</strong></label>
                                                    </td>
                                                </tr>
                                                <tr ng-if="(detial.UnitPrice * detial.DiscountPerc / 100) > 0" ng-repeat="detial in expense[0].InvoiceDetailCollection">
                                                    <td>Line Discount ( {{ detial.DiscountPerc }} %)</td>
                                                    <td>
                                                        <label class="float-right">{{ ((detial.UnitPrice * detial.Quantity * detial.DiscountPerc) / 100).toFixed(2) }}</label>
                                                    </td>
                                                </tr>
                                                <tr ng-if="summary.TotalDiscount > 0">
                                                    <td><strong>Gross Total</strong></td>
                                                    <td>
                                                        <label class="float-right"><strong>{{ (summary.SubTotal - summary.TotalDiscount).toFixed(2) }}</strong></label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <hr ng-if="summary.TotalTax > 0">
                                        <li ng-if="summary.TotalTax > 0" class="timeline-item">
                                            <table class="table" style="margin-bottom: 0;">
                                                <tr ng-if="(row.UnitPrice * row.TaxPerc / 100) > 0" ng-repeat="detial in expense[0].InvoiceDetailCollection">
                                                    <td>Tax ( {{ row.TaxPerc }} %)</td>
                                                    <td>
                                                        <label class="float-right">{{ ((((detial.UnitPrice * detial.Quantity) - ((detial.UnitPrice * detial.Quantity * detial.DiscountPerc) / 100)) * row.TaxPerc / 100)).toFixed(2) }}</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Total Tax</strong></td>
                                                    <td>
                                                        <label class="float-right"><strong>{{ (summary.TotalTax).toFixed(2) }}</strong></label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <hr>
                                        <li class="timeline-item">
                                            <h4>Grand Total</h4>
                                            <label ng-model="summary.GrandTotal" class="float-right">
                                                <h4>{{ (summary.GrandTotal).toFixed(2) }}</h4>
                                            </label>
                                        </li>
                                        <hr>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <hr style="margin: 0;" />

                    </div>

                    <div class="ibox" ng-if="allocations.length > 0">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <h4>Collections</h4>
                            </div>
                        </div>

                        <div class="ibox-body" style="padding-top: 15px; padding-bottom: 15px;">
                            <div class="table-responsive row">
                                <table class="table remove-hr">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Date</th>
                                            <th>Account</th>
                                            <th>Mode</th>
                                            <!--<th>Remaining Amount</th>-->
                                            <th>Collected Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="allocation in allocations">
                                            <td>{{ allocation.Date }}</td>
                                            <td>{{ allocation.Account }}</td>
                                            <td ng-if="allocation.AllocationType == '0001'">Collection</td>
                                            <td ng-if="allocation.AllocationType == '0002'">Payment</td>
                                            <!--<td style="text-align: right;">{{ (allocation.Amount).toFixed(2) }}</td>-->
                                            <td style="text-align: right;">{{ (allocation.Amount).toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="text-align: right;"><b>Remaining Amount</b></td>
                                            <td style="text-align: right;"><b>{{ (expense[0].TotalAmount.toFixed(2) - expense[0].TotalAllocatedAmount.toFixed(2)).toFixed(2) }}</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="page-content fade-in-up">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <button class="btn btn-white btn-icon-only btn-circle" data-toggle="dropdown">
                                        <i class="ti-angle-down"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a ng-click="deleteInvoiceById(expense[0].InvoiceHeaderId)" class="dropdown-item"><i class="ti-close"></i>Delete Invoice</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group btn-group-sm float-right">
                                        <!--<button class="btn btn-secondary" data-toggle="collapse" data-target="#payment">PAYMENT</button>-->
                                        <button class="btn btn-secondary" data-toggle="collapse" data-target="#add">ADD PAYMENT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-body" style="padding: 10px 15px 15px 15px;">




                            <div id="add" class="collapse">
                                <div class="ibox-head">
                                    <div class="ibox-title">ADD PAYMENT</div>
                                </div>
                                <div class="ibox-body" style="padding-bottom: 0;">
                                    <ul class="nav nav-pills nav-fill">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-target="#tab-2-1" data-toggle="tab">CASH</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-target="#tab-2-2" data-toggle="tab">COLLECTION</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="tab-2-1">
                                            <div class="row">
                                                <table class="table">
                                                    <tbody class="remove-hr">
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>DATE</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="date_99">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input ng-model="allocation.Date" class="form-control" type="text">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>ACCOUNT</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Account" class="form-control" value="Safe Account" ng-readonly="true" type="text">
<!--                                                                <input class="form-control"
                                                                    ng-blur="setCustomer()"
                                                                    autocomplete="off"
                                                                    ng-model="selectedCustomer"
                                                                    id="ddlcustomer" placeholder="Select Customer">-->
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>AMOUNT</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Amount" class="form-control" value="summary.GrandTotal" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPLANATION</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Explanation" class="form-control" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;"></td>
                                                            <td style="padding: 8px 5px 0;">
                                                                <button class="btn btn-secondary float-right" ng-disabled="expense[0].TotalAmount - expense[0].TotalAllocatedAmount == 0 || allocation.Amount == 0" ng-click="addAllocation()">ADD PAYMENT</button>
                                                            </td>
                                                        </tr>
                                                        <tr ng-show="allocationValidation">
                                                            <td colspan="2">
                                                                <p style="color: red;">Please enter valid amount</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-2-2">
                                            <div class="row">
                                                <table class="table">
                                                    <tbody class="remove-hr">
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>DATE</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="date_1">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input ng-model="allocation.Date" class="form-control" type="text">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPIRY DATE</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="date_1">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input ng-model="allocation.ExpiryDate" class="form-control" type="text">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>AMOUNT</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Amount" class="form-control" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPLANATION</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Explanation" class="form-control" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;"></td>
                                                            <td style="padding: 8px 5px 0;">
                                                                <button class="btn btn-secondary float-right" ng-disabled="expense[0].TotalAmount - expense[0].TotalAllocatedAmount == 0 || allocation.Amount == 0" ng-click="addAllocation()">ADD PAYMENT</button>
                                                            </td>
                                                        </tr>
                                                        <tr ng-show="allocationValidation">
                                                            <td colspan="2">
                                                                <p style="color: red;">Please enter valid amount</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-1 mb-3">
                            </div>
                            <ul class="timeline">
                                <li class="timeline-item">
                                    <table class="table" style="margin-bottom: 0;">
                                        <tbody>
                                            <tr>
                                                <td colspan="3">Remaining Amount</td>
                                                <td style="text-align: right;">{{ (summary.GrandTotal - expense[0].TotalAllocatedAmount).toFixed(2) }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Due Date</td>
                                                <td style="text-align: right;">{{ expense[0].DueDate }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"><a data-toggle="modal" data-target="#new-mail-modal" href="javascript:;">Request Collection</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>






        <!-- /.box -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>



    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
