﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="InvoiceController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Invoice</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Settings</li>
                <li class="breadcrumb-item">Invoice</li>
            </ol>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">

        <div class="page-content fade-in-up" ng-show="visibility.invoiceList">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">INVOICES</div>
                    <button class="btn btn-secondary float-right" ng-click="invoiceForm('create')">CREATE NEW INVOICE</button>
                </div>
                <div class="ibox-body">
                    <div class="table-responsive row">
                        <table class="table table-hover" id="datatable">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Description</th>
                                    <th>Due Date</th>
                                    <th>Status</th>
                                    <th>Remaining Amount</th>
                                    <th>Total</th>
                                    <th class="no-sort"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in invoiceHeaderList" ng-click="invoiceInformation(invoice.InvoiceHeaderId)" ng-style="((invoice.TotalAmount - invoice.TotalAllocatedAmount) == invoice.TotalAmount) && { color: 'red' }">
                                    <td></td>
                                    <td>{{ invoice.Description }}</td>
                                    <td>{{ invoice.DueDate }}</td>
                                    <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == invoice.TotalAmount">UNPAID</td>
                                    <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) < invoice.TotalAmount && (invoice.TotalAmount - invoice.TotalAllocatedAmount) != 0">PARTIALLY PAID</td>
                                    <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == 0">FULLY PAID</td>
                                    <td style="text-align: right;">{{ (invoice.TotalAmount - invoice.TotalAllocatedAmount).toFixed(2) }} <i ng-repeat="currency in currencies | filter : { index: invoice.CurrencyId }" class="{{ currency.symbol }}"></i></td>
                                    <td style="text-align: right;">{{ (invoice.TotalAmount).toFixed(2) }} <i ng-repeat="currency in currencies | filter : { index: invoice.CurrencyId }" class="{{ currency.symbol }}"></i></td>
                                    <td style="text-align: right;"><a class="fa fa-pencil-square-o" href="" ng-click="invoiceInformation(invoice.InvoiceHeaderId)"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-content fade-in-up" ng-show="visibility.invoiceForm">

            <div class="ibox">

                <div class="ibox-head">
                    <div class="ibox-title">Create a new Invoice</div>
                    <div class="btn-group">
                        <div class="btn btn-outline-secondary" ng-click="Cancel()">CANCEL</div>
                        <div class="btn btn-outline-secondary" ng-click="createInvoice()">SAVE</div>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table">
                                <tbody class="remove-hr">
                                    <tr>
                                        <td><b>INVOICE DESCRIPTION</b></td>
                                        <td>
                                            <input class="form-control" type="text" placeholder="" ng-model="invoiceHeader.Description">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 .75rem 0 .75rem;"><b>CUSTOMER</b></td>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <input class="form-control"
                                                   ng-blur="setCustomer()"
                                                   autocomplete="off"
                                                   ng-model="selectedCustomer"
                                                   id="ddlcustomer" placeholder="Select Customer">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td ng-if="visibility.addCustomerInformation">
                                            <div>
                                                <p>
                                                    No customer found with this name,
                                                    <br />
                                                    a new customer will be added.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <b>CUSTOMER INFORMATION</b>
                                        </td>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <label ng-if="!visibility.addCustomerInformation">{{ invoiceHeader.CustomerAddress }}  -  {{ invoiceHeader.CustomerPhone }}</label>
                                            <button ng-if="visibility.addCustomerInformation" data-toggle="modal" data-target="#customerInformation" class="btn btn-secondary btn-sm">Add Customer Information</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 .75rem 0 .75rem;"><b>DATE OF ISSUE</b></td>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <div class="form-group" id="date_1">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="invoiceHeader.Date">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 .75rem 0 .75rem;"><b>EXPIRY DATE</b></td>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <div class="btn-group-sm">
                                                <div class="btn btn-secondary" id="set_date_today">TODAY</div>
                                                <div class="btn btn-secondary" id="set_date_7">7 DAYS</div>
                                                <div class="btn btn-secondary" id="set_date_14">14 DAYS</div>
                                                <div class="btn btn-secondary" id="set_date_30">30 DAYS</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 .75rem 0 .75rem;"></td>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <div class="form-group" id="date_2">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="invoiceHeader.DueDate">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>CURRENCY</b></td>
                                        <td>
                                            {{ selectedCurrency }}
                                            <span ng-if="invoiceHeader.CurrencyRate != 1">(1 {{ selectedCurrency }} = {{ invoiceHeader.CurrencyRate }} LIRA)</span>
                                            <button class="btn btn-secondary btn-sm dropdown-toggle float-right" data-toggle="dropdown">CHANGE CURRENCY</button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" ng-model="currencies.LIRA" ng-click="setCurrency(0)">TURKISH LIRA</a>
                                                <a class="dropdown-item" ng-model="currencies.USD" ng-click="setCurrency(1)">US DOLLAR</a>
                                                <a class="dropdown-item" ng-model="currencies.EURO" ng-click="setCurrency(2)">EURO</a>
                                                <a class="dropdown-item" ng-model="currencies.POND" ng-click="setCurrency(3)">BRITISH POND</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Customer Modal -->
                        <div id="customerInformation" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Customer Information</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table">
                                            <tbody class="remove-hr">
                                                <tr>
                                                    <td><b>COMPANY TITLE</b></td>
                                                    <td>
                                                        <input class="form-control" type="text" ng-model="CustomerViewModel.CompanyTitle" value="{{ CustomerViewModel.CompanyTitle }}">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>SHORT NAME</b></td>
                                                    <td>
                                                        <input class="form-control" type="text" ng-model="CustomerViewModel.ShortName" value="{{ CustomerViewModel.ShortName }}">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0 .75rem 0 .75rem;"><b>CATEGORY</b></td>
                                                    <td style="padding: 0 .75rem 0 .75rem;">
                                                        <input class="form-control"
                                                               autocomplete="off"
                                                               ng-model="selectedCustomerCategory"
                                                               ng-blur="setCategory(undefined, 'customer')"
                                                               id="ddlCustomerCategory"
                                                               placeholder="Select Category" value="{{ selectedCustomerCategory }}">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>PHONE NUMBER</b></td>
                                                    <td>
                                                        <input class="form-control" type="text" ng-model="CustomerViewModel.PhoneNumber" value="{{ CustomerViewModel.PhoneNumber }}">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>OPEN ADDRESS</b></td>
                                                    <td>
                                                        <textarea class="form-control" ng-model="CustomerViewModel.Address" rows="3">{{ CustomerViewModel.Address }}</textarea>
                                                    </td>
                                                </tr>
                                                <tr ng-show="!visibility.addressAbroad">
                                                    <td><b>DISTRICT, PROVINCE</b></td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="input-group">
                                                                    <input class="form-control" placeholder="DISTRICT" style="width: 50px;" type="text" ng-model="CustomerViewModel.District" value="{{ CustomerViewModel.District }}">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="input-group">
                                                                    <input class="form-control" placeholder="PROVINCE" type="text" ng-model="CustomerViewModel.Province" value="{{ CustomerViewModel.Province }}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><b>TOUR</b></td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label class="radio" style="top: 6px;">
                                                                <input ng-change="customerType()" ng-checked="true" ng-model="someVar" type="radio" value="true" name="a">
                                                                <span class="input-span"></span>Legal entity
                                                            </label>
                                                            <label class="radio" style="top: 6px; left: 15px">
                                                                <input ng-change="customerType()" ng-model="someVar" type="radio" value="false" name="b">
                                                                <span class="input-span"></span>Real Person
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>VKN / TCKN</b></td>
                                                    <td>
                                                        <input class="form-control" type="text" ng-model="CustomerViewModel.VKN" value="{{ CustomerViewModel.VKN }}">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>TAX ADMINISTRATION</b></td>
                                                    <td>
                                                        <input class="form-control" type="text" ng-model="CustomerViewModel.Tax" value="{{ CustomerViewModel.Tax }}">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>



                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="page-content fade-in-up">
                                <div class="ibox">
                                    <div class="ibox-body" style="background-color: #e9ecef;">
                                        <div class="form-group mb-4">
                                            <label>INVOICE CATEGORY</label>
                                            <input class="form-control"
                                                   autocomplete="off"
                                                   ng-model="selectedCategory"
                                                   ng-blur="setCategory(undefined, 'invoice')"
                                                   id="ddlCategory"
                                                   placeholder="Select Category">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                    <hr />

                    <div class="table-responsive row">
                        <table class="table table-bordered">
                            <thead class="thead-default thead-lg">
                                <tr>
                                    <th>SERVICE / PRODUCT</th>
                                    <th>QUANTITY</th>
                                    <th>PRICE</th>
                                    <th>DISCOUNT%</th>
                                    <th>TAX%</th>
                                    <th>TOTAL</th>
                                    <th class="no-sort"></th>
                                    <th class="no-sort"></th>
                                </tr>
                            </thead>

                            <tbody ng-repeat="row in rows track by $index">
                                <tr>
                                    <td>
                                        <input class="form-control" autocomplete="off" ng-model="row.ProductName" ng-blur="setProduct($index)" id="ddlProduct{{ + $index}}" placeholder="Select Product">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" ng-change="calculate($index)" ng-model="row.Quantity">
                                    </td>
                                    <!--<td ng-if="row.ProductName != ''">
                                        <div ng-repeat="product in allProducts | filter : {ProductId: row.ProductId} : true" class="input-group-icon input-group-icon-right">
                                            <span class="input-icon input-icon-right">
                                                <i ng-class="{'la la-turkish-lira': product.SalesCurrencyId == 0 || product.SalesCurrencyId == undefined,
                                                                'la la-dollar': product.SalesCurrencyId == 1,
                                                                'la la-euro': product.SalesCurrencyId == 2,
                                                                'la la-gbp': product.SalesCurrencyId == 3 }"></i>
                                            </span>
                                            <input class="form-control" type="text" ng-change="calculate($index)" ng-readonly="true" ng-model="row.UnitPrice">
                                        </div>
                                    </td>
                                    <td ng-if="row.ProductName == ''">
                                        <div class="input-group-icon input-group-icon-right">
                                            <span class="input-icon input-icon-right"><i class="la la-turkish-lira"></i></span>
                                            <input class="form-control" type="text" ng-change="calculate($index)" ng-readonly="true" ng-model="row.UnitPrice">
                                        </div>
                                    </td>-->
                                    <td>
                                        <div class="input-group-icon input-group-icon-right">
                                            <span class="input-icon input-icon-right"><i class="{{ currencySymbol }}"></i></span>
                                            <input class="form-control" type="text" ng-change="calculate($index)" ng-model="row.UnitPrice">
                                        </div>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" ng-change="calculate($index)" ng-model="row.DiscountPerc">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" ng-change="calculate($index)" ng-model="row.TaxPerc">
                                    </td>
                                    <!--<td ng-if="row.ProductName != ''">
                                        <div ng-repeat="product in allProducts | filter : {ProductId: row.ProductId} : true" class="input-group-icon input-group-icon-right">
                                            <span class="input-icon input-icon-right">
                                                <i ng-class="{'la la-turkish-lira': product.SalesCurrencyId == 0 || product.SalesCurrencyId == undefined,
                                                                'la la-dollar': product.SalesCurrencyId == 1,
                                                                'la la-euro': product.SalesCurrencyId == 2,
                                                                'la la-gbp': product.SalesCurrencyId == 3 }"></i>
                                            </span>
                                            <input class="form-control" type="text" ng-change="setSubTotal()" ng-readonly="true" ng-model="row.Amount">
                                        </div>
                                    </td>
                                    <td ng-if="row.ProductName == ''">
                                        <div class="input-group-icon input-group-icon-right">
                                            <span class="input-icon input-icon-right"><i class="la la-turkish-lira"></i></span>
                                            <input class="form-control" type="text" ng-change="setSubTotal()" ng-readonly="true" ng-model="row.Amount">
                                        </div>
                                    </td>-->
                                    <td>
                                        <div class="input-group-icon input-group-icon-right">
                                            <span class="input-icon input-icon-right"><i class="{{ currencySymbol }}"></i></span>
                                            <input class="form-control" type="text" ng-change="setSubTotal()" ng-readonly="true" ng-model="row.Amount">
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i></button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ng-click="addDescription($index, row)">ADD DESCRIPTION</a>
                                            <a class="dropdown-item" ng-click="addUnit($index, row)">ADD UNIT</a>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-secondary btn-sm" ng-click="removeRow($index)"><i class="fa fa-times"></i></button>
                                    </td>
                                    <!--<div>
                                        <table>
                                            <tr>
                                                <td colspan="2" ng-if="row.descriptioncheck">
                                                    <div class="input-group mb-3">
                                                        <input class="form-control" type="text" ng-model="rows[descriptionIndex].Description" placeholder="Description">
                                                        <button class="btn btn-secondary btn-sm float-right" ng-click="visibility.invoiceDetailDescription = false"><i class="fa fa-times"></i></button>
                                                    </div>
                                                </td>
                                                <td ng-if="visibility.invoiceDetailUnit">
                                                    <div class="input-group mb-3">
                                                        <input class="form-control" type="text" ng-model="rows[descriptionIndex].Unit" placeholder="Unit">
                                                        <button class="btn btn-secondary btn-sm float-right" ng-click="visibility.invoiceDetailUnit = false"><i class="fa fa-times"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>-->
                                </tr>
                                <tr>
                                    <td ng-if="row.descriptioncheck">
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" ng-model="row.Description" placeholder="Description">
                                            <button class="btn btn-secondary btn-sm float-right" ng-click="removeDescription($index, row);"><i class="fa fa-times"></i></button>
                                        </div>
                                    </td>
                                    <td ng-if="row.unitcheck">
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" ng-model="row.Unit" placeholder="Unit">
                                            <button class="btn btn-secondary btn-sm float-right" ng-click="removeUnit($index, row);"><i class="fa fa-times"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <button class="btn btn-secondary" ng-click="addNewRow()">ADD NEW ROW</button>

                    </div>

                    <div class="row" ng-show="visibility.totalSection">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <ul class="timeline">
                                <hr>
                                <li class="timeline-item">
                                    <table class="table" style="margin-bottom: 0;">
                                        <tr>
                                            <td><strong>Sub Total</strong></td>
                                            <td>
                                                <label class="float-right"><strong>{{ (summary.SubTotal).toFixed(2) }}<i class="{{ currencySymbol }}"></i></strong></label>
                                            </td>
                                        </tr>
                                        <tr ng-if="(row.UnitPrice * row.DiscountPerc / 100) > 0" ng-repeat="row in rows">
                                            <td>Line Discount ( {{ row.DiscountPerc }} %)</td>
                                            <td>
                                                <label class="float-right">{{ (row.UnitPrice * row.Quantity * row.DiscountPerc) / 100 }}</label>
                                            </td>
                                        </tr>
                                        <tr ng-if="summary.TotalDiscount > 0">
                                            <td><strong>Gross Total</strong></td>
                                            <td>
                                                <label class="float-right"><strong>{{ summary.SubTotal - summary.TotalDiscount }}</strong></label>
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                                <hr ng-if="summary.TotalTax > 0">
                                <li ng-if="summary.TotalTax > 0" class="timeline-item">
                                    <table class="table" style="margin-bottom: 0;">
                                        <tr ng-if="(row.UnitPrice * row.TaxPerc / 100) > 0" ng-repeat="row in rows">
                                            <td>Tax ( {{ row.TaxPerc }} %)</td>
                                            <td>
                                                <label class="float-right">{{ ((((row.UnitPrice * row.Quantity) - ((row.UnitPrice * row.Quantity * row.DiscountPerc) / 100)) * row.TaxPerc / 100)).toFixed(2) }}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Total Tax</strong></td>
                                            <td>
                                                <label class="float-right"><strong>{{ (summary.TotalTax).toFixed(2) }}</strong></label>
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                                <hr>
                                <li class="timeline-item">
                                    <h4>Grand Total</h4>
                                    <label ng-model="summary.GrandTotal" class="float-right">
                                        <h4>{{ (summary.GrandTotal).toFixed(2) }} <span ng-if="selectedCurrency != LIRA" class="{{ currencySymbol }}"></span></h4>
                                    </label>
                                </li>
                                <li ng-if="invoiceHeader.CurrencyRate > 1" class="timeline-item">
                                    <h6>TL COVERAGE</h6>
                                    <label class="float-right">
                                        <h6>{{ (summary.GrandTotal * invoiceHeader.CurrencyRate).toFixed(2) }} <i class="la la-turkish-lira"></i></h6>
                                    </label>
                                </li>
                                <hr>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>





        <div class="row" ng-show="visibility.invoiceInformation">
            <div class="col-md-8">
                <div class="page-content fade-in-up">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                {{ invoiceHeader.Description }}
                            </div>
                            <button class="btn btn-secondary float-right" ng-click="invoiceForm('edit')">EDIT</button>
                        </div>
                        <div class="ibox-body" style="padding-top: 15px; padding-bottom: 15px;">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ selectedCustomer }}
                                </div>
                                <div class="col-md-4">
                                    {{ invoiceHeader.DueDate }}
                                </div>
                            </div>
                        </div>
                        <hr style="margin: 0;" />
                        <div class="ibox-body" style="padding-top: 15px; padding-bottom: 15px;">
                            <p ng-show="visibility.noInvoices">There are no invoices against this customer</p>
                            <div class="table-responsive row">
                                <table class="table table-hover" id="Table1">
                                    <thead class="thead-default thead-lg">
                                        <tr>
                                            <th>SERVICE / PRODUCT</th>
                                            <th>QUANTITY</th>
                                            <th>PRICE</th>
                                            <th>DISCOUNT%</th>
                                            <th>TAX%</th>
                                            <th>TOTAL</th>
                                        </tr>

                                        <tr ng-repeat="row in rows track by $index">
                                            <td>
                                                <label>{{ row.ProductName }}</label>
                                            </td>
                                            <td style="text-align: right;">
                                                <label>{{ row.Quantity }}</label>
                                            </td>
                                            <td style="text-align: right;">
                                                <label>{{ row.UnitPrice }}</label>
                                            </td>
                                            <td style="text-align: right;">
                                                <label>{{ row.DiscountPerc }}</label>
                                            </td>
                                            <td style="text-align: right;">
                                                <label>{{ row.TaxPerc }}</label>
                                            </td>
                                            <td style="text-align: right;">
                                                <label>{{ row.Amount }}</label>
                                            </td>
                                        </tr>

                                    </thead>
                                </table>

                            </div>
                            <div class="row" ng-show="visibility.totalSection">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <ul class="timeline">
                                        <hr>
                                        <li class="timeline-item">
                                            <table class="table" style="margin-bottom: 0;">
                                                <tr>
                                                    <td><strong>Sub Total</strong></td>
                                                    <td>
                                                        <label class="float-right"><strong>{{ summary.SubTotal }}</strong></label>
                                                    </td>
                                                </tr>
                                                <tr ng-if="(row.UnitPrice * row.DiscountPerc / 100) > 0" ng-repeat="row in rows">
                                                    <td>Line Discount ( {{ row.DiscountPerc }} %)</td>
                                                    <td>
                                                        <label class="float-right">{{ (row.UnitPrice * row.Quantity * row.DiscountPerc) / 100 }}</label>
                                                    </td>
                                                </tr>
                                                <tr ng-if="summary.TotalDiscount > 0">
                                                    <td><strong>Gross Total</strong></td>
                                                    <td>
                                                        <label class="float-right"><strong>{{ summary.SubTotal - summary.TotalDiscount }}</strong></label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <hr ng-if="summary.TotalTax > 0">
                                        <li ng-if="summary.TotalTax > 0" class="timeline-item">
                                            <table class="table" style="margin-bottom: 0;">
                                                <tr ng-if="(row.UnitPrice * row.TaxPerc / 100) > 0" ng-repeat="row in rows">
                                                    <td>Tax ( {{ row.TaxPerc }} %)</td>
                                                    <td>
                                                        <label class="float-right">{{ ((((row.UnitPrice * row.Quantity) - ((row.UnitPrice * row.Quantity * row.DiscountPerc) / 100)) * row.TaxPerc / 100)).toFixed(2) }}</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Total Tax</strong></td>
                                                    <td>
                                                        <label class="float-right"><strong>{{ (summary.TotalTax).toFixed(2) }}</strong></label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <hr>
                                        <li class="timeline-item">
                                            <h4>Grand Total</h4>
                                            <label ng-model="summary.GrandTotal" class="float-right">
                                                <h4>{{ (summary.GrandTotal).toFixed(2) }}</h4>
                                            </label>
                                        </li>
                                        <hr>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <hr style="margin: 0;" />

                    </div>
                    <div class="ibox" ng-show="visibility.allocations">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <h4>Collections</h4>
                            </div>
                        </div>

                        <div class="ibox-body" style="padding-top: 15px; padding-bottom: 15px;">
                            <div class="table-responsive row">
                                <table class="table remove-hr">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Date</th>
                                            <th>Account</th>
                                            <th>Mode</th>
                                            <!--<th>Remaining Amount</th>-->
                                            <th>Collected Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="allocation in allocations">
                                            <td>{{ allocation.Date }}</td>
                                            <td>{{ allocation.Account }}</td>
                                            <td ng-if="allocation.AllocationType == '0001'">Collection</td>
                                            <td ng-if="allocation.AllocationType == '0002'">Payment</td>
                                            <!--<td style="text-align: right;">{{ allocation.Amount }}</td>-->
                                            <td style="text-align: right;">{{ (allocation.Amount).toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="text-align: right;"><b>Remaining Amount</b></td>
                                            <td style="text-align: right;"><b>{{ (invoiceHeader.TotalAmount - invoiceHeader.TotalAllocatedAmount).toFixed(2) }}</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="page-content fade-in-up">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <button class="btn btn-white btn-icon-only btn-circle" data-toggle="dropdown">
                                        <i class="ti-angle-down"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a ng-click="deleteInvoiceById(invoiceHeader.InvoiceHeaderId)" class="dropdown-item"><i class="ti-close"></i>Delete Invoice</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group btn-group-sm float-right">
                                        <!--<button class="btn btn-secondary" data-toggle="collapse" data-target="#payment">PAYMENT</button>-->
                                        <button class="btn btn-secondary" data-toggle="collapse" data-target="#add">ADD COLLECTION</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-body" style="padding: 10px 15px 15px 15px;">
                            <!-- <div id="payment" class="collapse">
                                <div class="ibox-head">
                                    <div class="ibox-title">ADD PAYMENT</div>
                                </div>
                                <div class="ibox-body" style="padding-bottom: 0;">
                                    <ul class="nav nav-pills nav-fill">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-target="#tab-1-1" data-toggle="tab">CASH PAYMENT</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-target="#tab-1-2" data-toggle="tab">PAYMENT</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="tab-1-1">
                                            <div class="row">
                                                <table class="table">
                                                    <tbody class="remove-hr">
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>DATE</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="Div1">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input class="form-control" type="text" ng-model="invoiceHeader.Date">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>ACCOUNT</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input class="form-control" type="text" ng-model="invoiceHeader.Date"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>AMOUNT</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input class="form-control" value="0.00" type="text" ng-model="invoiceHeader.Date"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPLANATION</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input class="form-control" value="0.00" type="text" ng-model="invoiceHeader.Date"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;"></td>
                                                            <td style="padding: 8px 5px 0;">
                                                                <button class="btn btn-secondary float-right">ADD PAYMENT</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-1-2">
                                            <div class="row">
                                                <table class="table">
                                                    <tbody class="remove-hr">
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>ACCOUNT</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input class="form-control" type="text" ng-model="invoiceHeader.Date"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>DATE</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="Div1">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input class="form-control" type="text" ng-model="invoiceHeader.Date">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPIRY DATE</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="Div1">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input class="form-control" type="text" ng-model="invoiceHeader.Date">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>AMOUNT</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input class="form-control" value="0.00" type="text" ng-model="invoiceHeader.Date"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPLANATION</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input class="form-control" value="0.00" type="text" ng-model="invoiceHeader.Date"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;"></td>
                                                            <td style="padding: 8px 5px 0;">
                                                                <button class="btn btn-secondary float-right">ADD PAYMENT</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-1 mb-3">
                            </div>-->
                            <div id="add" class="collapse">
                                <div class="ibox-head">
                                    <div class="ibox-title">ADD COLLECTION</div>
                                </div>
                                <div class="ibox-body" style="padding-bottom: 0;">
                                    <ul class="nav nav-pills nav-fill">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-target="#tab-2-1" data-toggle="tab">CASH</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-target="#tab-2-2" data-toggle="tab">COLLECTION</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="tab-2-1">
                                            <div class="row">
                                                <table class="table">
                                                    <tbody class="remove-hr">
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>DATE</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="date_99">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input ng-model="allocation.Date" class="form-control" type="text">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>ACCOUNT</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Account" class="form-control" value="Safe Account" ng-readonly="true" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>AMOUNT</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Amount" class="form-control" value="{{ summary.GrandTotal }}" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPLANATION</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Explanation" class="form-control" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;"></td>
                                                            <td style="padding: 8px 5px 0;">
                                                                <button class="btn btn-secondary float-right" ng-disabled="invoiceHeader.TotalAmount - invoiceHeader.TotalAllocatedAmount == 0" ng-click="addAllocation()">ADD COLLECTION</button>
                                                            </td>
                                                        </tr>
                                                        <tr ng-show="visibility.allocationValidation">
                                                            <td colspan="2">
                                                                <p style="color: red;">Please enter valid amount</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-2-2">
                                            <div class="row">
                                                <table class="table">
                                                    <tbody class="remove-hr">
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>DATE</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="date_99">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input ng-model="allocation.Date" class="form-control" type="text">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPIRY DATE</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="date_99">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input ng-model="allocation.ExpiryDate" class="form-control" type="text">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>AMOUNT</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Amount" class="form-control" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPLANATION</b></label>
                                                            </td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Explanation" class="form-control" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;"></td>
                                                            <td style="padding: 8px 5px 0;">
                                                                <button class="btn btn-secondary float-right" ng-disabled="invoiceHeader.TotalAmount - invoiceHeader.TotalAllocatedAmount == 0" ng-click="addAllocation()">ADD COLLECTION</button>
                                                            </td>
                                                        </tr>
                                                        <tr ng-show="visibility.allocationValidation">
                                                            <td colspan="2">
                                                                <p style="color: red;">Please enter valid amount</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-1 mb-3">
                            </div>
                            <ul class="timeline">
                                <li class="timeline-item">
                                    <table class="table" style="margin-bottom: 0;">
                                        <tbody>
                                            <tr>
                                                <td colspan="3">Remaining Amount</td>
                                                <td style="text-align: right;">{{ (summary.GrandTotal - invoiceHeader.TotalAllocatedAmount).toFixed(2) }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Due Date</td>
                                                <td style="text-align: right;">{{ invoiceHeader.DueDate }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"><a data-toggle="modal" data-target="#new-mail-modal" href="javascript:;">Request Collection</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>






        <!--EMAIL MODAL-->
        <div class="modal fade" id="new-mail-modal">
            <div class="modal-dialog" role="document">
                <form class="modal-content">
                    <div class="modal-header p-4">
                        <h5 class="modal-title">NEW MESSAGE</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="flexbox mb-4">
                            <span class="btn-icon-only btn-circle bg-primary-50 text-primary mr-3"><i class="ti-support"></i></span>
                            <div class="flex-1 d-flex">
                                <!--<div class="flex-1">
                                    <span class="text-muted mr-2">From:</span>
                                    <div>support@example.com</div>
                                </div>
                                <div class="dropdown">
                                    <a class="dropdown-toggle font-16" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"><i class="ti-support"></i>support@example.com</a>
                                        <a class="dropdown-item"><i class="ti-shopping-cart"></i>shopping@example.com</a>
                                        <a class="dropdown-item"><i class="ti-help"></i>help@example.com</a>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <input class="form-control form-control-line" type="text" name="to" placeholder="Recipient">
                        </div>
                        <div class="form-group mb-4">
                            <input class="form-control form-control-line" type="text" name="subject" placeholder="Enter Subject">
                        </div>
                        <div class="form-group mb-4">
                            <textarea class="form-control form-control-line" rows="4" name="message" placeholder="Enter Message"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between bg-primary-50">
                        <div>
                            <button class="btn btn-primary btn-rounded mr-3">Send</button>
                            <!--<label class="btn btn-sm btn-transparent btn-secondary btn-icon-only btn-circle file-input mb-0">
                                <i class="la la-paperclip font-20"></i>
                                <input type="file">
                            </label>
                            <label class="btn btn-sm btn-transparent btn-secondary btn-icon-only btn-circle file-input mb-0">
                                <i class="la la-image font-20"></i>
                                <input type="file">
                            </label>
                            <button class="btn btn-sm btn-transparent btn-secondary btn-icon-only btn-circle"><i class="la la-link font-20"></i></button>-->
                        </div>
                        <!--<a class="text-danger"><i class="la la-trash font-20"></i></a>-->
                    </div>
                </form>
            </div>
        </div>





        <!-- Footer -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
