﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="ApplicationUserController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Application User

            <small>You can create user from here. It is used in visitor report.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Add/Edit User</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Select Employee</label>
                            <select class="form-control" ng-model="selectedEmployee">
                                <option value="">---Please select---</option>
                                <option ng-repeat="option in employeelist" value="{{option.Employee_ID}}">{{option.Employee_Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>User Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                <input type="text" ng-model="ApplicationUserViewModel.User_Name" class="form-control" placeholder="User Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                <input type="text" ng-model="ApplicationUserViewModel.Password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Select Role</label>
                            <select class="form-control" ng-model="selectedRole">
                                <option value="">---Please select---</option>
                                <option ng-repeat="option in rolelist" value="{{option.Role_ID}}">{{option.Role_Name}}</option>
                            </select>
                        </div>
                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="radio">
                    <label>
                        <!--<input type="checkbox" ng-model="StatusViewModel.Active">
                        Is active-->
                        <!--<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Active" checked="" ng-model="StatusViewModel.Active">&nbsp;Yes&nbsp;
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="NonActive" ng-model="StatusViewModel.Active">&nbsp No-->

                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="Active" checked>
                        Active

                    </label>
                    <label>
                        <input type="radio" name="optionsRadios" id="Radio1" value="NonActive">
                        Deactive

                    </label>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                Below are the result of all created user.

            </div>
        </div>
        <!-- /.box -->

        <div class="row">

            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Application User List</h3>
                    </div>
                    <div class="box-body">
                        <table id="applicationuserlist" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="control-label">Search User By Name</label>
                                                <input type="text" class="form-control" placeholder="" ng-model="search.User_Name">
                                            </div>
                                        </div>
                                    </div>
                                    <th>ID</th>
                                    <th>Employee Name</th>
                                    <th>Role</th>
                                    <th>User Name</th>
                                    <th>Password</th>
                                    <th>Role</th>
                                    <th>Active</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in listapplicationuser | filter:search">
                                    <td>{{item.User_ID}}</td>
                                    <td>{{item.Employee_Name}}</td>
                                    <td>{{item.Role_Name}}</td>
                                    <td>{{item.User_Name}}</td>
                                    <td>{{item.Password}}</td>
                                    <td>{{item.Role_ID}}</td>
                                    <td>{{item.Is_Active}}</td>
                                    <td style="cursor:pointer;"><a ng-click="edit(item)">Edit</a></td>

                                </tr>

                        </table>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col (right) -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
