﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="CollectionsReportController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Collections Report</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Sales</li>
                <li class="breadcrumb-item">Collections Report</li>
            </ol>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">





        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">COLLECTIONS REPORT</div>
                </div>
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-md-3" style="border: 1px solid#0000001a;">
                            <br>
                            <h6 style="text-align: center;"></h6>
                            <br>
                        </div>
                        <div class="col-md-3" style="border: 1px solid#0000001a;">
                            <br>
                            <h6 style="text-align: center;">{{ totalDelayedAmount.toFixed(2) }}</h6>
                            <br>
                        </div>
                        <div class="col-md-3" style="border: 1px solid#0000001a;">
                            <br>
                            <h6 style="text-align: center;">{{ totalDelayedAmount.toFixed(2) }}</h6>
                            <br>
                        </div>
                        <div class="col-md-3" style="border: 1px solid#0000001a;">
                            <br>
                            <h6 style="text-align: center;"></h6>
                            <br>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-1"></div>
                        <!--<div class="col-md-2" style="padding-left: 40px;">
                            <a>
                                <label style="padding-left: 10px;">Updated</label>
                                <div style="background-color: #0000001a; height: 180px; width: 90px;">
                                </div>
                                <label style="padding-left: 40px; padding-top: 8px;">0</label>
                            </a>
                        </div>-->
                        <div class="col-md-2" style="padding-left: 40px;" ng-click="setVisibility(0)">
                            <a>
                                <label style="padding-left: 10px;">1-30 DAYS</label>
                                <div style="background-color: #0000001a; height: 180px; width: 90px;" ng-class="{ 'change-bg-color': (delayedInvoicesAmount[0] > 0) }">
                                </div>
                                <label style="padding-left: 30px; padding-top: 8px;">{{ delayedInvoicesAmount[0].toFixed(2) }}</label>
                            </a>
                        </div>
                        <div class="col-md-2" style="padding-left: 40px;" ng-click="setVisibility(1)">
                            <a>
                                <label style="padding-left: 10px;">31-60 DAYS</label>
                                <div style="background-color: #0000001a; height: 180px; width: 90px;" ng-class="{ 'change-bg-color': (delayedInvoicesAmount[1] > 0) }">
                                </div>
                                <label style="padding-left: 30px; padding-top: 8px;">{{ delayedInvoicesAmount[1].toFixed(2) }}</label>
                            </a>
                        </div>
                        <div class="col-md-2" style="padding-left: 40px;" ng-click="setVisibility(2)">
                            <a>
                                <label style="padding-left: 4px;">61-90 DAYS</label>
                                <div style="background-color: #0000001a; height: 180px; width: 90px;" ng-class="{ 'change-bg-color': (delayedInvoicesAmount[2] > 0) }">
                                </div>
                                <label style="padding-left: 30px; padding-top: 8px;">{{ delayedInvoicesAmount[2].toFixed(2) }}</label>
                            </a>
                        </div>
                        <div class="col-md-2" style="padding-left: 40px;" ng-click="setVisibility(3)">
                            <a>
                                <label style="padding-left: 4px;">91-120 DAYS</label>
                                <div style="background-color: #0000001a; height: 180px; width: 90px;" ng-class="{ 'change-bg-color': (delayedInvoicesAmount[3] > 0) }">
                                </div>
                                <label style="padding-left: 30px; padding-top: 8px;">{{ delayedInvoicesAmount[3].toFixed(2) }}</label>
                            </a>
                        </div>
                        <div class="col-md-2" style="padding-left: 40px;" ng-click="setVisibility(4)">
                            <a>
                                <label style="padding-left: 10px;">120+ DAYS</label>
                                <div style="background-color: #0000001a; height: 180px; width: 90px;" ng-class="{ 'change-bg-color': (delayedInvoicesAmount[4] > 0) }">
                                </div>
                                <label style="padding-left: 30px; padding-top: 8px;">{{ delayedInvoicesAmount[4].toFixed(2) }}</label>
                            </a>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-content fade-in-up" ng-if="delayedInvoices[0].length > 0" ng-show="visibility[0]">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">30 DAYS - COLLECTIONS REPORT</div>
                </div>
                <div class="ibox-body">
                    <div class="table-responsive row">
                        <table class="table table-hover">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Description</th>
                                    <th>Due Date</th>
                                    <!--<th>Status</th>-->
                                    <th style="text-align: right;">Remaining Amount</th>
                                    <th style="text-align: right;">Total</th>
                                    <!--<th class="no-sort"></th>-->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in delayedInvoices[0]">
                                    <td></td>
                                    <td>{{ invoice.Description }}</td>
                                    <td>{{ invoice.DueDate }}</td>
                                    <!--<td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == invoice.TotalAmount">UNPAID</td>
                                    <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) < invoice.TotalAmount && (invoice.TotalAmount - invoice.TotalAllocatedAmount) != 0">PARTIALLY PAID</td>
                                    <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == 0">FULLY PAID</td>-->
                                    <td style="text-align: right;">{{ (invoice.TotalAmount - invoice.TotalAllocatedAmount).toFixed(2) }}</td>
                                    <td style="text-align: right;">{{ (invoice.TotalAmount).toFixed(2) }}</td>
                                    <!--<td style="text-align: right;"><a class="fa fa-pencil-square-o" href="" ng-click="invoiceInformation(invoice.InvoiceHeaderId)"></a></td>-->
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content fade-in-up" ng-if="delayedInvoices[1].length > 0" ng-show="visibility[1]">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">60 DAYS - COLLECTIONS REPORT</div>
                </div>
                <div class="ibox-body">
                    <div class="table-responsive row">
                        <table class="table table-hover">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Description</th>
                                    <th>Due Date</th>
                                    <!--<th>Status</th>-->
                                    <th style="text-align: right;">Remaining Amount</th>
                                    <th style="text-align: right;">Total</th>
                                    <!--<th class="no-sort"></th>-->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in delayedInvoices[1]">
                                    <td></td>
                                    <td>{{ invoice.Description }}</td>
                                    <td>{{ invoice.DueDate }}</td>
                                    <!--<td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == invoice.TotalAmount">UNPAID</td>
                                <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) < invoice.TotalAmount && (invoice.TotalAmount - invoice.TotalAllocatedAmount) != 0">PARTIALLY PAID</td>
                                <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == 0">FULLY PAID</td>-->
                                    <td style="text-align: right;">{{ (invoice.TotalAmount - invoice.TotalAllocatedAmount).toFixed(2) }}</td>
                                    <td style="text-align: right;">{{ (invoice.TotalAmount).toFixed(2) }}</td>
                                    <!--<td style="text-align: right;"><a class="fa fa-pencil-square-o" href="" ng-click="invoiceInformation(invoice.InvoiceHeaderId)"></a></td>-->
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content fade-in-up" ng-if="delayedInvoices[2].length > 0" ng-show="visibility[2]">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">90 DAYS - COLLECTIONS REPORT</div>
                </div>
                <div class="ibox-body">
                    <div class="table-responsive row">
                        <table class="table table-hover">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Description</th>
                                    <th>Due Date</th>
                                    <!--<th>Status</th>-->
                                    <th style="text-align: right;">Remaining Amount</th>
                                    <th style="text-align: right;">Total</th>
                                    <!--<th class="no-sort"></th>-->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in delayedInvoices[2]">
                                    <td></td>
                                    <td>{{ invoice.Description }}</td>
                                    <td>{{ invoice.DueDate }}</td>
                                    <!--<td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == invoice.TotalAmount">UNPAID</td>
                                <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) < invoice.TotalAmount && (invoice.TotalAmount - invoice.TotalAllocatedAmount) != 0">PARTIALLY PAID</td>
                                <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == 0">FULLY PAID</td>-->
                                    <td style="text-align: right;">{{ (invoice.TotalAmount - invoice.TotalAllocatedAmount).toFixed(2) }}</td>
                                    <td style="text-align: right;">{{ (invoice.TotalAmount).toFixed(2) }}</td>
                                    <!--<td style="text-align: right;"><a class="fa fa-pencil-square-o" href="" ng-click="invoiceInformation(invoice.InvoiceHeaderId)"></a></td>-->
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content fade-in-up" ng-if="delayedInvoices[3].length > 0" ng-show="visibility[3]">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">120 DAYS - COLLECTIONS REPORT</div>
                </div>
                <div class="ibox-body">
                    <div class="table-responsive row">
                        <table class="table table-hover">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Description</th>
                                    <th>Due Date</th>
                                    <!--<th>Status</th>-->
                                    <th style="text-align: right;">Remaining Amount</th>
                                    <th style="text-align: right;">Total</th>
                                    <!--<th class="no-sort"></th>-->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in delayedInvoices[3]">
                                    <td></td>
                                    <td>{{ invoice.Description }}</td>
                                    <td>{{ invoice.DueDate }}</td>
                                    <!--<td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == invoice.TotalAmount">UNPAID</td>
                                <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) < invoice.TotalAmount && (invoice.TotalAmount - invoice.TotalAllocatedAmount) != 0">PARTIALLY PAID</td>
                                <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == 0">FULLY PAID</td>-->
                                    <td style="text-align: right;">{{ (invoice.TotalAmount - invoice.TotalAllocatedAmount).toFixed(2) }}</td>
                                    <td style="text-align: right;">{{ (invoice.TotalAmount).toFixed(2) }}</td>
                                    <!--<td style="text-align: right;"><a class="fa fa-pencil-square-o" href="" ng-click="invoiceInformation(invoice.InvoiceHeaderId)"></a></td>-->
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content fade-in-up" ng-if="delayedInvoices[4].length > 0" ng-show="visibility[4]">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">120 PLUS DAYS - COLLECTIONS REPORT</div>
                </div>
                <div class="ibox-body">
                    <div class="table-responsive row">
                        <table class="table table-hover">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Description</th>
                                    <th>Due Date</th>
                                    <!--<th>Status</th>-->
                                    <th style="text-align: right;">Remaining Amount</th>
                                    <th style="text-align: right;">Total</th>
                                    <th></th>
                                    <!--<th class="no-sort"></th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in delayedInvoices[4]">
                                    <td></td>
                                    <td>{{ invoice.Description }}</td>
                                    <td>{{ invoice.DueDate }}</td>
                                    <!--<td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == invoice.TotalAmount">UNPAID</td>
                                <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) < invoice.TotalAmount && (invoice.TotalAmount - invoice.TotalAllocatedAmount) != 0">PARTIALLY PAID</td>
                                <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == 0">FULLY PAID</td>-->
                                    <td style="text-align: right;">{{ (invoice.TotalAmount - invoice.TotalAllocatedAmount).toFixed(2) }}</td>
                                    <td style="text-align: right;">{{ (invoice.TotalAmount).toFixed(2) }}</td>
                                    <td></td>
                                    <!--<td style="text-align: right;"><a class="fa fa-pencil-square-o" href="" ng-click="invoiceInformation(invoice.InvoiceHeaderId)"></a></td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



        <!-- Footer -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
