﻿

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="UserController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">User</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Settings</li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item">User</li>
            </ol>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">



        <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ibox-fullheight">
                            <div class="ibox-head">
                                <div class="ibox-title">
                                    <span class="ng-binding">User Details</span>
                                </div>
                                <button class="btn btn-secondary float-right">EDIT</button>
                            </div>
                            <div class="ibox-body">

                                <div class="row">

                                    <div class="col-md-4">
                                        <b>NAME</b>
                                            <br>
                                            <br>
                                        <b>EMAIL</b>
                                            <br>
                                            <br>
                                        <b>STATUS</b>
                                    </div>

                                    <div class="col-md-4">
                                        <span>{{ UserDetailsViewModel.Name }}</span>
                                            <br>
                                            <br>
                                        <span>{{ UserDetailsViewModel.Email }}</span>
                                            <br>
                                            <br>
                                        <span>{{ UserDetailsViewModel.UserStatusTypeCode }}</span>
                                    </div>

                                    <div class="col-md-4">
                                    </div>

                                </div>

                            </div>

                            <hr>

                            <div class="ibox-body">

                                <div class="row">

                                    <div class="col-md-4">
                                        <b>CASH AND BANKS</b>
                                            <br>
                                            <br>
                                        <b>SALES</b>
                                            <br>
                                            <br>
                                        <b>EXPENSES</b>
                                            <br>
                                            <br>
                                        <b>EMPLOYEES</b>
                                    </div>

                                    <div class="col-md-4">
                                        <span>Can Perform All Transactions</span>
                                            <br>
                                            <br>
                                        <span>Can Perform All Transactions</span>
                                            <br>
                                            <br>
                                        <span>Can Perform All Transactions</span>
                                            <br>
                                            <br>
                                        <span>Can Perform All Transactions</span>
                                    </div>

                                    <div class="col-md-4">
                                    </div>


                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>








        <!-- Footer -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>



    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
