﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="UserController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Users</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Settings</li>
                <li class="breadcrumb-item">Users</li>
            </ol>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">



        <div class="page-content fade-in-up">
            <div class="row">

                <div class="col-md-12">
                    <div class="ibox" ng-show="Visibilty.List">
                        <div class="ibox-head">
                            <div class="ibox-title">Users</div>
                            <button class="btn btn-secondary float-right" ng-click="Invite()">INVITE USER</button>
                        </div>
                        <div class="ibox-body">
                            <table class="table">
                                <thead class="thead-default">
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in Users">
                                        <td>{{ user.UserId }}</td>
                                        <td>{{ user.Name }}</td>
                                        <td>{{ user.Email }}</td>
                                        <td ng-if="user.UserStatusTypeCode == 0001">Account Owner</td>
                                        <td ng-if="user.UserStatusTypeCode == 0002">Employee</td>
                                        <td ng-if="user.UserStatusTypeCode == 0003">User Invited</td>
                                        <td><a class="fa fa-pencil-square-o" href="" ng-click="Details(user.Email)"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="ibox" ng-show="Visibilty.Details">
                        <div class="ibox-head">
                            <div class="ibox-title">Users</div>
                            <button class="btn btn-secondary float-right" ng-click="Edit(UserViewModel.UserId)">EDIT</button>
                        </div>
                        <div class="ibox-body">

                            <div class="row">

                                <div class="col-md-4">
                                    <b>NAME</b>
                                    <br>
                                    <br>
                                    <b>EMAIL</b>
                                    <br>
                                    <br>
                                    <b>STATUS</b>
                                </div>

                                <div class="col-md-4">
                                    <span>{{ UserViewModel.Name }}</span>
                                    <br>
                                    <br>
                                    <span>{{ UserViewModel.Email }}</span>
                                    <br>
                                    <br>
                                    <span ng-if="UserViewModel.UserStatusTypeCode == 0001">Account Owner</span>
                                    <span ng-if="UserViewModel.UserStatusTypeCode == 0002">Employee</span>
                                    <span ng-if="UserViewModel.UserStatusTypeCode == 0003">User Invited</span>
                                </div>

                                <div class="col-md-4">
                                </div>

                            </div>

                        </div>

                        <hr />

                        <div class="ibox-body">

                            <div class="row">

                                <div class="col-md-4">
                                    <b>CASH AND BANKS</b>
                                    <br>
                                    <br>
                                    <b>SALES</b>
                                    <br>
                                    <br>
                                    <b>EXPENSES</b>
                                    <br>
                                    <br>
                                    <b>EMPLOYEES</b>
                                </div>

                                <div class="col-md-4">
                                    <span ng-if="UserViewModel.CashBankTransaction == 0001">Can Perform All Transactions</span>
                                    <span ng-if="UserViewModel.CashBankTransaction == 0002">Only Visible</span>
                                    <span ng-if="UserViewModel.CashBankTransaction == 0003">No Authorization</span>
                                    <br>
                                    <br>
                                    <span ng-if="UserViewModel.SalesTransaction == 0001">Can Perform All Transactions</span>
                                    <span ng-if="UserViewModel.SalesTransaction == 0002">Only Visible</span>
                                    <span ng-if="UserViewModel.SalesTransaction == 0003">No Authorization</span>
                                    <br>
                                    <br>
                                    <span ng-if="UserViewModel.ExpenseTransaction == 0001">Can Perform All Transactions</span>
                                    <span ng-if="UserViewModel.ExpenseTransaction == 0002">Only Visible</span>
                                    <span ng-if="UserViewModel.ExpenseTransaction == 0003">No Authorization</span>
                                    <br>
                                    <br>
                                    <span ng-if="UserViewModel.EmployeesTransaction == 0001">Can Perform All Transactions</span>
                                    <span ng-if="UserViewModel.EmployeesTransaction == 0002">Only Visible</span>
                                    <span ng-if="UserViewModel.EmployeesTransaction == 0003">No Authorization</span>
                                </div>

                                <div class="col-md-4">
                                </div>


                            </div>

                        </div>



                    </div>


                    <div class="ibox" ng-show="Visibilty.Edit">
                        <div class="ibox-head">
                            <div class="ibox-title">Users</div>
                            <button class="btn btn-secondary float-right" ng-click="SaveEdit()">SAVE</button>
                        </div>
                        <div class="ibox-body">

                            <div class="row">

                                <div class="col-md-8">

                                    <table class="table">
                                        <tbody class="remove-hr">
                                            <tr>
                                                <td><b>NAME</b></td>
                                                <td><input class="form-control" type="text" ng-model="UserViewModel.Name" placeholder="Base input" value="{{ UserViewModel.Name }}"></td>
                                            </tr>
                                            <tr>
                                                <td><b>AUTHORITY</b></td>
                                                <td ng-if="UserViewModel.UserStatusTypeCode == 0001">Account Owner</td>
                                                <td ng-if="UserViewModel.UserStatusTypeCode == 0002">Employee</td>
                                                <td ng-if="UserViewModel.UserStatusTypeCode == 0003">Invited</td>
                                            </tr>
                                            <tr>
                                                <td><b>E-MAIL ADDRESS</b></td>
                                                <td>{{ UserViewModel.Email }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-2"></div>
                                <div class="col-md-2"></div>

                            </div>

                        </div>

                        <hr />

                        <div class="ibox-body">

                            <div class="row">

                                <div class="col-md-8">

                                    <table class="table">
                                        <tbody class="remove-hr">
                                            <tr>
                                                <td><b>CASH AND BANKS</b></td>
                                                <td ng-if="UserViewModel.UserStatusTypeCode != 0001">
                                                    <select class="form-control" ng-model="UserViewModel.CashBankTransaction">
                                                        <option value="0001">Can Perform All Transactions</option>
                                                        <option value="0002">Only Visible</option>
                                                        <option value="0003">No Authorization</option>
                                                    </select>
                                                </td>
                                                <td ng-if="UserViewModel.UserStatusTypeCode == 0001">
                                                    <span ng-if="UserViewModel.CashBankTransaction == 0001">Can Perform All Transactions</span>
                                                    <span ng-if="UserViewModel.CashBankTransaction == 0002">Only Visible</span>
                                                    <span ng-if="UserViewModel.CashBankTransaction == 0003">No Authorization</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>SALES</b></td>

                                                <td ng-if="UserViewModel.UserStatusTypeCode != 0001">
                                                    <select class="form-control" ng-model="UserViewModel.SalesTransaction">
                                                        <option value="0001">Can Perform All Transactions</option>
                                                        <option value="0002">Only Visible</option>
                                                        <option value="0003">No Authorization</option>
                                                    </select>
                                                </td>
                                                <td ng-if="UserViewModel.UserStatusTypeCode == 0001">
                                                    <span ng-if="UserViewModel.SalesTransaction == 0001">Can Perform All Transactions</span>
                                                    <span ng-if="UserViewModel.SalesTransaction == 0002">Only Visible</span>
                                                    <span ng-if="UserViewModel.SalesTransaction == 0003">No Authorization</span>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><b>EXPENSES</b></td>
                                                <td ng-if="UserViewModel.UserStatusTypeCode != 0001">
                                                    <select class="form-control" ng-model="UserViewModel.ExpenseTransaction">
                                                        <option value="0001">Can Perform All Transactions</option>
                                                        <option value="0002">Only Visible</option>
                                                        <option value="0003">No Authorization</option>
                                                    </select>
                                                </td>
                                                <td ng-if="UserViewModel.UserStatusTypeCode == 0001">
                                                    <span ng-if="UserViewModel.ExpenseTransaction == 0001">Can Perform All Transactions</span>
                                                    <span ng-if="UserViewModel.ExpenseTransaction == 0002">Only Visible</span>
                                                    <span ng-if="UserViewModel.ExpenseTransaction == 0003">No Authorization</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>EMPLOYEES</b></td>
                                                <td ng-if="UserViewModel.UserStatusTypeCode != 0001">
                                                    <select class="form-control" ng-model="UserViewModel.EmployeesTransaction">
                                                        <option value="0001">Can Perform All Transactions</option>
                                                        <option value="0002">Only Visible</option>
                                                        <option value="0003">No Authorization</option>
                                                    </select>
                                                </td>
                                                <td ng-if="UserViewModel.UserStatusTypeCode == 0001">
                                                    <span ng-if="UserViewModel.EmployeesTransaction == 0001">Can Perform All Transactions</span>
                                                    <span ng-if="UserViewModel.EmployeesTransaction == 0002">Only Visible</span>
                                                    <span ng-if="UserViewModel.EmployeesTransaction == 0003">No Authorization</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-2"></div>
                                <div class="col-md-2"></div>

                            </div>

                        </div>


                    </div>

                    <div class="ibox" ng-show="Visibilty.Invite">

                        <div class="ibox-head">
                            <div class="ibox-title">Users</div>
                            <button class="btn btn-secondary float-right" ng-click="InviteUser()">INVITE</button>
                        </div>
                        <div class="ibox-body">

                            <div class="row">

                                <div class="col-md-8">

                                    <table class="table">
                                        <tbody class="remove-hr">
                                            <tr>
                                                <td><b>NAME</b></td>
                                                <td><input class="form-control" type="text" placeholder="Name" ng-model="UserViewModel.Name"></td>
                                            </tr>
                                            <tr>
                                                <td><b>E-MAIL ADDRESS</b></td>
                                                <td><input class="form-control" type="text" placeholder="Email" ng-model="UserViewModel.Email"></td>
                                            </tr>
                                            <tr>
                                                <td><b>PASSWORD</b></td>
                                                <td><input class="form-control" type="password" placeholder="Password" ng-model="UserViewModel.Password"></td>
                                            </tr>
                                            <tr>
                                                <td><b>CASH AND BANKS</b></td>
                                                <td>
                                                    <select class="form-control" ng-model="UserViewModel.CashBankTransaction">
                                                        <option value="0001">Can Perform All Transactions</option>
                                                        <option value="0002">Only Visible</option>
                                                        <option value="0003">No Authorization</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>SALES</b></td>
                                                <td>
                                                    <select class="form-control" ng-model="UserViewModel.SalesTransaction">
                                                        <option value="0001">Can Perform All Transactions</option>
                                                        <option value="0002">Only Visible</option>
                                                        <option value="0003">No Authorization</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>EXPENSES</b></td>
                                                <td>
                                                    <select class="form-control" ng-model="UserViewModel.ExpenseTransaction">
                                                        <option value="0001">Can Perform All Transactions</option>
                                                        <option value="0002">Only Visible</option>
                                                        <option value="0003">No Authorization</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>EMPLOYEES</b></td>
                                                <td>
                                                    <select class="form-control" ng-model="UserViewModel.EmployeesTransaction">
                                                        <option value="0001">Can Perform All Transactions</option>
                                                        <option value="0002">Only Visible</option>
                                                        <option value="0003">No Authorization</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-2"></div>
                                <div class="col-md-2"></div>

                            </div>

                        </div>


                    </div>



                </div>



            </div>
        </div>









        <!-- Footer -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>



    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
