﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="CompanyEditController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Company Info</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Settings</li>
                <li class="breadcrumb-item">Company Edit</li>
            </ol>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">


        <div class="page-content fade-in-up">

            <div class="ibox">

                <div class="ibox-head">
                    <div class="ibox-title">Edit Your Company Details</div>
                    <div class="btn-group">
                        <div class="btn btn-outline-secondary btn-sm" ng-click="Cancel()">CANCEL</div>
                        <div class="btn btn-outline-secondary btn-sm" ng-click="SaveChanges()">SAVE</div>
                    </div>
                </div>
                <div class="ibox-body">

                    <div class="row">

                        <div class="col-md-8">

                            <table class="table">
                                <tbody class="remove-hr">
                                    <tr>
                                        <td><b>COMPANY NAME</b></td>
                                        <td>
                                            <input class="form-control" type="text" placeholder="Name" ng-model="CompanyViewModel.CompanyName"></td>
                                    </tr>
                                    <tr>
                                        <td><b>COMPANY LOGO</b></td>
                                        <!--<td>
                                            <div class="container">
                                                <img src="../../../../assets/img/image.png" class="img-thumbnail" alt="Your Company's Logo" width="204" height="136">
                                            </div>
                                        </td>-->
                                        <td>
                                            <!--<button class="btn btn-secondary">Upload Logo</button>-->
                                            <!--<input id="fileupload" name="input-b5[]" type="file" multiple>-->
                                            <div id="fileuploader">Upload</div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!--<b>COMPANY LOGO</b>-->
                                        </td>
                                        <td>
                                            <div class="container">
                                                <img src="../../../../assets/img/image.png" class="img-thumbnail" alt="Your Company's Logo" width="204" height="136">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>COMMERCIAL TITLE</b></td>
                                        <td>
                                            <input class="form-control" type="text" placeholder="Title" ng-model="CompanyViewModel.CommercialTitle"></td>
                                    </tr>
                                    <tr>
                                        <td><b>SECTOR</b></td>
                                        <td>
                                            <select class="form-control" ng-model="CompanyViewModel.Sector">

                                                <option selected="selected" value="">{{ CompanyViewModel.Sector }}</option>
                                                <option value="0001">Software</option>
                                                <option value="0002">Training</option>
                                                <option value="0003">Production</option>
                                                <option value="0004">Public Relations</option>
                                                <option value="0005">Construction</option>
                                                <option value="0006">Retail</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>OPEN ADDRESS</b></td>
                                        <td>
                                            <textarea placeholder="Address" class="form-control" rows="3" ng-model="CompanyViewModel.Address">

                                            </textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>DISTRICT, PROVINCE</b></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="DISTRICT" style="width: 50px;" type="text" ng-model="CompanyViewModel.District" value="{{ CompanyViewModel.District }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="PROVINCE" type="text" ng-model="CompanyViewModel.Province" value="{{ CompanyViewModel.Province }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="WIRE" style="width: 50px;" type="text" ng-model="CompanyViewModel.Wire" value="{{ CompanyViewModel.Wire }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="FAX" type="text" ng-model="CompanyViewModel.Fax" value="{{ CompanyViewModel.Fax }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>TAX INFORMATION</b></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="V.D" style="width: 50px;" type="text" ng-model="CompanyViewModel.VD" value="{{ CompanyViewModel.VD }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="V.NO" type="text" ng-model="CompanyViewModel.TaxInformation" value="{{ CompanyViewModel.TaxInformation }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-2">
                            <!--<div id="fileuploader">Upload</div>-->
                            <!--<button id="fileuploader" class="btn btn-secondary">Upload Logo</button>-->
                        </div>
                        <div class="col-md-2"></div>

                    </div>

                </div>


            </div>

        </div>







        <!-- /.box -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>



    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
