﻿<div class="content-wrapper" ng-controller="ExpenseListController">

    <section class="content-header">
        <div class="page-heading">
            <h1 class="page-title">Expense List</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Expense</li>
                <li class="breadcrumb-item">Expense List</li>
            </ol>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="page-content fade-in-up">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ibox-fullheight">
                        <!--                            <div class="ibox-head">
                                <div class="ibox-title">
                                    <span class="ng-binding">Create new Expense Bill</span>
                                </div>
                                <button class="btn btn-secondary float-right">EDIT</button>
                            </div>-->
                        <!--                            <div class="ibox-body">

                                <div class="row">

                                    <div class="col-md-4">
                                        <b>Explaination</b>
                                            <br>
                                        <b>Bill Date</b>
                                            <br>
                                        <b>Total Amount (Including Taxes)</b>
                                            <br>
                                        <b>Total VAT</b>
                                            <br>
                                        <b>Payment Status</b>
                                            <br>
                                        <b>Payment Date</b>
                                            <br>
                                        <b>Supplier</b>
                                        <div><i class="fa fa-info-circle" aria-hidden="true">you can choose a registered supplier or write a new supplier name</i></div>
                                            <br>
                                        <b>Bill Photo</b>
                                    </div>

                                    <div class="col-md-4">
                                            <br>
                                        <span>{{ billViewModel.explaination }}</span>
                                            <br>
                                        <span>{{ billViewModel.bill_Date }}</span>
                                            <br>
                                        <span>{{ billViewModel.bill_Num }}</span>
                                            <br>
                                        <span>{{ billViewModel.totalAmount }}</span>
                                            <br>
                                        <span>{{ billViewModel.total_VAT }}</span>
                                            <br>
                                        <span>{{ billViewModel.paymentStatus }}</span>
                                            <br>
                                        <span>{{ billViewModel.payment_Date }}</span>
                                            <br>
                                        <span>{{ billViewModel.supplier }}</span>
                                    </div>

                                    <div class="col-md-4">
                                    </div>

                                </div>

                            </div>-->

                        <div class="page-content fade-in-up" ng-show="expenseForm">

                            <div class="ibox">

                                <div class="ibox-head">
                                <table class="table">
                                    <tbody class="remove-hr">
                                        <tr>
                                            <td>
                                                <b>Explaination
                                                </b>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" placeholder="Company Name">
                                            </td>
                                            <td>
                                                <button class="btn btn-light float-right" ng-click="">
                                                    UP
                                                </button>
                                            </td>
                                            <td style="width: 155px">
                                                <button type="button" class="btn btn-dark dropdown-toggle float-right"
                                                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                     style="margin-left: 2px; height: 37px">
                                                    <span class="caret"></span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">SAVE AND ADD NEW</a>
                                                </div>
                                                <button class="btn btn-dark float-right" ng-click="">
                                                    SAVE
                                                </button>
                                            </td>
<!--                                                        <td><b>EXPLAINATION</b></td>
                                            <td>
                                                <textarea class="form-control" type="text" placeholder="" row="2" cols="5" ng-model="billViewModel.explaination"></textarea></td>
                                            <!--<td><input class="form-control" type="text" placeholder="" ng-model="CompanyViewModel.CompanyName"></td>-->
                                        </tr>
                                    <!--<div class="ibox-title">
                                        <span class="ng-binding">Create new Expense Bill</span>
                                    </div>
                                    <button class="btn btn-secondary float-right">EDIT</button>-->
                                    </tbody>
                                </table>
                                </div>
                                <div class="ibox-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <table class="table">
                                                <tbody class="remove-hr">
                                                    <tr>
                                                        <td><b>Bill Date</b></td>
                                                        <td>
                                                            <div class="form-group" id="date_1">
                                                                <label class="font-normal"></label>
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                    <input class="form-control" type="text" ng-model="billViewModel.bill_Date" />
                                                                    <i class="fa fa-plus" aria-hidden="true" style="margin-left: 5px;
                                                                     border-radius: 5px; padding: 10px 5px 0 5px; border: 1px solid #34495f;
                                                                      color: #34495f; cursor: pointer" data-toggle="dropdown">
                                                                    </i>
                                                                    <div class="dropdown-menu">
                                                                        <a class="dropdown-item" ng-click="invoiceNumber()">
                                                                            Add Voucher / Invoice Number
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show="invoicenumber">
                                                        <td><b>Invoice Number</b></td>
                                                        <td class="row">
                                                            <input class="form-control" type="text" placeholder="" ng-model="billViewModel.total_VAT" style="margin-left: 13px; width: 320px">
                                                            <i class="fa fa-times" aria-hidden="true" style="margin-left: 5px;
                                                                border-radius: 5px; padding: 10px 5px 0 5px; border: 1px solid #34495f;
                                                                color: #34495f; cursor: pointer" ng-click="hideInvoiceNumber()">
                                                            </i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Total Amount
                                                            <br />
                                                            (Including Taxes)</b></td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <input class="form-control" type="text" ng-model="expenseListGenerals.totalAmount" />

                                                                <button ng-click="showAmountConversionDiv()" class="btn btn-light ">
                                                                    <span>{{ expenseListGenerals.totalAmountCurrency.code }}<span class="caret"></span></span>
                                                                </button>

                                                                <div style="width: 300px; padding-left: 10px; position: absolute; top: 50px; z-index: 100; border: 1px solid #ccc"
                                                                     class="btn-light dropdown-toggle dropdown-toggle-split" ng-show="expenseListGenerals.amountConversionDiv">

                                                                    <div class="row" style="padding: 10px">

                                                                        <label><strong>CURRENCY</strong></label>
                                                                        <select ng-model="expenseListGenerals.totalAmountCurrency" style="width: 180px; margin-left: 5px"
                                                                             ng-options="currency.code + ' - ' + currency.name for currency in currencies" 
                                                                            ng-init="expenseListGenerals.totalAmountCurrency = currencies[0]" 
                                                                            ng-change="showExchangeInput()">
                                                                        </select>

                                                                    </div>

                                                                    <div class="row" style="padding: 10px" ng-show="exchange">

                                                                        <label><strong>EXCHANGE</strong></label>
                                                                        <input class="form-control" style="width: 180px; margin-left: 5px" type="text"
                                                                             ng-model="expenseListGenerals.conversionRate" />

                                                                    </div>

                                                                    <hr />

                                                                    <div class="row">

                                                                        <button style="margin: 10px 15px" class="btn btn-dark pull-right" ng-click="showAmountConversionDiv()">OK</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show="exchange">
                                                        <td><b>TL COVERAGE</b></td>
                                                        <td class="row">
                                                            <span style="margin-left: 10px;">
                                                                 {{ expenseListGenerals.totalAmount * expenseListGenerals.conversionRate }}
                                                            </span>
                                                            <span>( {{ expenseListGenerals.totalAmountCurrency.code + ' = ' + expenseListGenerals.conversionRate }} )</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Total VAT</b></td>
                                                        <td>
                                                            <input class="form-control" type="text" placeholder="" ng-model="billViewModel.total_VAT">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Payment Status</b></td>
                                                        <td>
                                                            <div class="btn-group" data-toggle="buttons">
                                                                <label class="btn btn-primary active">
                                                                    <!--paymentStatus[i]-->
                                                                    <input type="radio" name="options" id="payable" checked>
                                                                    PAYABLE
                                                                </label>
                                                                <label class="btn btn-primary">
                                                                    <input type="radio" name="options" id="paid">
                                                                    PAID
                                                                </label>
                                                                <label class="btn btn-primary">
                                                                    <input type="radio" name="options" id="employeePaid">
                                                                    EMPLOYEE PAID
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Payment Date</b></td>
                                                        <td>
                                                            <div class="form-group" id="Div1">
                                                                <label class="font-normal"></label>
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                    <input class="form-control" type="text" ng-model="billViewModel.payment_Date">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Supplier</b></td>
                                                        <td>
                                                            <input class="form-control" type="text" placeholder="" ng-model="billViewModel.supplier">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <button class="btn btn-secondary float-right" ng-click="Save()">EDIT</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="page-content fade-in-up">
                                                <div class="ibox">
                                                    <div class="ibox-body" style="background-color: #e9ecef;">
                                                        <div class="form-group mb-4">
                                                            <i class="fa fa-folder" aria-hidden="true"></i>
                                                            <label>INVOICE CATEGORY</label>
                                                            <select class="form-control">
                                                                <option class="text-muted" selected>Uncategorized</option>
                                                                <option ng-repeat="salesCategory in salesCategories" value="salesCategory.CategoryId">{{ salesCategory.CategoryName }}</option>
                                                            </select>
                                                            <div></div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <i class="fa fa-tags" aria-hidden="true"></i>
                                                            <label>LABELS</label>
                                                            <select class="form-control">
                                                                <option class="text-muted" selected>Uncategorized</option>
                                                                <option ng-repeat="salesCategory in salesCategories" value="salesCategory.CategoryId">{{ salesCategory.CategoryName }}</option>
                                                            </select>
                                                            <div></div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                            <label>FOLLOW FOLLOWING</label>
                                                            <select class="form-control">
                                                                <option class="text-muted" selected>Uncategorized</option>
                                                                <option ng-repeat="salesCategory in salesCategories" value="salesCategory.CategoryId">{{ salesCategory.CategoryName }}</option>
                                                            </select>
                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--                                    <hr />

                                    <div class="ibox-body">
                                        <div class="table-responsive row">
                                            <table class="table table-bordered table-hover" id="datatable">
                                                <thead class="thead-default thead-lg">
                                                    <tr>
                                                        <th>SERVICE / PRODUCT</th>
                                                        <th>QUANTITY</th>
                                                        <th>PRICE</th>
                                                        <th>DISCOUNT</th>
                                                        <th>TAX</th>
                                                        <th>TOTAL</th>
                                                        <th class="no-sort"></th>
                                                    </tr>

                                                    <tr ng-repeat="row in rows track by $index">
                                                        <td><input class="form-control" type="text" placeholder="" ng-model="row.ProductName"></td>
                                                        <td><input class="form-control" type="text" placeholder="" ng-model="row.Quantity"></td>
                                                        <td><input class="form-control" type="text" placeholder="" ng-model="row.UnitPrice"></td>
                                                        <td><input class="form-control" type="text" placeholder="" ng-model="row.DiscountPerc"></td>
                                                        <td><input class="form-control" type="text" placeholder="" ng-model="row.Description"></td>
                                                        <td><input class="form-control" type="text" placeholder="" ng-model="row.Amount"></td>
                                                        <td><button class="btn btn-secondary btn-sm" ng-click="removeRow()"><i class="fa fa-times"></i></button></td>
                                                    </tr>

                                                </thead>
                                            </table>

                                            <button class="btn btn-secondary" ng-click="addNewRow()">ADD NEW ROW</button>


                                        </div>
                                    </div>


                                    <div class="ibox-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="timeline">
                                                    <hr>
                                                    <li class="timeline-item">
                                                        Sub Total
                                                        <small class="float-right text-muted ml-5 nowrap">Just now</small>
                                                        <button class="btn btn-secondary btn-sm" ng-click="invoiceForm()"><i class="fa fa-plus"></i></button>
                                                    </li>
                                                    <hr>
                                                    <li class="timeline-item">
                                                        Total VAT
                                                        <small class="float-right text-muted ml-5 nowrap">5 mins</small>
                                                        <button class="btn btn-secondary btn-sm" ng-click="invoiceForm()"><i class="fa fa-plus"></i></button>
                                                    </li>
                                                    <hr>
                                                    <li class="timeline-item">
                                                        Grand Total
                                                        <small class="float-right text-muted ml-2 nowrap">24 mins</small>
                                                    </li>
                                                    <hr>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>-->


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>
    </section>
    <!-- /.content -->


</div>
