﻿<section id="innercontent">
    <div class="container" id="vendor" ng-controller="VendorProductController">
        <div class="col-md-2 col-sm-2">
            <img src="/Content/img/product-icon.jpg">
        </div>
        <div class="col-md-10 col-sm-10">
            <p class="heading">Add One Product </p>
            <h5>Join the No.1 Wholesale Online Shopping Mall in USA.</h5>
            <p>
                1. Drag & Drop Style Uploading<br />
                2. File size and format Check(only under 300KB is possible to be uploaded), if File size > 300KB, errror message..this image cannot be uploaded<br />
                3. to change image order, just drag and drop into the position
            </p>
        </div>

        <div class="col-md-12 col-sm-12" id="sprt">&nbsp;</div>


        <div class="col-md-6 col-sm-6" style="border-right: 1px solid #e7e7e7;">
            <ng-form class="form-horizontal" id="form1" name="form1">
                <div class="form-group">
                    <label class="control-label col-xs-2">Status<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <select class="form-control" id="exampleSelect1" ng-model="selectedstatus" ng-required="true">
                            <option value="">-- Please Select ---</option>
                            <option value="true">Active</option>
                            <option value="false">De Active</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Produt Type</label>
                    <div class="col-xs-10">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active">
                                <a data-target="#home" data-toggle="tab" style="color: #555;" ng-click="toggletabs('size')">Size / Color</a>
                            </li>

                            <li><a data-target="#Pack" data-toggle="tab" style="color: #555;" ng-click="toggletabs('pack')">Pack</a></li>

                        </ul>

                        <div id="myTabContent" class="tab-content" style="padding: 0pt;">

                            <div class="tab-pane fade in active" id="home">
                                <div class="col-md-6" style="padding-bottom: 10px; background-color: #ddd;">

                                    <label class="control-label">Size</label>
                                    <select class="form-control" id="Select1" ng-model="selectedsizecolorlist">
                                        <option value="">---Please select---</option>
                                        <option ng-repeat="option in sizecolorlist" value="{{option.SizeId}}">{{option.SizeTitle}}</option>
                                    </select>


                                </div>
                                <div class="col-md-6" style="padding-bottom: 10px; background-color: #ddd;">

                                    <label class="control-label">Pack</label>
                                    <select class="form-control" id="Select2" ng-model="selectedpacklist">
                                        <option value="">---Please select---</option>
                                        <option ng-repeat="option in packlist" value="{{option.PackId}}">{{option.Name}}</option>
                                    </select>


                                </div>

                            </div>

                            <div class="tab-pane fade" id="Pack">
                                <div class="col-md-6" style="padding-bottom: 10px; background-color: #ddd;">

                                    <label class="control-label">Size</label>
                                    <select class="form-control" id="Select12" ng-model="selectedsizepacklist">
                                        <option value="">---Please select---</option>
                                        <option ng-repeat="option in sizecolorlist" value="{{option.SizeId}}">{{option.SizeTitle}}</option>
                                    </select>


                                </div>
                                <div class="col-md-6" style="padding-bottom: 10px; background-color: #ddd;">

                                    <label class="control-label">Minimum Order</label>
                                    <input type="text" class="form-control" placeholder="" ng-model="ProductViewModel.MinimumQty" ng-required="true">
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Vendor Category <span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <select class="form-control" id="Select3" ng-model="selectedcategoryvendor" ng-required="true">
                            <option value="">---Please select---</option>
                            <option ng-repeat="option in listcategoryvendor" value="{{option.CategoryVendorId}}">{{option.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Master Category<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <div class="col-md-3" style="padding-left: 0pt; padding-right: 0pt;">

                            <select class="form-control" id="Select4" ng-model="selectedcategory1" ng-change="categorychange1()" ng-required="true">
                                <option value="">---Please select---</option>
                                <option ng-repeat="option in categorylist1" value="{{option.CategoryMasterId}}">{{option.CategoryName}}</option>
                            </select>
                        </div>
                        <div class="col-md-3" style="padding-left: 5pt; padding-right: 0pt;">

                            <select class="form-control" id="Select5" ng-model="selectedcategory2" ng-change="categorychange2()">
                                <option value="">---Please select---</option>
                                <option ng-repeat="option in categorylist2" value="{{option.CategoryMasterId}}">{{option.CategoryName}}</option>
                            </select>

                        </div>
                        <div class="col-md-3" style="padding-left: 5pt; padding-right: 0pt;">
                            <select class="form-control" id="Select6" ng-model="selectedcategory3" ng-change="categorychange3()">
                                <option value="">---Please select---</option>
                                <option ng-repeat="option in categorylist3" value="{{option.CategoryMasterId}}">{{option.CategoryName}}</option>
                            </select>
                        </div>
                        <div class="col-md-3" style="padding-left: 5pt; padding-right: 0pt;">
                            <select class="form-control" id="Select11" ng-model="selectedcategory4">
                                <option value="">---Please select---</option>
                                <option ng-repeat="option in categorylist4" value="{{option.CategoryMasterId}}">{{option.CategoryName}}</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Title[20 characters]<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" ng-model="ProductViewModel.Title" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Description<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="ProductViewModel.Description" ng-required="true"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Search Term<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" ng-model="ProductViewModel.Terms" ng-required="true">
                    </div>
                </div>

            </ng-form>

        </div>

        <div class="col-md-6 col-sm-6">
            <ng-form class="form-horizontal" id="form2" name="form2">
                <div class="form-group">
                    <label class="control-label col-xs-2">Inventory</label>
                    <div class="col-xs-10">
                        <select class="form-control" id="Select8" ng-model="selectedinventorystatus">
                            <option value="">-- Please Select ---</option>
                            <option value="true">In Stock</option>
                            <option value="false">Out of Stock</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Price<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" ng-model="ProductViewModel.Price" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Discount</label>
                    <div class="col-xs-10">
                        <div class="col-md-6" style="padding-left: 0pt; padding-right: 5pt;">
                            <input type='text' class="form-control" value="%" ng-model="ProductViewModel.DiscountPerc" />
                        </div>
                        <div class="col-md-6" style="padding-left: 5pt; padding-right: 0pt;">
                            <input type='text' class="form-control" value="%" ng-model="ProductViewModel.DiscountAmount" />
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Date From</label>
                    <div class="col-xs-10">
                        <div class="col-xs-6" style="padding-left: 0pt; padding-right: 5pt;">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" ng-model="ProductViewModel.DiscountDateFrom" datetime-picker />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding-left: 5pt; padding-right: 0pt;">
                            <div class='input-group date' id='datetimepicker3'>
                                <input type='text' class="form-control" ng-model="ProductViewModel.DiscountTimeFrom" datetime-picker />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Date To</label>
                    <div class="col-xs-10">
                        <div class="col-xs-6" style="padding-left: 0pt; padding-right: 5pt;">
                            <div class='input-group date' id='Div1'>
                                <input type='text' class="form-control" ng-model="ProductViewModel.DiscountDateTo" datetime-picker />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding-left: 5pt; padding-right: 0pt;">
                            <div class='input-group date' id='Div2'>
                                <input type='text' class="form-control" ng-model="ProductViewModel.DiscountTimeto" datetime-picker />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <h6>Available Date</h6>
                <div class="form-group">
                    <label class="control-label col-xs-2">Date From</label>
                    <div class="col-xs-10">
                        <div class="col-xs-6" style="padding-left: 0pt; padding-right: 5pt;">
                            <div class='input-group date' id='Div3'>
                                <input type='text' class="form-control" ng-model="ProductViewModel.AvailableDateFrom" datetime-picker />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding-left: 5pt; padding-right: 0pt;">
                            <div class='input-group date' id='Div4'>
                                <input type='text' class="form-control" ng-model="ProductViewModel.AvailableTimeFrom" datetime-picker />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Date To</label>
                    <div class="col-xs-10">
                        <div class="col-xs-6" style="padding-left: 0pt; padding-right: 5pt;">
                            <div class='input-group date' id='Div5'>
                                <input type='text' class="form-control" ng-model="ProductViewModel.AvailableDateTo" datetime-picker />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding-left: 5pt; padding-right: 0pt;">
                            <div class='input-group date' id='Div6'>
                                <input type='text' class="form-control" ng-model="ProductViewModel.AvailableTimeto" datetime-picker />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-2">Sorting No.</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" ng-model="ProductViewModel.SortingNo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Style No.<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" ng-model="ProductViewModel.StyleNo" ng-required="true">
                    </div>
                </div>

            </ng-form>
        </div>

        <div class="col-md-12 col-sm-12" id="sprt">&nbsp;</div>

        <div class="col-md-2 col-sm-2">
            <h6>Additional Attributes  </h6>
        </div>

        <div class="col-md-3 col-sm-3">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-3">Shop</label>
                    <div class="col-xs-9">
                        <select class="form-control" id="Select9" ng-model="ProductViewModel.Shop">
                            <option value="">-- Please Select --</option>
                            <option value="Contemporary & Designer">Contemporary & Designer</option>
                            <option value="Juniors">Juniors</option>
                            <option value="Maternity">Maternity</option>
                            <option value="Petite">Petite</option>
                            <option value="Plus-Size">Plus-Size</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Length</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="" ng-model="ProductViewModel.Length">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Others</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="" ng-model="ProductViewModel.Others">
                    </div>
                </div>

            </form>
        </div>

        <div class="col-md-3 col-sm-3">
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-xs-3">Material</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="" ng-model="ProductViewModel.Material">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Style </label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="" ng-model="ProductViewModel.Style">
                    </div>
                </div>

            </form>
        </div>

        <div class="col-md-3 col-sm-3">
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-xs-3">Model Fit</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="" ng-model="ProductViewModel.ModelFit">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Mide In</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="" ng-model="ProductViewModel.MidIn">
                    </div>
                </div>

            </form>
        </div>


        <div class="col-md-12 col-sm-12" id="sprt">&nbsp;</div>

        <div class="col-md-2 col-sm-2">
            <h6>Color Selection  </h6>
        </div>

        <div class="col-md-6 col-sm-6">
            <form class="form-horizontal">
                <div class="form-group">

                    <div class="col-xs-6">
                        <isteven-multi-select input-model="listcolors" output-model="selectedcolor" button-label="pic Name" item-label="Name" tick-property="selected"></isteven-multi-select>
                    </div>
                    <label class="control-label col-xs-6">Drop & Selection by seek function</label>
                </div>


            </form>
        </div>



        <div class="col-md-4 col-sm-4">
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-xs-4">Color Swatch</label>
                    <div class="col-xs-8">
                        <button type="button" class="btn btn-secondary" ng-click="toggleswatch('yes')">Yes</button>
                        <button type="button" class="btn btn-danger" ng-click="toggleswatch('no')">No</button>
                    </div>
                </div>

            </form>
        </div>


        <div class="col-md-12 col-sm-12" id="sprt">&nbsp;</div>

        <div class="col-md-2 col-sm-2">
            <h6>Color Selection  </h6>
        </div>

        <div class="col-md-10 col-sm-10 drop-box" ngf-drop ngf-select ng-model="files" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*">
            <img src="/Content/img/dp-img.jpg" class="img-responsive" ng-if="filepreview.length == 0">
            <br />

            <div ng-repeat="option in filepreview" class="col-md-3">
                <a class="boxclose" ng-click="deleteImage(option)">x</a>

                <img ng-src="{{option.url}}" style="width: 100%; height: 100px;">
            </div>

        </div>
        <div class="col-md-2 col-sm-2">
        </div>
        <div class="col-md-10 col-sm-10">
            <p>
                1. Drag & Drop Style Uploading<br />
                2. File size and format Check(only under 300KB is possible to be uploaded), if File size > 300KB, errror message..this image cannot be uploaded<br />
                3. to change image order, just drag and drop into the position
            </p>
        </div>




        <div class="col-md-12 col-sm-12" id="Div10">&nbsp;</div>

        <div class="form-group" align="center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary" id="reg-btn" ng-click="create()">SUBMIT</button>
            </div>
        </div>
    </div>
</section>
