﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="StatusController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Status
       
            <small>You can create status from here. It is used in visitor report.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Add/Edit Status</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Status</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                <input type="text" ng-model="StatusViewModel.Name" class="form-control" placeholder="Status name">
                            </div>
                        </div>

                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="radio">
                    <label>
                        <!--<input type="checkbox" ng-model="StatusViewModel.Active">
                        Is active-->
                        <!--<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Active" checked="" ng-model="StatusViewModel.Active">&nbsp;Yes&nbsp;
		                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="NonActive" ng-model="StatusViewModel.Active">&nbsp No-->

                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="Active" checked>
                        Active
                 
                    </label>
                    <label>
                        <input type="radio" name="optionsRadios" id="Radio1" value="NonActive">
                        Deactive
                 
                    </label>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                Below are the result of all created status.
       
            </div>
        </div>
        <!-- /.box -->

        <div class="row">

            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Status List</h3>
                    </div>
                    <div class="box-body">
                        <table id="statuslist" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="control-label">Search Status By Name</label>
                                                <input type="text" class="form-control" placeholder="" ng-model="search.Name">
                                            </div>
                                        </div>
                                    </div>
                                    <th>Status Id</th>
                                    <!--<th>Code</th>-->
                                    <th>Name</th>
                                    <th>Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in liststatus | filter:search">
                                    <td>{{item.StatusId}}</td>
                                   <!--<td>{{item.Code}}</td>-->
                                    <td>{{item.Name}}</td>
                                    <td>{{item.Is_Active}}</td>
                                    <td style="cursor:pointer;"><a ng-click="edit(item)">Edit</a></td>

                                </tr>

                        </table>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col (right) -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
