﻿<section id="innercontent">

    <div class="container" id="vendor" style="padding-top: 0px;">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="row">

                    <ng-include src="'/Scripts/app/common/template/side-bar.html'"></ng-include>

                </div>
            </div>

            <!---start ADD NEW PACK --->
            <div class="col-md-10 col-sm-10" ng-controller="VendorSizeController">
                <div class="col-md-12 col-sm-12">
                    <p class="heading">Size</p>
                    <p>
                        Usually most styles have their own color name..but some color name has the same. Even if the color name is the same, the style pattern is so different 
so we need to define color ID and its color name. if vendor wants color swatch in product page, this related color image shoule be shown
                    </p>
                </div>

                <div class="col-md-12 col-sm-12">
                    <h6>Add New Sizes</h6>
                    <div class="form-group">
                        <label class="control-label col-md-2">Size Title<span class="mandatory">*</span></label>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="" ng-model="SizeViewModel.SizeTitle">
                                </div>
                            </div>
                        </div>
                    </div>

                    <form class="form-horizontal">
                        <div class="col-md-12 col-sm-12">


                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label col-xs-2">Size</label>
                                </div>
                                <div class="col-md-10">

                                    <div class="form-group">
                                        <label class="control-label col-xs-1">Size1</label>
                                        <div class="col-md-2 col-sm-2">
                                            <input type="text" class="form-control" placeholder="" ng-model="SizeViewModel.Size1">
                                        </div>

                                        <label class="control-label col-xs-1">Size2</label>
                                        <div class="col-md-2 col-sm-2">
                                            <input type="text" class="form-control" placeholder="" ng-model="SizeViewModel.Size2">
                                        </div>

                                        <label class="control-label col-xs-1">Size3</label>
                                        <div class="col-md-2 col-sm-2">
                                            <input type="text" class="form-control" placeholder="" ng-model="SizeViewModel.Size3">
                                        </div>

                                        <label class="control-label col-xs-1">Size4</label>
                                        <div class="col-md-2 col-sm-2">
                                            <input type="text" class="form-control" placeholder="" ng-model="SizeViewModel.Size4">
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-1">Size5</label>
                                        <div class="col-md-2 col-sm-2">
                                            <input type="text" class="form-control" placeholder="" ng-model="SizeViewModel.Size5">
                                        </div>

                                        <label class="control-label col-xs-1">Size6</label>
                                        <div class="col-md-2 col-sm-2">
                                            <input type="text" class="form-control" placeholder="" ng-model="SizeViewModel.Size6">
                                        </div>

                                        <label class="control-label col-xs-1">Size7</label>
                                        <div class="col-md-2 col-sm-2">
                                            <input type="text" class="form-control" placeholder="" ng-model="SizeViewModel.Size7">
                                        </div>

                                        <label class="control-label col-xs-1">Size8</label>
                                        <div class="col-md-2 col-sm-2">
                                            <input type="text" class="form-control" placeholder="" ng-model="SizeViewModel.Size8">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-1">Size9</label>
                                        <div class="col-md-2 col-sm-2">
                                            <input type="text" class="form-control" placeholder="" ng-model="SizeViewModel.Size9">
                                        </div>

                                        <label class="control-label col-md-1 col-sm-1">Size10</label>
                                        <div class="col-md-2 col-sm-2">
                                            <input type="text" class="form-control" placeholder="" ng-model="SizeViewModel.Size10">
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-10">
                                            <input type="checkbox" class="form-check-input" name="defaultcheck" id="defaultcheck" value="default" ng-model="SizeViewModel.IsDefault">&nbsp;Default&nbsp;
		                                    <input type="checkbox" class="form-check-input" name="activecheck" id="activecheck" value="active" ng-model="SizeViewModel.Active">&nbsp Active
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group" style="border-top: 1px solid #ccc; padding-top: 10px; text-align: right;">
                                <button type="button" class="btn btn-danger" id="gry" ng-click="cancel()">Cancel</button>
                                <button type="button" class="btn btn-danger" id="black" ng-click="save()">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!---ADD NEW PACK end-->

                <div class="col-md-12">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Search Size by Name</label>
                                <input type="text" class="form-control" placeholder="" ng-model="search.SizeTitle">
                            </div>
                        </div>
                    </div>

                    <table class="table table-responsive">

                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Active</th>
                            <th></th>
                            <th></th>
                        </tr>

                        <tr ng-repeat="item in listsizes | filter:search">
                            <td>{{item.SizeId}}</td>
                            <td>{{item.SizeTitle}}</td>
                            <td>{{item.Active}}</td>
                            <td><a style="color: blue; text-decoration: underline;" ng-click="edit(item)">Edit</a></td>
                            <td><a style="color: blue; text-decoration: underline;" ng-click="delete(item)">Delete</a></td>

                        </tr>

                    </table>

                </div>

            </div>



        </div>



    </div>

</section>
