﻿<div class="content-wrapper" ng-controller="SupplierController">

    <section class="content-header">
        <div class="page-heading">
            <h1 class="page-title">Create Supplier</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Settings</li>
                <li class="breadcrumb-item">Supplier</li>
            </ol>
        </div>
    </section>

    <div class="page-content fade-in-up">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox" ng-show="Visibility.supplierList">
                    <div class="ibox-head">
                        <div class="ibox-title">Suppliers</div>

                        <input type="text" class="form-control col-sm-6" placeholder="Search Suppliers" value="" />
                        <button class="btn btn-secondary float-right col-md-2" ng-click="showSupplierForm()">CREATE NEW SUPPLIER</button>
                    </div>
                    <div class="ibox-body">
                        <div class="table-responsive row">
                            <table class="table table-bordered table-hover">
                                <!--datatable-->
                                <thead class="thead-default thead-lg">
                                    <tr>
                                        <th>
                                            <input type="checkbox" /></th>
                                        <th class="col-md-6">Title</th>
                                        <th class="col-md-4">Bank</th>
                                        <th></th>
                                        <!--<th class="no-sort"></th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="supplier in supplierListsModel">
                                        <td>
                                            <input type="checkbox" value="abc" /></td>
                                        <td style="padding-left: 30px">
                                            <a ng-click="OpenSupplierDetail(supplier.supplierID)">
                                                <div class="row">
                                                    {{ supplier.shortName + '(' + supplier.CompanyName + ')' }}
                                                </div>
                                                <div class="row">
                                                    {{ supplier.category + ' ' + supplier.emailAddress + ' ' + supplier.phoneNum }}
                                                </div>
                                            </a>
                                        </td>
                                        <td style="padding: 0 30px">
                                            <div class="row">
                                                Payable
                                               <!--{ supplier.payable }}-->
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="ibox" ng-show="Visibility.supplierInform">
                    <!-- ng-show="Invite.Visibility" -->
                    <div class="ibox-head">
                        <table class="table">
                            <tbody class="remove-hr">
                                <tr>
                                    <td>
                                        <b>Company Title*
                                        </b>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" placeholder="Company Name" ng-model="supplierHeader.CompanyName">
                                    </td>
                                    <td>
                                        <button class="btn btn-light float-right" ng-click="">
                                            <!--$window.history.back();-->
                                            UP
                                        </button>
                                    </td>
                                    <td style="width: 155px">
                                        <button type="button" class="btn btn-dark dropdown-toggle float-right"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            style="margin-left: 2px; height: 37px">
                                            <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">SAVE AND ADD NEW</a>
                                        </div>
                                        <button class="btn btn-dark float-right" ng-click="Save()">
                                            SAVE
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="ibox-body">
                        <div class="row">
                            <div class="col-md-10">
                                <table class="table" style="font-size: 12px">
                                    <!--<tbody class="remove-hr">-->
                                    <tbody>
                                        <tr ng-hide="supplierHeader.realPerson">
                                            <td><b>SHORT NAME</b></td>
                                            <td>
                                                <input class="form-control" type="text" placeholder="Name" ng-model="supplierHeader.shortName">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>CATEGORY</b></td>
                                            <td>
                                                <select class="form-control" ng-model="supplierHeader.category"
                                                    ng-options="category.CategoryId as category.CategoryName for category in categories">
                                                    <option value="">Select Category</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>E-MAIL ADDRESS</b></td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="supplierHeader.emailAddress"><!-- type email -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>PHONE NUMBER</b></td>
                                            <td ng-class="{'has-error': registration.phone.$error.number}">
                                                <input class="form-control" type="text" ng-model="supplierHeader.phoneNum">
                                                <span class="help-block" style="color: red;" ng-show="registration.phone.$error.required || registration.phone.$error.number">Valid phone number is required
                                                </span>
                                                <span class="help-block" style="color: red;" ng-show="((registration.phone.$error.minlength || registration.phone.$error.maxlength) &&
                                                            registration.phone.$dirty) ">phone number should be 10 digits
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>FAX NUMBER</b></td>
                                            <td>
                                                <input class="form-control" type="text" placeholder="" ng-model="supplierHeader.faxNum">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>IBAN NUMBER</b></td>
                                            <td>
                                                <input class="form-control" type="text" placeholder="" ng-model="supplierHeader.IBAN_Num">
                                            </td>
                                        </tr>
                                        <hr />
                                        <tr>
                                            <td><b>OPEN ADDRESS</b></td>
                                            <td>
                                                <textarea class="form-control" type="text" rows="3" cols="10" ng-model="supplierHeader.openAddress"></textarea>
                                                <div class="border" style="padding: 3px 10px;">
                                                    <input type="checkbox" ng-model="supplierHeader.addressAbroad">
                                                    Address abroad
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-hide="supplierHeader.addressAbroad">
                                            <td><b>DISTRICT, PROVICE</b></td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon" style="width: 90px;">DISTRICT</span>
                                                    <input type="text" class="form-control" aria-describedby="basic-addon3" ng-model="supplierHeader.district">
                                                    <span style="width: 20px;"></span>
                                                    <span class="input-group-addon" style="width: 90px;">PROVINCE</span>
                                                    <input type="text" class="form-control" aria-describedby="basic-addon3" ng-model="supplierHeader.province">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>TOUR</b></td>
                                            <td>
                                                <div class="input-group">
                                                    <div class="col-md-6" style="border: 1px solid #ccc; line-height: 25px">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="optradio" value="legalEntity" ng-model="supplierHeader.realPerson" ng-value="false" aria-pressed="true" />
                                                            Legal entity
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6" style="border: 1px solid #ccc; line-height: 25px">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="optradio" value="realPerson" ng-model="supplierHeader.realPerson" ng-value="true" />
                                                            Real person
                                                        </label>
                                                    </div>
                                                </div>
                                                <div ng-hide="supplierHeader.realPerson">
                                                    <i style="color: #ABABAB">
                                                        <span class="fa fa-info-circle"></span>
                                                        Individual companies include LTD, Inc, etc. all companies are in Legal Entities.
                                                    </i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-show="supplierHeader.realPerson">
                                            <td><b>TC IDENTIFICATION NUMBER</b></td>
                                            <td>
                                                <input class="form-control" type="text" placeholder="" ng-model="supplierHeader.tc_identification">
                                            </td>
                                        </tr>
                                        <tr ng-hide="supplierHeader.realPerson">
                                            <td><b>VKN / TCKN</b></td>
                                            <td>
                                                <input class="form-control" type="text" placeholder="" ng-model="supplierHeader.vkn_tckn">
                                            </td>
                                        </tr>
                                        <tr ng-hide="supplierHeader.realPerson">
                                            <td><b>TAX ADMINISTRATION</b></td>
                                            <td>
                                                <input class="form-control" type="text" placeholder="" ng-model="supplierHeader.taxAdministration">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>OPENING BALANCE</b></td>
                                            <td>
                                                <!--<input class="form-control" type="text" placeholder="" ng-model="supplierHeader.Password">-->
                                                <div style="background-color: #f2f1f1; padding-top: 15px" class="form-control border">
                                                    <input type="checkbox" name="abc" ng-model="supplierHeader.openingBal">
                                                    <label class="font-normal">Opening gate is available</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-show="supplierHeader.openingBal">
                                            <td><b>DETAILS</b></td>
                                            <td>
                                                <div class="form-group row">
                                                    <div class="input-group date col-sm-4" id="date_1">
                                                        <label class="font-normal" style="margin-right: 8px; font-size: 10px">Company</label>
                                                        <!--<span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>-->
                                                        <input class="form-control col-sm-8" type="text" ng-model="supplierHeader.companyDate">
                                                    </div>
                                                    <div class="col-sm-8 row">
                                                        <span style="font-size: 10px">as of</span>
                                                        <input class="form-control col-sm-4" type="text" placeholder="0,00" ng-model="supplierHeader.price" style="margin-left: 5px">
                                                        <select class="form-control" style="width: 75px">
                                                            <option ng-model="supplierHeader.currencySymbol" data-ng-repeat="item in currency" value="{{ item }}"
                                                                ng-init="supplierHeader.currencySymbol=currency[0]">{{ item }}</option>
                                                        </select>
                                                        <select class="form-control col-sm-4" style="margin-left: 5px; font-size: 12px;">
                                                            <option ng-model="supplierHeader.msg" style="font-size: 12px;" ng-repeat="m in detail" value="{{ m.sno }}"
                                                                ng-init="supplierHeader.msg=detail[0].msg">{{ m.msg }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--                            <div class="col-md-2"></div>
                                <div class="col-md-2"></div>-->

                        </div>
                    </div>
                    <hr />

                    <div class="ibox-body" ng-hide="supplierHeader.realPerson">
                        <div class="table-responsive row">
                            <table class="table table-bordered table-hover" id="Table1">
                                <thead class="thead-default thead-lg">
                                    <tr>
                                        <th>NAME OF AUTHORIZED PERSON</th>
                                        <th>EMAIL</th>
                                        <th>TELEPHONE</th>
                                        <th>NOTES</th>
                                        <th class="no-sort"></th>
                                    </tr>
                                    <tr ng-repeat="row in supplierDetails">
                                        <!--track by $index -  -  -->
                                        <td>
                                            <input class="form-control" type="text" ng-model="row.supplierName">
                                        </td>
                                        <td>
                                            <input class="form-control" type="email" ng-model="row.email">
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="row.telephone">
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="row.Notes">
                                        </td>
                                        <td>
                                            <button class="btn btn-secondary btn-sm" ng-click="removeRow()"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                            <button class="btn btn-secondary" ng-click="addNewRow()">ADD A MORE AUTHORIZED</button>
                        </div>
                    </div>
                </div>

                <div class="ibox row" ng-show="Visibility.supplierInfo">
                    <div class="col-md-8">
                        <div class="ibox-head">
                            <div class="ibox-title">{{ supplierInfoPage.shortName + ' ( ' + supplierInfoPage.CompanyName + ' )' }}</div>

                            <select class="form-control col-md-3">
                                <option ng-model="supplierHeader.category" type="text" data-ng-repeat="item in categories"
                                    value="{{ item.CategoryId }}"
                                    ng-init="supplierHeader.category = category[0].CategoryName"
                                    ng-change="hello()">
                                    <span class="badge badge-success badge-pill ng-binding">{{ item.CategoryName }}
                                    </span>
                                </option>
                            </select>

                            <button class="btn btn-secondary float-right col-md-2" ng-click="editSupplier()">EDIT</button>
                        </div>
                        <div class="ibox-body">
                            <div class="table-responsive row">
                                <table style="font-size: 12px" ng-hide="supplierSummary">
                                    <tbody>
                                        <tr>
                                            <td class="col-md-8">
                                                <i class="fa fa-envelope-o" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>{{ supplierInfoPage.emailAddress }}</span>
                                                <i class="fa fa-phone" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>{{ supplierInfoPage.phoneNum }}</span>
                                            </td>
                                            <td class="col-md-4">
                                                <button class="btn btn-info" ng-click="showSupplierSummary()">
                                                    SUMMARY BACKGROUND 
                                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive row">
                                <table style="font-size: 12px" ng-show="supplierSummary">
                                    <tbody>
                                        <tr>
                                            <td class="col-md-4">
                                                <i class="fa fa-building-o" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>COMPANY NAME</span>
                                            </td>
                                            <td class="col-md-4">{{ supplierInfoPage.CompanyName }}</td>
                                            <td class="col-md-4">
                                                <button class="btn btn-info" ng-click="showSupplierSummary()">
                                                    SUMMARY BACKGROUND 
                                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-6">
                                                <i class="fa fa-info-circle" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>SHORT NAME</span>
                                            </td>
                                            <td class="col-md-6">{{ supplierInfoPage.shortName }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-6">
                                                <i class="fa fa-envelope-o" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>E-MAIL ADDRESS</span>
                                            </td>
                                            <td class="col-md-6">{{ supplierInfoPage.emailAddress }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-6">
                                                <i class="fa fa-phone" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>PHONE NUMBER</span>
                                            </td>
                                            <td class="col-md-6">{{ supplierInfoPage.phoneNum }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-6">
                                                <i class="fa fa-fax" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>FAX NUMBER</span>
                                            </td>
                                            <td class="col-md-6">{{ supplierInfoPage.faxNum }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-6">
                                                <i class="fa fa-map-marker" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>OPEN ADDRESS</span>
                                            </td>
                                            <td class="col-md-6">{{ supplierInfoPage.openAddress }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-6">
                                                <i class="fa fa-gavel" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>TAX INFORMATION</span>
                                            </td>
                                            <td class="col-md-6">{{ 'VD ' + supplierInfoPage.vkn_tckn + 'V.NO ' + supplierInfoPage.taxAdministration }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-6">
                                                <i class="fa fa-hashtag" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>IBAN NUMBER</span>
                                            </td>
                                            <td class="col-md-6">{{ supplierInfoPage.IBAN_Num }}</td>
                                        </tr>
                                        <tr data-ng-repeat="Detail in supplierInfoPage.supplierDetail" class="col-md-6" style="border-top: 1px solid #f2f1f1">
                                            <td>
                                                <i class="fa fa-user" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>{{ Detail.supplierName }}</span>
                                                <!--<span>Pakistan</span>-->
                                            </td>
                                            <td>
                                                <i class="fa fa-envelope-o" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>{{ Detail.email }}</span>
                                                <!--<span>Pakistan</span>-->
                                            </td>
                                            <td>
                                                <i class="fa fa-phone" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>{{ Detail.telephone }}</span>
                                                <!--<span>Pakistan</span>-->
                                            </td>
                                            <td>
                                                <i class="fa fa-info-circle" aria-hidden="true" style="margin: 0 10px 0 5px; padding: 15px 0"></i>
                                                <span>{{ Detail.Notes }}</span>
                                                <!--<span>Pakistan</span>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table table-bordered table-hover">
                                    <!--datatable-->
                                    <thead class="thead-default thead-lg">
                                        <tr>
                                            <th></th>
                                            <th class="">Type Of Operation</th>
                                            <th class="">Description</th>
                                            <!--                                            <th class="">
                                                <span>Amount</span>
                                                <span>Balance</span>
                                            </th>-->
                                            <th class="">Operation Date</th>
                                            <th class="">Amount</th>
                                            <th class="">Balance</th>
                                            <th class="">Bank</th>
                                            <!--<th class="no-sort"></th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th><i class="fa fa-history"></i></th>
                                            <td class="">invoice</td>
                                            <td class="">Details</td>
                                            <td class="">will</td>
                                            <td class="">come</td>
                                            <td class="">here</td>
                                            <td class="">!!!!</td>
                                        </tr>
                                        <tr>
                                            <th><i class="fa fa-history"></i></th>
                                            <td class="">invoice</td>
                                            <td class="">Details</td>
                                            <td class="">will</td>
                                            <td class="">come</td>
                                            <td class="">here</td>
                                            <td class="">!!!!</td>
                                        </tr>
                                        <tr>
                                            <th><i class="fa fa-history"></i></th>
                                            <td class="">invoice</td>
                                            <td class="">Details</td>
                                            <td class="">will</td>
                                            <td class="">come</td>
                                            <td class="">here</td>
                                            <td class="">!!!!</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="ibox-head">
                                <div class="dropdown" style="padding-left: 30px; width: 120px">
                                    <button class="btn btn-secondary dropdown-toggle" style="background-color: #fff" type="button" data-toggle="dropdown">
                                        EDIT
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-file-text-o"></i>CREATE SALES INVOICE</a></li>
                                        <li style="border-bottom: 1px solid #f2f1f1"><a href="#"><i class="fa fa-file-text-o"></i>BUY PLAY / INVITATION</a></li>

                                        <li><a href="#"><i class="fa fa-upload"></i>ADD PAYMENT</a></li>
                                        <li><a href="#"><i class="fa fa-archive"></i>ARCHIVING TO</a></li>
                                        <li><a href="#"><i class="fa fa-trash"></i>DELETE</a></li>
                                    </ul>
                                </div>

                                <span style="width: 10px"></span>

                                <button type="button" class="btn btn-info" style="width: 120px">ADD</button>

                            </div>
                            <div class="ibox-body" style="padding-left: 30px;">

                                <div class="row ibox-head">
                                    <div><strong>DELAYED PAYMENT</strong></div>
                                    <span style="width: 10px"></span>
                                    <div>22,000.00</div>
                                </div>
                                <div class="row ibox-head">
                                    <div><strong>TOTAL COLLECTION</strong></div>
                                    <span style="width: 10px"></span>
                                    <div>75,750.555</div>
                                </div>
                                <div class="row ibox-head">
                                    <div class="container">
                                        <div class="btn-group">
                                            <button type="button" style="width: 180px; border-right: 5px solid #fff"
                                                class="btn btn-light" data-toggle="modal" data-target="#extractPDF">
                                                SEND EXTRAS
                                            </button>
                                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a data-toggle="modal" data-target="#extractPDF">EXTRACT PDF DOWNLOAD</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="extractPDF" tabindex="-1" role="dialog" aria-labelledby="extractPDF" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="H1">Statement Date Range</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    What actions are involved in you extractions ?
                                                    <br />
                                                    <br />

                                                    <div class="input-group">
                                                        <div class="col-md-6" style="border: 1px solid #ccc; line-height: 25px; font-size: 13px">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="optradio" value="true" ng-model="extractPDF_Dated" ng-value="false" aria-pressed="true" />
                                                                All Transactions
                                                            </label>
                                                        </div>
                                                        <div class="col-md-6" style="border: 1px solid #ccc; line-height: 25px; font-size: 13px">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="optradio" ng-model="extractPDF_Dated" ng-value="true" />
                                                                Actions on a specific date range
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <table class="table" ng-show="extractPDF_Dated">
                                                        <br />
                                                        <tbody class="remove-hr">
                                                            <tr>
                                                                <td><b>STARTING DATE</b></td>
                                                                <td>
                                                                    <div class="form-group" id="date_1">
                                                                        <div class="input-group date">
                                                                            <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                            <input class="form-control col-md-6" type="text" />
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>END DATE</b></td>
                                                                <td>
                                                                    <div class="form-group" id="date_1">
                                                                        <div class="input-group date">
                                                                            <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                            <input class="form-control col-md-6" type="text" />
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-info">CREATE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>



                        <div class="page-content fade-in-up">
                            <div class="ibox">
                                <div class="ibox-body" style="background-color: #e9ecef;">
                                    <div class="form-group mb-4">
                                        <label><strong>CUSTOMER / SUPPLIER HISTORY</strong></label>

                                        <div class="container">
                                            <ul class="nav nav-tabs" style="cursor: pointer;">
                                                <li style="padding: 5px 8px;" ng-click="function('allOf')">all of</li>
                                                <li style="padding: 5px 8px" ng-click="function('msg')">Messages</li>
                                                <li style="padding: 5px 8px" ng-click="function('note')">Notes</li>
                                            </ul>
                                        </div>
                                        <div ng-show="customer_supplierNotes.allOf" >
                                            <div></div>
                                        </div>
                                        <div ng-show="customer_supplierNotes.messages">
                                            <!-- msgs -->
                                            <p>
                                                <i class="fa fa-info-circle"></i> You can talk about your transactions
                                                 with your customers / suppliers in this area by sharing your extras
                                            </p>
                                        </div>
                                        <div ng-show="customer_supplierNotes.notes">
                                            <!-- notes -->
                                            <textarea cols="30" rows="2" ng-model="customer_supplierHistory.notes"></textarea>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-light"><i class="fa fa-paperclip"></i></button>
                                                <button type="button" style="border-left: 5px solid #e9ecef" ng-click="AddNote()"
                                                     class="btn btn-light">ADD</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>
</div>
