﻿<!-- Content Wrapper. Contains page content -->
<head>
    <style type="text/css">
        .auto-style2 {
            height: 21px;
        }
    </style>
</head>
<div class="content-wrapper" ng-controller="RoleController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Role
       
            <small>You can create Role from here. It is used in visitor report.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Add/Edit Role</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Role</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                <input type="text" ng-model="RoleViewModel.Role_Name" class="form-control" placeholder="Role name">
                            </div>
                        </div>

                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="radio">
                    <label>
                        <!--<input type="checkbox" ng-model="StatusViewModel.Active">
                        Is active-->
                        <!--<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Active" checked="" ng-model="StatusViewModel.Active">&nbsp;Yes&nbsp;
		                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="NonActive" ng-model="StatusViewModel.Active">&nbsp No-->

                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="Active" checked>
                        Active
                 
                    </label>
                    <label>
                        <input type="radio" name="optionsRadios" id="Radio1" value="NonActive">
                        Deactive
                 
                    </label>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                Below are the result of all created Roles.
       
            </div>
        </div>
        <!-- /.box -->

        <div class="row">

            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Role List</h3>
                    </div>
                    <div class="box-body">
                        <table id="rolelist" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="control-label">Search Role By Name</label>
                                                <input type="text" class="form-control" placeholder="" ng-model="search.Role_Name">
                                            </div>
                                        </div>
                                    </div>
                                    <th class="auto-style2">Role ID</th>
                                    <th class="auto-style2">Role Name</th>
                                    <th class="auto-style2">Active</th>
                                    <th class="auto-style2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in listrole | filter:search" >
                                    <td>{{item.Role_ID}}</td>
                                    <td>{{item.Role_Name}}</td>
                                    <td>{{item.Is_Active}}</td>
                                    <td><button type="button" class="btn btn-primary">Edit</button></td>
                                   

                                </tr>

                        </table>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col (right) -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
