﻿<!-- register -->

<div ng-controller="RegisterController">
    <div class="cover"></div>
    <div style="max-width: 400px; margin: 100px auto 50px;" ng-show="Registration_Forms.Form1">
        <div class="text-center mb-5">
            <span class="auth-head-icon"><i class="la la-user"></i></span>
        </div>
        <div class="ibox login-box">
            <form class="ibox-body" id="register-one">
                <h4 class="font-strong text-center mb-5">Create your account,<br />start using it right away!</h4>
                <div class="form-group mb-4">
                    <input class="form-control form-control-line" type="text" name="email" placeholder="Email" ng-model="Registration_model.Email">
                </div>
                <div class="form-group mb-4">
                    <input class="form-control form-control-line" type="password" name="password" placeholder="Create Password" ng-model="Registration_model.Password">
                </div>
                <div class="text-center mb-4">
                    <button class="btn btn-primary btn-rounded btn-block" ng-click="form1Submit()">REGISTER</button>
                    <br />
                    <span>If you continue, you agree to our <a class="color-inherit">Terms of Use</a></span>
                </div>
            </form>
            </div>
        </div>
            

    <div style="max-width: 400px; margin: 100px auto 50px;" ng-show="Registration_Forms.Form2">
        <div class="text-center mb-5">
            <span class="auth-head-icon"><i class="la la-user"></i></span>
        </div>
        <div class="ibox login-box">
            <form class="ibox-body" id="register-two" ng-show="Registration_Forms.Form2">
                <h4 class="font-strong text-center mb-5">Personalize Your Account</h4>
                <span>
                    Please fill in the form so that your counselor can
                    <br />
                    communicate with you.
                </span>
                <div class="form-group mb-4">
                    <br />
                    <input class="form-control form-control-line" type="text" name="name" placeholder="Your Name And Your Surname*" ng-model="Registration_model.Name">
                </div>
                <div class="form-group mb-4">
                    <input class="form-control form-control-line" type="text" name="number" placeholder="Your Phone Number*" ng-model="Registration_model.PhoneNumber">
                </div>
                <div class="form-group mb-4">
                    <input class="form-control form-control-line" type="text" name="company-name" placeholder="Your Company Name*" ng-model="Registration_model.CompanyName">
                </div>
                <div class="text-center mb-4">
                    <button class="btn btn-primary btn-rounded btn-block" ng-click="form2Submit()">Next Step</button>
                    <br />
                    <span>If you continue, you agree to our <a class="color-inherit">Terms of Use</a></span>
                </div>
            </form>
            </div>
        </div>



    <div style="max-width: 600px; margin: 100px auto 50px;" ng-show="Registration_Forms.Form3">
        <div class="text-center mb-5">
            <span class="auth-head-icon"><i class="la la-user"></i></span>
        </div>
        <div class="ibox login-box">

            <form class="ibox-body" id="register-three">
                <h4 class="font-strong text-center mb-5">Choose Your Industry</h4>
                <span>
                    Which sector are you operating in?
                </span>
                <div class="form-group mb-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <br />
                            <a ng-click="form3Submit('0001')">
                                <div class="registration hvr-fade">
                                    <i class="fa fa-code"></i>
                                    <span>Software</span>
                                </div>
                            </a>

                            <a ng-click="form3Submit('0002')">
                                <div class="registration hvr-fade">
                                    <i class="fa fa-book"></i>
                                    <span>Training</span>
                                </div>
                            </a>

                            <a ng-click="form3Submit('0003')">
                                <div class="registration hvr-fade">
                                    <i class="fa fa-table"></i>
                                    <span>Production</span>
                                </div>
                            </a>

                        </div>

                        <div class="col-sm-6">
                            <br />
                            <a ng-click="form3Submit('0004')">
                                <div class="registration hvr-fade">
                                    <i class="fa fa-globe"></i>
                                    <span>Public Relations</span>
                                </div>
                            </a>

                            <a ng-click="form3Submit('0005')">
                                <div class="registration hvr-fade">
                                    <i class="fa fa-building"></i>
                                    <span>Construction</span>
                                </div>
                            </a>

                            <a ng-click="form3Submit('0006')">
                                <div class="registration hvr-fade">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Retail</span>
                                </div>
                            </a>

                        </div>
                        
                    </div>
                </div>
                <div class="text-center mb-4">
                    <span>If you continue, you agree to our <a class="color-inherit">Terms of Use</a></span>
                </div>
            </form>
            </div>
        </div>


        <div style="max-width: 600px; margin: 100px auto 50px;" ng-show="Registration_Forms.Form4">
        <div class="text-center mb-5">
            <span class="auth-head-icon"><i class="la la-user"></i></span>
        </div>
        <div class="ibox login-box">

            <form class="ibox-body" id="Form1">
                <h4 class="font-strong text-center mb-5">One Last Step</h4>
                <span>
                    Which of the following features do you think you will use most often? 
                </span>
                <div class="form-group mb-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <br />
                            <a ng-click="form4Submit('0001')">
                                <div class="registration hvr-fade">
                                    <i class="fa fa-code"></i>
                                    <span>Cash Flow</span>
                                </div>
                            </a>

                            <a ng-click="form4Submit('0002')">
                                <div class="registration hvr-fade">
                                    <i class="fa fa-book"></i>
                                    <span>Collection</span>
                                </div>
                            </a>

                            <a ng-click="form4Submit('0003')">
                                <div class="registration hvr-fade">
                                    <i class="fa fa-table"></i>
                                    <span>Invoice</span>
                                </div>
                            </a>

                        </div>

                        <div class="col-sm-6">
                            <br />
                            <a ng-click="form4Submit('0004')">
                                <div class="registration hvr-fade">
                                    <i class="fa fa-globe"></i>
                                    <span>Billing Follow up</span>
                                </div>
                            </a>

                            <a ng-click="form4Submit('0005')">
                                <div class="registration hvr-fade">
                                    <i class="fa fa-building"></i>
                                    <span>Invoice</span>
                                </div>
                            </a>

                            <a ng-click="form4Submit('0006')">
                                <div class="registration hvr-fade">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Inventory</span>
                                </div>
                            </a>

                        </div>
                        
                    </div>
                </div>
                <div class="text-center mb-4">
                    <span>If you continue, you agree to our <a class="color-inherit">Terms of Use</a></span>
                </div>
            </form>
            </div>
        </div>





</div>
