﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="SalesReportController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Sales Report</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Sales</li>
                <li class="breadcrumb-item">Sales Report</li>
            </ol>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">

        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">SALES</div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#filter">{{ DateRangeViewModel.StartDate }} - {{ DateRangeViewModel.EndDate }}</button>
                        </div>
                    </div>

                </div>
                <div class="ibox-body">
                    <div id="filter" class="row collapse">
                        <div class="col-md-12">
                            <table class="table">
                                <tbody class="remove-hr">
                                    <tr>
                                        <td style="text-align: right;"><b>Start Date</b></td>
                                        <td>
                                            <div class="form-group" id="startDate">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="DateRangeViewModel.StartDate" ng-change="setDate(1)">
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: right;"><b>End Date</b></td>
                                        <td>
                                            <div class="form-group" id="endDate">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="DateRangeViewModel.EndDate" ng-change="setDate(1)">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6" style="border-right: 1px solid rgba(0, 0, 0, 0.1);">
                            <h6>INVOICE CATEGORIES</h6>
                            <br />
                            <div id="flot_pie_chart" style="height: 150px;"></div>
                            <br />
                            <ul class="timeline">
                                <li ng-repeat="category in PieChartDataSales" ng-if="category.balanceAgainstThisCategory > 0" class="timeline-item" style="padding-right: 0;">
                                    <span class="timeline-point"></span>
                                    <span style="background-color: {{ category.color }}; color: white; border-radius: 10px; padding-left: 5px; padding-right: 5px;">{{ category.label }}</span>
                                    <span class="float-right">{{ (category.balanceAgainstThisCategory).toFixed(2) }}</span>
                                </li>
                            </ul>
                            <p ng-if="visibility.noData">No Data to display in the selected time period.</p>
                        </div>
                        <div class="col-md-6" style="border-right: 1px solid rgba(0, 0, 0, 0.1);">
                            <h6>CUSTOMER CATEGORIES</h6>
                            <br />
                            <div id="flot_pie_chart1" style="height: 150px;"></div>
                            <br />
                            <ul class="timeline">
                                <li ng-repeat="category in PieChartDataCustomers" ng-if="category.balanceAgainstThisCategory > 0" class="timeline-item" style="padding-right: 0;">
                                    <span class="timeline-point"></span>
                                    <span style="background-color: {{ category.color }}; color: white; border-radius: 10px; padding-left: 5px; padding-right: 5px;">{{ category.label }}</span>
                                    <span class="float-right">{{ (category.balanceAgainstThisCategory).toFixed(2) }}</span>
                                </li>
                            </ul>
                            <p ng-if="visibility.noData">No Data to display in the selected time period.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>INVOICE CATEGORIES</h6>
                            <br />
                            <div id="flot_bar_chart" style="height: 280px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">SALES</div>
                    <div class="btn-group-sm">

                        <ul class="nav nav-pills nav-fill">
                            <li class="nav-item">
                                <a class="btn btn-secondary btn-sm" data-target="#tab1" data-toggle="tab">Invoices</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-secondary btn-sm" data-target="#tab2" data-toggle="tab">Customers</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div class="table-responsive row tab-pane fade show active" id="tab1">
                                    <table class="table table-hover">
                                        <thead class="thead-default">
                                            <tr>
                                                <th>#</th>
                                                <th>Description</th>
                                                <th>Due Date</th>
                                                <th>Status</th>
                                                <th style="text-align: right;">Remaining Amount</th>
                                                <th style="text-align: right;">Total</th>
                                                <th class="no-sort"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="invoice in invoiceHeaderList" ng-style="((invoice.TotalAmount - invoice.TotalAllocatedAmount) == invoice.TotalAmount) && { color: 'red' }">
                                                <td></td>
                                                <td>{{ invoice.Description }}</td>
                                                <td>{{ invoice.DueDate }}</td>
                                                <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == invoice.TotalAmount">UNPAID</td>
                                                <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) < invoice.TotalAmount && (invoice.TotalAmount - invoice.TotalAllocatedAmount) != 0">PARTIALLY PAID</td>
                                                <td ng-if="(invoice.TotalAmount - invoice.TotalAllocatedAmount) == 0">FULLY PAID</td>
                                                <td style="text-align: right;">{{ (invoice.TotalAmount - invoice.TotalAllocatedAmount).toFixed(2) }}</td>
                                                <td style="text-align: right;">{{ (invoice.TotalAmount).toFixed(2) }}</td>
                                                <td><a class="fa fa-pencil-square-o" href="" ng-click="invoiceInformation(invoice.InvoiceHeaderId)"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-responsive row tab-pane fade" id="tab2">
                                    <table class="table table-hover">
                                        <thead class="thead-default">
                                            <tr>
                                                <th>#</th>
                                                <th>Title</th>
                                                <th>Balance Amount</th>
                                                <th class="no-sort"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="customer in customerList">
                                                <td></td>
                                                <td>{{ customer.CompanyTitle }}</td>
                                                <td>{{ customer.TotalRemainingAmount }}</td>
                                                <!--<td style="text-align: right;"><a class="fa fa-pencil-square-o" href="" ng-click="invoiceInformation(invoice.InvoiceHeaderId)"></a></td>-->
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

















        <!-- Footer -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
