﻿<!DOCTYPE html>

<html ng-app="FSTApp">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Naeem International | Marketing System</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="bower_components/jvectormap/jquery-jvectormap.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link href="Scripts/libraries/ng-dialog/ngDialog.css" rel="stylesheet" />
    <link href="Scripts/libraries/ng-dialog/ngDialog-theme-default.css" rel="stylesheet" />
</head>
<body ng-controller="MasterController" ng-class="{ 'hold-transition': loggedIn, 'skin-blue': loggedIn, 'sidebar-mini': loggedIn }">

    @RenderBody()

    <script src="Scripts/libraries/jquery/jquery-3.1.1.min.js"></script>
    <!-- jQuery 3 -->
    @*    <script src="bower_components/jquery/dist/jquery.min.js"></script>*@
    <!-- Bootstrap 3.3.7 -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- DataTables -->
    <script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.js"></script>
    <!-- Sparkline -->
    <script src="bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap  -->
    <script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- SlimScroll -->
    <script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- ChartJS -->
    <script src="bower_components/Chart.js/Chart.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="dist/js/pages/dashboardadmin.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demoadmin.js"></script>
    <script src="plugins/iCheck/icheck.min.js"></script>

    <script src="Scripts/libraries/angular/angular.min.js"></script>
    <script src="Scripts/libraries/angular/angular-route.min.js"></script>
    <script src="Scripts/libraries/angular/angular-resource.min.js"></script>
    <script src="Scripts/libraries/ngstorage/ngStorage.min.js"></script>
    <script src="Scripts/libraries/underscorejs/underscore.min.js"></script>
    <script src="Scripts/libraries/underscorejs/underscoremodule.js"></script>
    <script src="Scripts/libraries/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="Scripts/libraries/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="Scripts/libraries/ng-dialog/ngDialog.min.js"></script>
    <script src="Scripts/libraries/ng-mask/ngMask.min.js"></script>
    <script src="Scripts/libraries/multi-select/isteven-multi-select.js"></script>
    <script src="Scripts/libraries/angular-date-picker/angularjs-datetime-picker.js"></script>
    <script src="Scripts/libraries/angular-spinner/spin.min.js"></script>
    <script src="Scripts/libraries/angular-spinner/angular-spinner.js"></script>
    <script src="Scripts/libraries/moment/moment.min.js"></script>
    <script src="Scripts/libraries/pagination/dirPagination.js"></script>
    <script src="Scripts/app/app.js"></script>
    <script src="Scripts/app/common/models/common-objects.js"></script>
    <script src="Scripts/app/common/resource/resource.js"></script>
    <script src="Scripts/app/common/service/service-manager.js"></script>
    <script src="Scripts/app/common/controller/master-controller.js"></script>
    <script src="Scripts/app/common/controller/header-controller.js"></script>
    <script src="Scripts/app/common/controller/footer-controller.js"></script>
    <script src="Scripts/app/vendorregister/service/vendorregister-service.js"></script>
    <script src="Scripts/app/vendorregister/controller/vendorregister-controller.js"></script>
    <script src="Scripts/app/vendorlogin/controller/vendor-login-controller.js"></script>
    <script src="Scripts/app/vendorlogin/service/vendor-login-service.js"></script>
    <script src="Scripts/app/vendorpack/controller/vendor-pack-controller.js"></script>
    <script src="Scripts/app/vendorpack/service/vendor-pack-service.js"></script>
    <script src="Scripts/app/vendorsize/controller/vendor-size-controller.js"></script>
    <script src="Scripts/app/vendorsize/service/vendor-size-service.js"></script>
    <script src="Scripts/app/vendordashboard/controller/vendor-dashboard-controller.js"></script>
    <script src="Scripts/app/vendordashboard/service/vendor-dashboard-service.js"></script>
    <script src="Scripts/app/vendorproduct/controller/vendor-product-controller.js"></script>
    <script src="Scripts/app/vendorproduct/service/vendor-product-service.js"></script>
    <script src="Scripts/app/login/controller/login-controller.js"></script>
    <script src="Scripts/app/login/service/login-service.js"></script>
    <script src="Scripts/app/dashboard/controller/dashboard-controller.js"></script>
    <script src="Scripts/app/dashboard/service/dashboard-service.js"></script>
    <script src="Scripts/app/status/controller/status-controller.js"></script>
    <script src="Scripts/app/status/service/status-service.js"></script>
    <script src="Scripts/app/subcategory/controller/subcategory-controller.js"></script>
    <script src="Scripts/app/subcategory/service/subcategory-service.js"></script>
    <script src="Scripts/app/category/controller/category-controller.js"></script>
    <script src="Scripts/app/category/service/category-service.js"></script>
    <script src="Scripts/app/company/controller/company-controller.js"></script>
    <script src="Scripts/app/company/service/company-service.js"></script>
    <script src="Scripts/app/applicationuser/controller/application-user-controller.js"></script>
    <script src="Scripts/app/applicationuser/service/aplication-user-service.js"></script>
    <script src="Scripts/app/employee/controller/employee-controller.js"></script>
    <script src="Scripts/app/employee/service/employee-service.js"></script>
    <script src="Scripts/app/visit/controller/visit-controller.js"></script>
    <script src="Scripts/app/visit/service/visit-service.js"></script>
    <script src="Scripts/app/designation/controller/designation-controller.js"></script>
    <script src="Scripts/app/designation/service/designation-service.js"></script>
    <script src="Scripts/app/department/controller/department-controller.js"></script>
    <script src="Scripts/app/department/service/department-service.js"></script>
    <script src="Scripts/app/branch/controller/branch-controller.js"></script>
    <script src="Scripts/app/branch/service/branch-service.js"></script>
    <script src="Scripts/app/role/controller/role-controller.js"></script>
    <script src="Scripts/app/role/service/role-service.js"></script>

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>


    <span us-spinner="{position: fixed, radius:30, width:8, length: 16, color:'#fff'}" spinner-key="spinner-1"></span>
    <div id="disablebackground"></div>
</body>
</html>
