﻿<!DOCTYPE html>

<html ng-app="FSTApp">
<head>



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Cloud Accounts</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/vendors/line-awesome/css/line-awesome.min.css" rel="stylesheet" />
    <link href="assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/vendors/animate.css/animate.min.css" rel="stylesheet" />
    <link href="assets/vendors/toastr/toastr.min.css" rel="stylesheet" />
    <link href="assets/vendors/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />

    <!-- Pop up box / Modal / Alerts - Sweet Alert -->
    @*<link href="~/assets/vendors/bootstrap-sweetalert/dist/sweetalert.css" rel="stylesheet" />*@

    <!-- PLUGINS STYLES-->
    <link href="assets/vendors/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="assets/css/main.min.css" rel="stylesheet" />

    <!-- CUSTOM STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />

    <!-- JQUERY MINICOLORS STYLES-->
    <link href="~/assets/vendors/jquery-minicolors/jquery.minicolors.css" rel="stylesheet" />

    <!-- JQUERY palette-color-picker STYLES-->
    <link href="~/assets/vendors/palette-color-picker/palette-color-picker.css" rel="stylesheet" />

    <!-- HOVER STYLES-->
    <link href="~/assets/css/hover.css" rel="stylesheet" />

    <!-- File Upload STYLES-->
    <link href="~/assets/vendors/jquery-upload-file-master/stylesheet/uploadfile.css" rel="stylesheet" />

    <!-- Data Table -->
    <link href="~/assets/vendors/dataTables/datatables.min.css" rel="stylesheet" />

    <!-- Bootstrap Datepicker -->
    <link href="~/assets/vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />

    <!-- Pop up box / Modal / Alerts - Sweet Alert -->
    @*<script src="~/assets/vendors/bootstrap-sweetalert/dist/sweetalert.min.js"></script>*@


    <!-- PAGE LEVEL STYLES-->
    <style>
        body {
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(assets/img/blog/19.jpeg);
        }

        .cover {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(117, 54, 230, .1);
        }

        .auth-head-icon {
            position: relative;
            height: 60px;
            width: 60px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            background: rgba(0, 0, 0, .6);
            color: #fff;
            box-shadow: 0 5px 20px #d6dee4;
            border-radius: 50%;
            z-index: 2;
        }

        .login-box {
            background: rgba(0, 0, 0, .6);
            color: rgba(255, 255, 255, .8);
        }

            .login-box .form-control {
                background-color: transparent;
                border-color: rgba(255, 255, 255, .6);
                color: #fff;
            }

                .login-box .form-control:focus {
                    border-color: rgba(255, 255, 255, 1);
                }
    </style>



</head>
<body ng-controller="MasterController" ng-class="{ 'fixed-navbar': loggedIn }">

    @RenderBody()

    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    <!-- CORE PLUGINS-->


    <!-- SANITIZE TO ADD HTML TO DOM FROM ANGULAR-->
    @*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>*@


    <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="assets/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/vendors/metisMenu/dist/metisMenu.min.js"></script>
    <script src="assets/vendors/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/vendors/jquery-idletimer/dist/idle-timer.min.js"></script>
    <script src="assets/vendors/toastr/toastr.min.js"></script>
    <script src="assets/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <!-- PAGE LEVEL PLUGINS-->
    <script src="assets/vendors/chart.js/dist/Chart.min.js"></script>
    <script src="assets/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- Twitter Typehead -->
    <script src="assets/vendors/typeahead.js/dist/typeahead.bundle.min.js"></script>
    <!-- CORE SCRIPTS-->
    <script src="assets/js/app.min.js"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    <script src="assets/js/scripts/dashboard_visitors.js"></script>

    <script src="assets/js/helper.js"></script>
    @*<script src="assets/js/scripts/typehead-demo.js"></script>*@

    <!-- JQUERY MINICOLORS SCRIPT-->
    <script src="assets/vendors/jquery-minicolors/jquery.minicolors.min.js"></script>

    <!-- JQUERY palette-color-picker SCRIPT-->
    <script src="~/assets/vendors/palette-color-picker/palette-color-picker.min.js"></script>
    @*minified*@
    <script src="~/assets/vendors/palette-color-picker/palette-color-picker.js"></script>
    @*Original*@

    <!-- Charts -->
    <script src="./assets/vendors/Flot/jquery.flot.js"></script>
    <script src="./assets/vendors/Flot/jquery.flot.resize.js"></script>
    <script src="./assets/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="./assets/vendors/Flot/jquery.flot.time.js"></script>
    <script src="./assets/vendors/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="./assets/vendors/Flot/jquery.flot.categories.js"></script>
    <script src="./assets/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="./assets/vendors/Flot/jquery.flot.selection.js"></script>
    <script src="./assets/vendors/flot-orderBars/js/jquery.flot.orderBars.js"></script>

    <!-- File Upload Plugin -->
    <script src="~/assets/vendors/jquery-upload-file-master/js/jquery.uploadfile.js"></script>

    <!-- Data Table -->
    <script src="assets/vendors/dataTables/datatables.min.js"></script>

    <!-- Bootstrap Datepicker -->
    <script src="assets/vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <script src="Scripts/libraries/angular/angular.min.js"></script>
    <script src="Scripts/libraries/angular/angular-route.min.js"></script>
    <script src="Scripts/libraries/angular/angular-resource.min.js"></script>
    <script src="Scripts/libraries/ngstorage/ngStorage.min.js"></script>
    <script src="Scripts/libraries/underscorejs/underscore.min.js"></script>
    <script src="Scripts/libraries/underscorejs/underscoremodule.js"></script>
    <script src="Scripts/libraries/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="Scripts/libraries/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="Scripts/libraries/ng-dialog/ngDialog.min.js"></script>
    <script src="Scripts/libraries/ng-mask/ngMask.min.js"></script>
    <script src="Scripts/libraries/multi-select/isteven-multi-select.js"></script>
    <script src="Scripts/libraries/angular-date-picker/angularjs-datetime-picker.js"></script>
    <script src="Scripts/libraries/angular-spinner/spin.min.js"></script>
    <script src="Scripts/libraries/angular-spinner/angular-spinner.js"></script>
    <script src="Scripts/libraries/moment/moment.min.js"></script>
    <script src="Scripts/libraries/pagination/dirPagination.js"></script>
    <script src="Scripts/app/app.js"></script>
    <script src="Scripts/app/common/models/common-objects.js"></script>
    <script src="Scripts/app/common/resource/resource.js"></script>
    <script src="Scripts/app/common/service/service-manager.js"></script>
    <script src="Scripts/app/common/controller/master-controller.js"></script>
    <script src="Scripts/app/common/controller/header-controller.js"></script>

    <script src="Scripts/app/common/controller/sidebar-controller.js"></script>

    <script src="Scripts/app/common/controller/footer-controller.js"></script>
    <script src="Scripts/app/vendorregister/service/vendorregister-service.js"></script>
    <script src="Scripts/app/vendorregister/controller/vendorregister-controller.js"></script>
    <script src="Scripts/app/vendorlogin/controller/vendor-login-controller.js"></script>
    <script src="Scripts/app/vendorlogin/service/vendor-login-service.js"></script>
    <script src="Scripts/app/vendorpack/controller/vendor-pack-controller.js"></script>
    <script src="Scripts/app/vendorpack/service/vendor-pack-service.js"></script>
    <script src="Scripts/app/vendorsize/controller/vendor-size-controller.js"></script>
    <script src="Scripts/app/vendorsize/service/vendor-size-service.js"></script>
    <script src="Scripts/app/vendordashboard/controller/vendor-dashboard-controller.js"></script>
    <script src="Scripts/app/vendordashboard/service/vendor-dashboard-service.js"></script>
    <script src="Scripts/app/vendorproduct/controller/vendor-product-controller.js"></script>
    <script src="Scripts/app/vendorproduct/service/vendor-product-service.js"></script>
    <script src="~/Scripts/app/login/controller/forgot-password-controller.js"></script>
    <script src="Scripts/app/login/controller/login-controller.js"></script>
    <script src="Scripts/app/login/service/login-service.js"></script>
    <script src="Scripts/app/dashboard/controller/dashboard-controller.js"></script>
    <script src="Scripts/app/dashboard/service/dashboard-service.js"></script>
    <script src="Scripts/app/status/controller/status-controller.js"></script>
    <script src="Scripts/app/status/service/status-service.js"></script>
    <script src="Scripts/app/subcategory/controller/subcategory-controller.js"></script>
    <script src="Scripts/app/subcategory/service/subcategory-service.js"></script>
    @*    <script src="Scripts/app/category/controller/category-controller.js"></script>
    <script src="Scripts/app/category/service/category-service.js"></script>*@
    <script src="Scripts/app/company/controller/company-controller.js"></script>
    <script src="Scripts/app/company/service/company-service.js"></script>
    <script src="Scripts/app/applicationuser/controller/application-user-controller.js"></script>
    <script src="Scripts/app/applicationuser/service/aplication-user-service.js"></script>

    @*Employee*@
    <script src="Scripts/app/employee/controller/employee-list-controller.js"></script>
    <script src="Scripts/app/employee/controller/employee-create-controller.js"></script>
    <script src="Scripts/app/employee/controller/employee-information-controller.js"></script>
    <script src="Scripts/app/employee/service/employee-service.js"></script>
    <script src="Scripts/app/employee/controller/employee-salary-controller.js"></script>

    <script src="Scripts/app/visit/controller/visit-controller.js"></script>
    <script src="Scripts/app/visit/service/visit-service.js"></script>
    <script src="Scripts/app/designation/controller/designation-controller.js"></script>
    <script src="Scripts/app/designation/service/designation-service.js"></script>
    <script src="Scripts/app/department/controller/department-controller.js"></script>
    <script src="Scripts/app/department/service/department-service.js"></script>
    <script src="Scripts/app/branch/controller/branch-controller.js"></script>
    <script src="Scripts/app/branch/service/branch-service.js"></script>
    <script src="Scripts/app/role/controller/role-controller.js"></script>
    <script src="Scripts/app/role/service/role-service.js"></script>
    <script src="Scripts/app/register/controller/register-controller.js"></script>
    <script src="Scripts/app/register/service/register-service.js"></script>
    <script src="Scripts/app/categories/controller/categories-controller.js"></script>
    <script src="Scripts/app/categories/service/categories-service.js"></script>
    <script src="Scripts/app/user/controller/user-controller.js"></script>
    <script src="Scripts/app/user/service/user-service.js"></script>
    <script src="Scripts/app/invoice/controller/invoice-controller.js"></script>
    <script src="Scripts/app/invoice/service/invoice-service.js"></script>
    <script src="Scripts/app/customer/controller/customer-controller.js"></script>
    <script src="Scripts/app/customer/service/customer-service.js"></script>
    <script src="Scripts/app/sales-report/controller/sales-report-controller.js"></script>
    <script src="Scripts/app/sales-report/service/sales-report-service.js"></script>
    <script src="Scripts/app/income-expense-report/controller/income-expense-report-controller.js"></script>
    <script src="Scripts/app/income-expense-report/service/income-expense-report-service.js"></script>
    <script src="Scripts/app/collections-report/controller/collections-report-controller.js"></script>
    <script src="Scripts/app/collections-report/service/collections-report-service.js"></script>


    @*Expense Module*@
    <script src="Scripts/app/expense/controller/expense-list-controller.js"></script>
    <script src="Scripts/app/expense/controller/expense-create-controller.js"></script>
    <script src="Scripts/app/expense/controller/expense-information-controller.js"></script>
    <script src="Scripts/app/expense/service/expense-service.js"></script>
    <script src="~/Scripts/app/VAT-report/controller/VAT-report-controller.js"></script>
    <script src="~/Scripts/app/VAT-report/service/VAT-report-service.js"></script>
    <script src="Scripts/app/expense-report/controller/expense-report-controller.js"></script>
    <script src="Scripts/app/expense-report/service/expense-report-service.js"></script>
    <script src="~/Scripts/app/payment-report/controller/payment-report-controller.js"></script>
    <script src="~/Scripts/app/payment-report/service/payment-report-service.js"></script>


    @*Stock Module*@
    <script src="Scripts/app/product/controller/product-list-controller.js"></script>
    <script src="Scripts/app/product/controller/product-create-controller.js"></script>
    <script src="Scripts/app/product/controller/product-information-controller.js"></script>
    <script src="Scripts/app/product/service/product-service.js"></script>
    <script src="~/Scripts/app/stock-history/controller/stock-history-list-controller.js"></script>
    <script src="~/Scripts/app/stock-history/service/stock-history-service.js"></script>
    <script src="~/Scripts/app/products-in-stock-report/controller/products-in-stock-report-controller.js"></script>
    <script src="~/Scripts/app/products-in-stock-report/service/products-in-stock-report-service.js"></script>


    @*Cash-Bank*@
    <script src="Scripts/app/cash-bank/controller/cash-bank-list-controller.js"></script>
    <script src="Scripts/app/cash-bank/controller/cash-bank-create-controller.js"></script>
    <script src="Scripts/app/cash-bank/controller/cash-bank-information-controller.js"></script>
    <script src="Scripts/app/cash-bank/service/cash-bank-service.js"></script>
    <script src="~/Scripts/app/cash-bank-report/controller/cash-bank-report-controller.js"></script>
    <script src="~/Scripts/app/cash-bank-report/service/cash-bank-report-service.js"></script>



    @*    <script src="Scripts/app/expense-list/controller/expense-list-controller.js"></script>
    <script src="Scripts/app/expense-list/service/expense-list-service.js"></script>
    <script src="Scripts/app/Supplier/controller/supplier-controller.js"></script>
    <script src="Scripts/app/Supplier/service/supplier-service.js"></script>*@
    <script src="~/Scripts/app/company/controller/company-edit-controller.js"></script>



    <!-- Pop up box / Modal / Alerts - Alertify -->
    <script src="~/assets/vendors/alertifyjs/dist/js/alertify.js"></script>
    <script src="~/assets/js/scripts/alertify-demo.js"></script>



    <span us-spinner="{position: fixed, radius:30, width:8, length: 16, color:'#fff'}" spinner-key="spinner-1"></span>
    <div id="disablebackground"></div>
</body>
</html>
