﻿<section id="innercontent">

    <div class="container" id="vendor" style="padding-top: 0px;">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="row">
                    <ng-include src="'/Scripts/app/common/template/side-bar.html'"></ng-include>
                </div>
            </div>
            <div class="col-md-10 col-sm-10" style="padding-top: 45px;" ng-controller="VendorColorController">
                <div class="col-md-12 col-sm-12">
                    <p class="heading">Color</p>
                    <p>
                        Usually most styles have their own color name..but some color name has the same. Even if the color name is the same, the style pattern is so different 
so we need to define color ID and its color name. if vendor wants color swatch in product page, this related color image shoule be shown			
                    </p>
                </div>

                <div class="col-md-12 col-sm-12">


                    <div class="col-md-6 col-sm-6" style="border-right: 1px solid #e7e7e7;">
                        <h6>Add New Color</h6>
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-xs-3">Color ID</label>
                                <div class="col-xs-9">
                                    <input disabled type="text" class="form-control" placeholder="" ng-model="ColorViewModel.ColorId">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-3">Color Name<span class="mandatory">*</span></label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" placeholder="" ng-model="ColorViewModel.Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-3">Master Color<span class="mandatory">*</span></label>
                                <div class="col-xs-9">
                                    <select class="form-control" id="Select2" ng-model="selectedMasterColor">
                                        <option value="">---Please select---</option>
                                        <option ng-repeat="option in mastercolorlist" value="{{option.MasterColorId}}">{{option.MasterColorName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-3">Color Image<span class="mandatory">*</span></label>
                                <div class="col-xs-9">

                                    <input type="file" class="form-control" ng-model="ColorViewModel.Image" ngf-select accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorfile" class="search-query form-control" placeholder="" />

                                    <p style="text-align: right; color: #ccc">(Width 500 X Height 700)</p>
                                </div>

                            </div>


                            <div class="form-group">
                                <label class="control-label col-xs-3">Active</label>
                                <div class="col-xs-9">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Active" checked="" ng-model="ColorViewModel.Active">&nbsp;Yes&nbsp;
		                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="NonActive" ng-model="ColorViewModel.Active">&nbsp No
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="col-md-6 col-sm-6">

                        <div class="form-group" ng-if="ColorViewModel.Image.length > 0">
                            <div class="col-xs-9">
                                <img ng-src="{{ColorViewModel.Image}}" style="width: 50%; margin-top: 96px;" />
                            </div>
                        </div>
                    </div>

                </div>
                <!---cnter 12 end-->

                <div class="col-md-12">
                    <div class="form-group" style="border-top: 1px solid #ccc; padding-top: 10px; text-align: right;">
                        <button type="button" class="btn btn-danger" id="gry" ng-click="cancel()">Cancel</button>
                        <button type="button" class="btn btn-danger" id="black" ng-click="save(ColorViewModel.Image)">Save</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Search Color by Name</label>
                                <input type="text" class="form-control" placeholder="" ng-model="search.Name">
                            </div>
                        </div>
                    </div>
                    <table class="table table-responsive">

                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Master Color</th>
                            <th>Image</th>
                            <th>Active</th>
                            <th></th>
                            <th></th>
                        </tr>

                        <tr ng-repeat="item in listcolors | filter:search">
                            <td>{{item.ColorId}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.MasterColorId}}</td>
                            <td>
                                <img ng-src="{{item.Image}}" style="width: 25px; height: 25px;" />
                            </td>
                            <td>{{item.Active}}</td>
                            <td><a style="color: blue; text-decoration: underline;" ng-click="edit(item)">Edit</a></td>
                            <td><a style="color: blue; text-decoration: underline;" ng-click="delete(item)">Delete</a></td>

                        </tr>

                    </table>

                </div>

            </div>



        </div>
    </div>

</section>
