﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="EmployeeCreateController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Employees</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Expense</li>
                <li class="breadcrumb-item">Employees</li>
            </ol>

        </div>

        <!--        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="page-content fade-in-up">

            <div class="ibox">

                <div class="ibox-head">
                    <div class="ibox-title">Add a new Employee</div>
                    <div class="btn-group">
                        <div class="btn btn-outline-secondary" ng-click="Cancel()">CANCEL</div>
                        <div class="btn btn-outline-secondary" ng-click="Create()">SAVE</div>
                    </div>



                </div>
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table">
                                <tbody class="remove-hr">
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>EMPLOYEE NAME</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="EmployeeViewModel.Name">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>EMAIL ADDRESS</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="EmployeeViewModel.Email">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>IDENTIFICATION NUMBER</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="EmployeeViewModel.IdentificationNumber">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>IBAN NUMBER</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="EmployeeViewModel.IBAN">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>CATEGORY</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control"
                                                   autocomplete="off"
                                                   ng-model="selectedCategory"
                                                   ng-blur="setCategory()"
                                                   id="ddlCategory"
                                                   placeholder="Select Category">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>


            <!-- /.box -->

            <footer class="page-footer">
                <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
                <div>
                    <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                    <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
                </div>
                <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
            </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->




