﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="EmployeeInformationController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Employees</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Expense</li>
                <li class="breadcrumb-item">Employees</li>
            </ol>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-8">
                <div class="page-content fade-in-up">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                {{ Employee[0].Name }}
                            </div>
                            <button class="btn btn-secondary float-right" ng-click="employeeForm()">EDIT</button>
                        </div>
                        <div class="ibox-body" style="padding-top: 15px; padding-bottom: 15px;">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ Employee[0].Email }}
                                </div>
                                <div class="col-md-4">
                                    {{ CustomerViewModel.PhoneNumber }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="page-content fade-in-up">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <button class="btn btn-white btn-icon-only btn-circle" data-toggle="dropdown">
                                        <i class="ti-angle-down"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a ng-click="createSalary()" class="dropdown-item"><i class="ti-envelope"></i>Create Salary / Premium</a>
                                        <a ng-click="delete(Employee[0].EmployeeId)" class="dropdown-item"><i class="ti-close"></i>Delete Employee</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group btn-group-sm float-right">
                                        <button class="btn btn-secondary" data-toggle="collapse" data-target="#add">ADD ADVANCE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-body" style="padding: 10px 15px 15px 15px;">

                            <div id="add" class="collapse">
                                <div class="ibox-head">
                                    <div class="ibox-title">ADD ADVANCE</div>
                                </div>
                                <div class="ibox-body" style="padding-bottom: 0;">
                                    <div class="row">
                                        <table class="table">
                                            <tbody class="remove-hr">
                                                <tr>
                                                    <td style="padding: 0px 5px;">
                                                        <label class="mt-3"><b>DATE</b></label>
                                                    </td>
                                                    <td style="padding: 0px 5px;">
                                                        <div class="form-group" style="margin-bottom: 0;" id="date_99">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                <input ng-model="allocation.Date" class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 5px;">
                                                        <label class="mt-3"><b>ACCOUNT</b></label>
                                                    </td>
                                                    <td style="padding: 0px 5px;">
                                                        <!--<input ng-model="allocation.Account" class="form-control" value="Safe Account" ng-readonly="true" type="text">-->
                                                        <select class="form-control form-control-air" ng-model="selectedAccount" ng-options="account.AccountName for account in allAccounts track by account.CashBankId"></select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 5px;">
                                                        <label class="mt-3"><b>AMOUNT</b></label>
                                                    </td>
                                                    <td style="padding: 0px 5px;">
                                                        <input ng-model="allocation.Amount" class="form-control" value="summary.GrandTotal" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 5px;">
                                                        <label class="mt-3"><b>EXPLANATION</b></label>
                                                    </td>
                                                    <td style="padding: 0px 5px;">
                                                        <input ng-model="allocation.Explanation" class="form-control" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 5px;"></td>
                                                    <td style="padding: 8px 5px 0;">
                                                        <button class="btn btn-secondary float-right" ng-disabled="allocation.Amount <= 0" ng-click="addAdvance()">ADD ADVANCE</button>
                                                    </td>
                                                </tr>
                                                <tr ng-show="allocationValidation">
                                                    <td colspan="2">
                                                        <p style="color: red;">Please enter valid amount</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr class="mt-1 mb-3">
                            </div>
                            <ul class="timeline">
                                <li class="timeline-item">
                                    <table class="table remove-hr" style="margin-bottom: 0;">
                                        <tbody>
                                            <tr>
                                                <td colspan="3">Balance</td>
                                                <td style="text-align: right;">{{ (Employee[0].EmployeeBalance).toFixed(2) }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>






        <!-- /.box -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>



    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
