﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="EmployeeListController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Employees</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Expense</li>
                <li class="breadcrumb-item">Employees</li>
            </ol>

        </div>

        <!--        <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a href="#">Forms</a></li>
                    <li class="active">Advanced Elements</li>
                </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">



        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Employee List</div>
                    <button class="btn btn-secondary float-right" ng-click="createEmployee()">ADD NEW EMPLOYEE</button>
                </div>
                <div class="ibox-body">
                    <div class="table-responsive row">
                        <table class="table table-hover" id="datatable">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Employee Name</th>
                                    <th>Email</th>
                                    <!--<th>Status</th>
                                    <th>Remaining Amount</th>
                                    <th>Total</th>-->
                                    <!--<th class="no-sort"></th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="employee in employees" ng-click="employeeInformation(employee.EmployeeId)">
                                    <td></td>
                                    <td>{{ employee.Name }}</td>
                                    <td>{{ employee.Email }}</td>
<!--                                    <td ng-if="(expense.TotalAmount - expense.TotalAllocatedAmount) == expense.TotalAmount">UNPAID</td>
                                    <td ng-if="(expense.TotalAmount - expense.TotalAllocatedAmount) < expense.TotalAmount && (expense.TotalAmount - expense.TotalAllocatedAmount) != 0">PARTIALLY PAID</td>
                                    <td ng-if="(expense.TotalAmount - expense.TotalAllocatedAmount) == 0">FULLY PAID</td>
                                    <td style="text-align: right;">{{ expense.TotalAmount - expense.TotalAllocatedAmount }}</td>
                                    <td style="text-align: right;">{{ expense.TotalAmount }}</td>-->
                                    <!--<td style="text-align: right;"><a class="fa fa-pencil-square-o" href="" ng-click="invoiceInformation(invoice.InvoiceHeaderId)"></a></td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



        <!--        <div class="page-content fade-in-up">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox ibox-fullheight">
                                <div class="ibox-body">

                                    <div class="row">

                                        <div class="col-md-4">
                                            <b>SUBSCRIPTION INFORMATION</b>
                                        </div>

                                        <div class="col-md-4">
                                            <b>Your trial is in progress</b>
                                            <p>
                                                <br />
                                                If you are happy with this application, subscribe now, let's add the puck you choose
                                                the days from your trial.
                                            </p>
                                            <br />
                                            <b>Your trial is in progress</b>
                                            <p>
                                                <br />
                                                If you are happy with this application, subscribe now, let's add the puck you choose
                                                the days from your trial.
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <button class="btn btn-secondary float-right">SUBSCRIBE</button>
                                        </div>

                                    </div>

                                </div>

                                <hr>

                                <div class="ibox-body">

                                    <div class="row">

                                        <div class="col-md-4">
                                            <b>ACCESS PERMISSION</b>
                                        </div>

                                        <div class="col-md-4">
                                            <b>Account Owner</b>
                                            <p>
                                                <br />
                                                The address is exceltex@gmail.com as account holder.
                                                Subscription information can only be edited by the account holder.
                                                Assign another user as account holder
                                            </p>
                                            <br />
                                            <b>Your trial is in progress</b>
                                            <p>
                                                <br />
                                                If you are happy with this application, subscribe now, let's add the puck you choose
                                                the days from your trial.
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <button class="btn btn-secondary float-right">SUBSCRIBE</button>
                                        </div>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>


                <div class="page-content fade-in-up">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox ibox-fullheight">
                                <div class="ibox-body">

                                    <div class="row">

                                        <div class="col-md-4">
                                            <b>FINANCIAL INFORMATION</b>
                                        </div>

                                        <div class="col-md-4">
                                            <b>You can reset your financial data</b>
                                            <p>
                                            <br />
                                                You can delete all the data you have entered in this application. When you use the ALL DELETE CLEAR button,
                                                sales bills, expenses, customers and suppliers, employees, collections and payments, services and products,
                                                stock movements, checks, cash / bank accounts and all categories you create will be deleted.
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <button class="btn btn-danger float-right">DELETE ALL TRANSACTIONS</button>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
        <!-- /.box -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>



    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
