﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="EmployeeSalaryController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">New Salary / Premium</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Expense</li>
                <li class="breadcrumb-item">Salaries</li>
            </ol>

        </div>

        <!--        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="page-content fade-in-up">

            <div class="ibox">

                <div class="ibox-head">
                    <div class="ibox-title">Employee Salary</div>
                    <div class="btn-group">
                        <div class="btn btn-outline-secondary" ng-click="Cancel()">CANCEL</div>
                        <div class="btn btn-outline-secondary" ng-click="Create()">SAVE</div>
                    </div>



                </div>
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table">
                                <tbody class="remove-hr">
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>EXPLANATION</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="expenseHeader.Description">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>EMPLOYEE NAME</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control"
                                                autocomplete="off"
                                                ng-model="selectedEmployee"
                                                ng-blur="setEmployee()"
                                                id="ddlEmployee"
                                                placeholder="Select Employee">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>DATE</b></td>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <div class="form-group" id="date_1">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="expenseHeader.Date">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>AMOUNT</b></td>
                                        <td style="padding-bottom: 0;">
                                            <!--<input class="form-control" type="text" placeholder="0.00" ng-model="invoiceHeader.Description">-->
                                            <div class="input-group mb-3">
                                                <input class="form-control" type="text" ng-model="expenseHeader.TotalAmount" placeholder="0.00 {{ selectedCurrency }}">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-outline-secondary dropdown-toggle dropdown-arrow" data-toggle="dropdown">{{ selectedCurrency }}</button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="javascript:;" ng-click="setCurrency(0)">TURKISH LIRA <i class="la la-turkish-lira"></i></a>
                                                        <a class="dropdown-item" href="javascript:;" ng-click="setCurrency(1)">US DOLLAR <i class="la la-dollar"></i></a>
                                                        <a class="dropdown-item" href="javascript:;" ng-click="setCurrency(2)">EURO <i class="la la-euro"></i></a>
                                                        <a class="dropdown-item" href="javascript:;" ng-click="setCurrency(3)">BRITISH POND <i class="la la-gbp"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>PAYMENT STATUS</b></td>
                                        <td>
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary active" ng-click="setPaymentStatus('PAYABLE')">
                                                    <input type="radio" name="options" checked>
                                                    PAYABLE
                                                </label>
                                                <label class="btn btn-primary" ng-click="setPaymentStatus('PAID')">
                                                    <input type="radio" name="options">
                                                    PAID
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>CATEGORY</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control"
                                                autocomplete="off"
                                                ng-model="selectedCategory"
                                                ng-blur="setCategory()"
                                                id="ddlCategory"
                                                placeholder="Select Category">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>PAYMENT DATE</b></td>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <div class="form-group" id="date_1">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="expenseHeader.DueDate">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>


            <!-- /.box -->

            <footer class="page-footer">
                <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
                <div>
                    <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                    <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
                </div>
                <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
            </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->




