﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="ProductsInStockReportController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Payment Report</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Expense</li>
                <li class="breadcrumb-item">Payment Report</li>
            </ol>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">





        <div class="page-content fade-in-up">
            <div class="ibox">
<!--                <div class="ibox-head">
                    <div class="ibox-title">PAYMENT REPORT</div>
                </div>-->
                <div class="ibox-body">

                    <h4>STOCK VALUE</h4>
                    <br />
                    <div class="row">
                        <div class="col-md-4" style="border: 1px solid#0000001a;">
                            <br>
                            <h6 style="text-align: center;">{{ calculateEstimatedValues('sales').toFixed(2) }}<i class="la la-turkish-lira"></i></h6>
                            <h6 style="text-align: center;">Estimated Sales Value</h6>
                            <br>
                        </div>
                        <div class="col-md-4" style="border: 1px solid#0000001a;">
                            <br>
                            <h6 style="text-align: center;">{{ calculateEstimatedValues('purchase').toFixed(2) }}<i class="la la-turkish-lira"></i></h6>
                            <h6 style="text-align: center;">Estimated Buying Value</h6>
                            <br>
                        </div>
                        <div class="col-md-4" style="border: 1px solid#0000001a;">
                            <br>
                            <h6 style="text-align: center;">{{ (calculateEstimatedValues('sales') - calculateEstimatedValues('purchase')).toFixed(2) }}<i class="la la-turkish-lira"></i></h6>
                            <h6 style="text-align: center;">Potential Earnings</h6>
                            <br>
                        </div>
                    </div>
                    <br />
                    <p>Calculations are based on the Purchase Price and the Sales Price specified on the product pages.</p>
                    <!--<div class="row">
                        <div class="col-md-2" style="padding-left: 40px;" ng-click="setVisibility(0)">
                            <a>
                                <label style="padding-left: 10px;">UPDATED</label>
                                <div style="background-color: #0000001a; height: 180px; width: 90px;" ng-class="{ 'change-bg-color': (delayedInvoicesAmount[0] > 0) }">
                                </div>
                                <label style="padding-left: 30px; padding-top: 8px;">{{ delayedInvoicesAmount[0].toFixed(2) }}</label>
                            </a>
                        </div>
                        <div class="col-md-2" style="padding-left: 40px;" ng-click="setVisibility(1)">
                            <a>
                                <label style="padding-left: 10px;">1-30 DAYS</label>
                                <div style="background-color: #0000001a; height: 180px; width: 90px;" ng-class="{ 'change-bg-color': (delayedInvoicesAmount[1] > 0) }">
                                </div>
                                <label style="padding-left: 30px; padding-top: 8px;">{{ delayedInvoicesAmount[1].toFixed(2) }}</label>
                            </a>
                        </div>
                        <div class="col-md-2" style="padding-left: 40px;" ng-click="setVisibility(2)">
                            <a>
                                <label style="padding-left: 10px;">31-60 DAYS</label>
                                <div style="background-color: #0000001a; height: 180px; width: 90px;" ng-class="{ 'change-bg-color': (delayedInvoicesAmount[2] > 0) }">
                                </div>
                                <label style="padding-left: 30px; padding-top: 8px;">{{ delayedInvoicesAmount[2].toFixed(2) }}</label>
                            </a>
                        </div>
                        <div class="col-md-2" style="padding-left: 40px;" ng-click="setVisibility(3)">
                            <a>
                                <label style="padding-left: 4px;">61-90 DAYS</label>
                                <div style="background-color: #0000001a; height: 180px; width: 90px;" ng-class="{ 'change-bg-color': (delayedInvoicesAmount[3] > 0) }">
                                </div>
                                <label style="padding-left: 30px; padding-top: 8px;">{{ delayedInvoicesAmount[3].toFixed(2) }}</label>
                            </a>
                        </div>
                        <div class="col-md-2" style="padding-left: 40px;" ng-click="setVisibility(4)">
                            <a>
                                <label style="padding-left: 4px;">91-120 DAYS</label>
                                <div style="background-color: #0000001a; height: 180px; width: 90px;" ng-class="{ 'change-bg-color': (delayedInvoicesAmount[4] > 0) }">
                                </div>
                                <label style="padding-left: 30px; padding-top: 8px;">{{ delayedInvoicesAmount[4].toFixed(2) }}</label>
                            </a>
                        </div>
                        <div class="col-md-2" style="padding-left: 40px;" ng-click="setVisibility(5)">
                            <a>
                                <label style="padding-left: 10px;">120+ DAYS</label>
                                <div style="background-color: #0000001a; height: 180px; width: 90px;" ng-class="{ 'change-bg-color': (delayedInvoicesAmount[5] > 0) }">
                                </div>
                                <label style="padding-left: 30px; padding-top: 8px;">{{ delayedInvoicesAmount[5].toFixed(2) }}</label>
                            </a>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>

        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">All Products</div>
                </div>
                <div class="ibox-body">
                    <div class="table-responsive row">
                        <table class="table table-hover" id="datatable">
                            <thead class="thead-default">
                                <tr>
                                    <th>PRODUCT NAME</th>
                                    <th>CURRENT QUANTITY</th>
                                    <th>PURCHASE PRICE</th>
                                    <th>SALES PRICE</th>
                                    <th>INVENTORY COST</th>
                                    <th>SALES VALUE</th>
                                    <th>SALES PROFIT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in products" ng-if="product.CurrentQuantity > 0">
                                    <td>{{ product.Name }}</td>
                                    <td>{{ product.CurrentQuantity }}</td>
                                    <td style="text-align: right;">{{ (product.PurchasePrice * product.PurchaseCurrencyRate).toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                    <td style="text-align: right;">{{ (product.SalesPrice * product.SalesCurrencyRate).toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                    <td style="text-align: right;">{{ (product.CurrentQuantity * product.PurchasePrice * product.PurchaseCurrencyRate).toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                    <td style="text-align: right;">{{ (product.CurrentQuantity * product.SalesPrice * product.SalesCurrencyRate).toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                    <td style="text-align: right;">{{ (product.CurrentQuantity * product.SalesPrice * product.SalesCurrencyRate) - (product.CurrentQuantity * product.PurchasePrice * product.PurchaseCurrencyRate).toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
