﻿<section id="innercontent">
    <div class="container" id="vendor" style="padding-top: 0px;">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="row">
                    <ng-include src="'/Scripts/app/common/template/side-bar.html'"></ng-include>
                </div>
            </div>
            <div class="col-md-10 col-sm-10" style="padding-top: 45px;" ng-controller="VendorDashboardController">


                <div class="col-md-12 col-sm-12">
                    <p class="heading" style="font-size: 28px;">To Add Category</p>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Category Name<span class="mandatory">*</span></label>
                                <input type="text" class="form-control" placeholder="" ng-model="CategoryVendorViewModel.Name">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Master Category<span class="mandatory">*</span></label>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="form-control" id="exampleSelect1" ng-model="selectedcategory1" ng-change="categorychange1()">
                                        <option value="">---Please select---</option>
                                        <option ng-repeat="option in categorylist1" value="{{option.CategoryMasterId}}">{{option.CategoryName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="form-control" id="exampleSelect1" ng-model="selectedcategory2" ng-change="categorychange2()">
                                        <option value="">---Please select---</option>
                                        <option ng-repeat="option in categorylist2" value="{{option.CategoryMasterId}}">{{option.CategoryName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="form-control" id="exampleSelect1" ng-model="selectedcategory3" ng-change="categorychange3()">
                                        <option value="">---Please select---</option>
                                        <option ng-repeat="option in categorylist3" value="{{option.CategoryMasterId}}">{{option.CategoryName}}</option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="form-control" id="exampleSelect1" ng-model="selectedcategory4">
                                        <option value="">---Please select---</option>
                                        <option ng-repeat="option in categorylist4" value="{{option.CategoryMasterId}}">{{option.CategoryName}}</option>
                                    </select>

                                </div>
                            </div>

                        </div>

                        Select Master Category for this vendor category
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">

                                <div class="col-xs-1">
                                    <input type="checkbox" class="form-check-input" name="activecheck" id="activecheck" value="active" ng-model="CategoryVendorViewModel.Active">
                                </div>
                                <label class="control-label col-xs-2" style="margin-top: 2px;">Active</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="border-top: 1px solid #ccc; padding-top: 10px; text-align: right;">
                        <button type="button" class="btn btn-danger" id="gry" ng-click="cancel()">Cancel</button>
                        <button type="button" class="btn btn-danger" id="black" ng-click="save()">Save</button>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">Search Category by Name</label>
                                    <input type="text" class="form-control" placeholder="" ng-model="search.Name">
                                </div>
                            </div>
                        </div>
                        <table class="table table-responsive">

                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Active</th>
                                <th></th>
                                <th></th>
                            </tr>

                            <tr ng-repeat="item in listvendorcategory | filter:search">
                                <td>{{item.CategoryVendorId}}</td>
                                <td>{{item.HeirarchyName}}</td>
                                <td>{{item.Active}}</td>
                                <td><a style="color: blue; text-decoration: underline; cursor: pointer;" ng-click="edit(item)">Edit</a></td>
                                <td><a style="color: blue; text-decoration: underline; cursor: pointer;" ng-click="delete(item)">Delete</a></td>

                            </tr>

                        </table>

                    </div>

                </div>

                <!---end 2nd--->
            </div>


        </div>
    </div>
</section>
