﻿<footer class="main-footer" ng-if="loggedIn == true">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
   
    </div>
    <strong>Copyright &copy; 2017 <a href="http://www.gsolutions.com.pk">Generic Solutions & Consultancy</a>.</strong> All rights
    reserved.
 
</footer>

