﻿<!-- START SEARCH PANEL-->
<form class="search-top-bar" action="search.html"  ng-if="loggedIn == true">
    <input class="form-control search-input" type="text" placeholder="Search...">
    <button class="reset input-search-icon"><i class="ti-search"></i></button>
    <button class="reset input-search-close" type="button"><i class="ti-close"></i></button>
</form>
<!-- END SEARCH PANEL-->
