﻿<!-- START SIDEBAR-->
<nav class="page-sidebar" id="sidebar" ng-if="loggedIn == true" ng-controller="SidebarController">
    <div id="sidebar-collapse">
        <ul class="side-menu metismenu">
            <li class="active">
                <a href="javascript:;"><i class="sidebar-item-icon ti-home"></i>
                    <span class="nav-label">Settings</span><i class="fa fa-angle-left arrow"></i></a>
                <ul class="nav-2-level collapse in">
                    <li>
                        <a ng-click="company()" href="">Company Info</a>
                    </li>
                    <li>
                        <a ng-click="user()" href="">Users</a>
                    </li>
                    <li>
                        <a ng-click="categories()" href="">Categories and Labels</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="javascript:;">
                    <i class="sidebar-item-icon ti-home"></i>
                    <span class="nav-label">Sales</span><i class="fa fa-angle-left arrow"></i>
                </a>
                <ul class="nav-2-level collapse in">
                    <li>
                        <a ng-click="invoice()" href="">Invoice</a>
                    </li>
                    <li>
                        <a ng-click="customer()" href="">Customer</a>
                    </li>
                    <li>
                        <a ng-click="salesReport()" href="">Sales Report</a>
                    </li>
                    <li>
                        <a ng-click="collectionsReport()" href="">Collections Report</a>
                    </li>
                    <li>
                        <a ng-click="incomeExpenseReport()" href="">Income Expense Report</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="javascript:;">
                    <i class="sidebar-item-icon ti-home"></i>
                    <span class="nav-label">Expense</span><i class="fa fa-angle-left arrow"></i>
                </a>
                <ul class="nav-2-level collapse in">
                    <li>
                        <a ng-click="expenseList()" href="">Expense List</a>
                    </li>
                    <li>
                        <a ng-click="supplier()" href="">Supplier</a>
                    </li>
                    <li>
                        <a ng-click="employee()" href="">Employee</a>
                    </li>
                    <li>
                        <a ng-click="expenseReport()" href="">Expense Report</a>
                    </li>
                    <li>
                        <a ng-click="paymentReport()" href="">Payment Report</a>
                    </li>
                    <li>
                        <a ng-click="VATReport()" href="">VAT Report</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="javascript:;">
                    <i class="sidebar-item-icon ti-home"></i>
                    <span class="nav-label">Cash And Bank</span><i class="fa fa-angle-left arrow"></i>
                </a>
                <ul class="nav-2-level collapse in">
                    <li>
                        <a ng-click="cashBank()" href="">Cash And Bank</a>
                    </li>
                    <li>
                        <a ng-click="stockMovement()" href="">Checks</a>
                    </li>
                    <li>
                        <a ng-click="cashBankReport()" href="">Cash / Bank Report</a>
                    </li>
                    <li>
                        <a ng-click="stockReport()" href="">Cash Flow Report</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="javascript:;">
                    <i class="sidebar-item-icon ti-home"></i>
                    <span class="nav-label">Stock</span><i class="fa fa-angle-left arrow"></i>
                </a>
                <ul class="nav-2-level collapse in">
                    <li>
                        <a ng-click="product()" href="">Services And Products</a>
                    </li>
                    <li>
                        <a ng-click="stockHistory()" href="">Stock History</a>
                    </li>
                    <li>
                        <a ng-click="productsInStockReport()" href="">Products In Stock Report</a>
                    </li>
                </ul>
            </li>

            <!--<li class="heading">FEATURES</li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-paint-roller"></i>
                            <span class="nav-label">Basic UI</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="colors.html">Colors</a>
                            </li>
                            <li>
                                <a href="typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="panels.html">Panels</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Tabs</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="tabs-pill.html">Pills</a>
                                    </li>
                                    <li>
                                        <a href="tabs-line.html">Line tabs</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="alerts.html">Alerts</a>
                            </li>
                            <li>
                                <a href="tooltip_popover.html">Tooltip &amp; Popover</a>
                            </li>
                            <li>
                                <a href="badges_progress.html">Badges &amp; Progress</a>
                            </li>
                            <li>
                                <a href="lists.html">List</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-package"></i>
                            <span class="nav-label">Components</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="toastr.html">Toastr Notifications</a>
                            </li>
                            <li>
                                <a href="sweetalert.html">Sweet Alert</a>
                            </li>
                            <li>
                                <a href="alertify.html">Alertify</a>
                            </li>
                            <li>
                                <a href="idle_timer.html">Idle timer</a>
                            </li>
                            <li>
                                <a href="session_timeout.html">Session Timeout</a>
                            </li>
                            <li>
                                <a href="code_editor.html">Code Editor</a>
                            </li>
                            <li>
                                <a href="tree_view.html">Tree View</a>
                            </li>
                            <li>
                                <a href="nestable.html">Nestable List</a>
                            </li>
                            <li>
                                <a href="clipboard.html">Clipboard</a>
                            </li>
                            <li>
                                <a href="masonry.html">Masonry</a>
                            </li>
                            <li>
                                <a href="pdf_viewer.html">PDF viewer</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-heart"></i>
                            <span class="nav-label">Buttons</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Base Buttons</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="buttons-default.html">Default style</a>
                                    </li>
                                    <li>
                                        <a href="buttons-rounded.html">Rounded style</a>
                                    </li>
                                    <li>
                                        <a href="buttons-square.html">Square style</a>
                                    </li>
                                    <li>
                                        <a href="buttons-air.html">Air style</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="button-icon.html">Button Icon</a>
                            </li>
                            <li>
                                <a href="button-labeled.html">Labeled buttons</a>
                            </li>
                            <li>
                                <a href="button-animated.html">Animated buttons</a>
                            </li>
                            <li>
                                <a href="buttons-fab.html">FAB buttons</a>
                            </li>
                            <li>
                                <a href="button-groups.html">Button Groups</a>
                            </li>
                            <li>
                                <a href="button-dropdowns.html">Button dropdowns</a>
                            </li>
                            <li>
                                <a href="buttons-social.html">Social Buttons</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-layers-alt"></i>
                            <span class="nav-label">Widgets</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="widgets-statistics.html">Statistics Widgets</a>
                            </li>
                            <li>
                                <a href="widgets-list.html">App &amp; List Widgets</a>
                            </li>
                            <li>
                                <a href="widgets-user.html">User Widgets</a>
                            </li>
                            <li>
                                <a href="widgets-blog.html">Blog Widgets</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-check-box"></i>
                            <span class="nav-label">Forms</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Form Controls</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="form-controls.html">Inputs</a>
                                    </li>
                                    <li>
                                        <a href="form-switch.html">Switch</a>
                                    </li>
                                    <li>
                                        <a href="form-checkbox-radio.html">Checkbox &amp; Radio</a>
                                    </li>
                                    <li>
                                        <a href="form-input-groups.html">Input Groups</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="form_layouts.html">Form Layouts</a>
                            </li>
                            <li>
                                <a href="form_advanced.html">Advanced Plugins</a>
                            </li>
                            <li>
                                <a href="form_masks.html">Form input masks</a>
                            </li>
                            <li>
                                <a href="form_validation.html">Form Validation</a>
                            </li>
                            <li>
                                <a href="text_editors.html">Text Editors</a>
                            </li>
                            <li>
                                <a href="form_dropzone.html">Dropzone File Upload</a>
                            </li>
                            <li>
                                <a href="image_cropping.html">Image Cropping</a>
                            </li>
                            <li>
                                <a href="autocomplete.html">Autocomplete</a>
                            </li>
                            <li>
                                <a href="form_wizard.html">Form Wizard</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-layout-tab-window"></i>
                            <span class="nav-label">Tables</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="table_basic.html">Basic Tables</a>
                            </li>
                            <li>
                                <a href="datatables.html">Datatables</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-bar-chart"></i>
                            <span class="nav-label">Charts</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="charts_flot.html">Flot Charts</a>
                            </li>
                            <li>
                                <a href="charts_morris.html">Morris Charts</a>
                            </li>
                            <li>
                                <a href="chartjs.html">Chart.js</a>
                            </li>
                            <li>
                                <a href="c3.html">C3 Charts</a>
                            </li>
                            <li>
                                <a href="charts_peity.html">Peity Charts</a>
                            </li>
                            <li>
                                <a href="charts_sparkline.html">Sparkline Charts</a>
                            </li>
                            <li>
                                <a href="charts_rickshaw.html">Rickshaw Charts</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-map-alt"></i>
                            <span class="nav-label">Maps</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="maps_google.html">Google maps</a>
                            </li>
                            <li>
                                <a href="datamaps.html">Datamaps</a>
                            </li>
                            <li>
                                <a href="maps_vector.html">Vector maps</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="icons.html"><i class="sidebar-item-icon ti-comments-smiley"></i>
                            <span class="nav-label">Icons</span>
                        </a>
                    </li>
                    <li class="heading">PAGES</li>
                    <li>
                        <a href="mailbox.html"><i class="sidebar-item-icon ti-email"></i>
                            <span class="nav-label">Mailbox</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-pencil"></i>
                            <span class="nav-label">Blog</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="blog_list.html">List</a>
                            </li>
                            <li>
                                <a href="article.html">Article</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-shopping-cart"></i>
                            <span class="nav-label">E-Commerce</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="dashboard_ecommerce.html">Dashboard</a>
                            </li>
                            <li>
                                <a href="ecommerce_products_list.html">Products list</a>
                            </li>
                            <li>
                                <a href="ecommerce_add_product.html">Add new product</a>
                            </li>
                            <li>
                                <a href="ecommerce_orders_list.html">Orders list</a>
                            </li>
                            <li>
                                <a href="ecommerce_order_details.html">Order details</a>
                            </li>
                            <li>
                                <a href="invoice.html">Invoice</a>
                            </li>
                            <li>
                                <a href="ecommerce_customers.html">Customers</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="calendar.html"><i class="sidebar-item-icon ti-calendar"></i>
                            <span class="nav-label">Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-files"></i>
                            <span class="nav-label">General Pages</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="search.html">Search</a>
                            </li>
                            <li>
                                <a href="timeline.html">Timeline</a>
                            </li>
                            <li>
                                <a href="timeline_horizontal.html">Horizontal timeline</a>
                            </li>
                            <li>
                                <a href="pricing-table-1.html">Pricing Table v1</a>
                            </li>
                            <li>
                                <a href="pricing-table-2.html">Pricing Table v2</a>
                            </li>
                            <li>
                                <a href="pricing-table-3.html">Pricing Table v3</a>
                            </li>
                            <li>
                                <a href="pricing-table-4.html">Pricing Table v4</a>
                            </li>
                            <li>
                                <a href="pricing-table-5.html">Pricing Table v5</a>
                            </li>
                            <li>
                                <a href="pricing-table-6.html">Pricing Table v6</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-user"></i>
                            <span class="nav-label">Custom Pages</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">User Pages</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="profile.html">Profile</a>
                                    </li>
                                    <li>
                                        <a href="login.html">Login v1</a>
                                    </li>
                                    <li>
                                        <a href="login-2.html">Login v2</a>
                                    </li>
                                    <li>
                                        <a href="login-3.html">Login v3</a>
                                    </li>
                                    <li>
                                        <a href="login-4.html">Login v4</a>
                                    </li>
                                    <li>
                                        <a href="login-5.html">Login v5</a>
                                    </li>
                                    <li>
                                        <a href="lockscreen.html">Lockscreen</a>
                                    </li>
                                    <li>
                                        <a href="forgot_password.html">Forgot password</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Error Pages</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="error_404.html">404 error</a>
                                    </li>
                                    <li>
                                        <a href="error_404-2.html">404 error v2</a>
                                    </li>
                                    <li>
                                        <a href="error_403.html">403 error</a>
                                    </li>
                                    <li>
                                        <a href="error_500.html">500 error</a>
                                    </li>
                                    <li>
                                        <a href="maintenance.html">Maintenance Mode</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon ti-anchor"></i>
                            <span class="nav-label">Menu Levels</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="javascript:;">Level 2</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Level 2</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="javascript:;">Level 3</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Level 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>-->
        </ul>
        <div class="sidebar-footer">
            <a href="javascript:;"><i class="ti-announcement"></i></a>
            <a href="javascript:;"><i class="ti-calendar"></i></a>
            <a href="javascript:;"><i class="ti-comments"></i></a>
            <a href="javascript:;" ng-click="logOut()"><i class="ti-power-off"></i></a>
        </div>
    </div>
</nav>
<!-- END SIDEBAR-->



<!--<aside class="main-sidebar" ng-if="loggedIn == true">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="dist/img/user.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>admin</p>
                <a><i class="fa fa-circle text-success"></i>Online</a>
            </div>
        </div>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a>
                    <i class="fa fa-dashboard"></i><span>Setup</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/Company"><i class="fa fa-circle-o"></i>Company</a></li>
                    <li><a href="#/Category"><i class="fa fa-circle-o"></i>Category</a></li>
                    <li><a href="#/Subcategory"><i class="fa fa-circle-o"></i>Sub Category</a></li>
                    <li><a href="#/ApplicationUser"><i class="fa fa-circle-o"></i>Application User</a></li>
                    <li><a href="#/Employee"><i class="fa fa-circle-o"></i>Employee</a></li>
                    <li><a href="#/Status"><i class="fa fa-circle-o"></i>Status</a></li>
                        <li><a href="#/Role"><i class="fa fa-circle-o"></i>Role</a></li>
                </ul>
                <a>
                    <i class="fa fa-info-circle"></i><span>Visit Information</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    <ul class="treeview-menu">
                        
                    <li><a href="#/Visit"><i class="fa fa-circle-o"></i>Visit</a></li>
                    </ul>
                </a>
            </li>
          
        </ul>
    </section>
</aside>-->
