﻿<!--log in-->

<div ng-controller="ForgetController">
    <div class="cover"></div>
    <div style="max-width: 400px; margin: 100px auto 50px;">
        <div class="text-center mb-5">
            <span class="auth-head-icon"><i class="la la-user"></i></span>
        </div>
        <div class="ibox login-box">
            <form class="ibox-body" id="login-form">
                <h4 class="font-strong text-center mb-5">Recover Your Account</h4>
                <div class="form-group mb-4">
                    <label>Please enter the email address you created this account with!</label>
                    <input class="form-control form-control-solid" type="text" placeholder="some@email.com" ng-model="Login.User_Name" />
                </div>
                <div class="form-group mb-4">
                     <button type="button" class="btn btn-default" ng-click="submit()" data-dismiss="modal">Send Recovery Email</button>
                </div>
               
            </form>
        </div>



    </div>

<!--    <div style="max-width: 400px; margin: 100px auto 50px;">
        <div class="text-center mb-5">
            <span class="auth-head-icon"><i class="la la-user"></i></span>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Recover Your Account</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-4">
                            <label>Please enter the email address you created this account with!</label>
                            <input class="form-control form-control-solid" type="text" placeholder="some@email.com">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="alert()" data-dismiss="modal">Send Recovery Email</button>
                    </div>
                </div>
            </div>
        </div>

    </div>-->
</div>
