﻿<!--log in-->

<div ng-controller="LoginController">
    <div class="cover"></div>
    <div style="max-width: 400px; margin: 100px auto 50px;">
        <div class="text-center mb-5">
            <span class="auth-head-icon"><i class="la la-user"></i></span>
        </div>
        <div class="ibox login-box">
            <form class="ibox-body" id="login-form">
                <h4 class="font-strong text-center mb-5">LOG IN</h4>
                <div class="form-group mb-4">
                    <input class="form-control form-control-line" type="text" name="email" placeholder="Email" ng-model="Login.User_Name">
                </div>
                <div class="form-group mb-4">
                    <input class="form-control form-control-line" type="password" name="password" placeholder="Password" ng-model="Login.Password">
                </div>
                <div class="flexbox mb-5">
                    <label class="checkbox checkbox-primary">
                        <input type="checkbox" checked="">
                        <span class="input-span"></span>Remember</label>
                    <a class="color-inherit" ng-click="forgot()" >Forgot password?</a>
                </div>
                <div class="text-center mb-4">
                    <button class="btn btn-primary btn-rounded btn-block" ng-click="submit()">LOGIN</button>
                    <br />
                    <span>Don't have an account? <a class="color-inherit" style="text-decoration: underline;" ng-click="register()">Register Yourself</a></span>
                </div>
            </form>
        </div>

     

    </div>
</div>
