﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="VisitController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Visit
       
            <small>You can create visit from here. It is used in visitor report.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Visit Information</h3>
                
                            

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
                
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                
                <div class="row">
                    <div class="col-md-4">
                        <label>Date</label>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" ng-model="VisitViewModel.Date" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" placeholder="Date" >
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                            <div class="form-group">
                                <label>Staff*</label>
                                  <select  class="form-control" ng-model="selectedemployee">
                                    <option value="">--Please Select--</option>
                                    <option  ng-repeat="option in employeelist" value="{{option.Employee_ID}}">{{option.Employee_Name}}</option>
                                  </select>
                            </div>
                        </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <label>Status*</label>
                                  <select class="form-control" ng-model="selectedstatus">
                                      <option value="">--Please Select--</option>
                                    <option ng-repeat="option in statuslist" value="{{option.StatusId}}">{{option.Name}}</option>
                                  </select>
                        </div>   
                        </div> 
                    <!-- /.col -->
                    
                    <!-- /.col -->
                </div>

                <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                                <label>Company*</label>
                                  <select class="form-control" ng-model="selectedcompany">
                                    <option value="">--Please Select--</option>
                                    <option ng-repeat="option in companylist" value="{{option.Company_ID}}">{{option.Company_Name}}</option>
                                  </select>
                            </div>
                        </div>    

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Name*</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                <input "type="text" ng-model="VisitViewModel.Name" class="form-control" placeholder="Name" required >
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Time</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <input type="text" ng-model="VisitViewModel.Time" class="form-control" placeholder="Time">
                            </div>
                        </div>

                    </div>
                    <!-- /.col -->
                    
                    <!-- /.col -->
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Last Visit</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" ng-model="VisitViewModel.LastVisit" class="form-control" placeholder="Last Visit">
                            </div>
                        </div>

                    </div>
                    
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                <input type="text" ng-model="VisitViewModel.Address" class="form-control" placeholder="Address">
                            </div>
                        </div>

                    </div>
                    </div>
                    

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Product Intro</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-product-hunt"></i></span>
                                <input type="text" ng-model="VisitViewModel.ProductIntro" class="form-control" placeholder="Product Intro">
                            </div>
                        </div>
                        
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>New Inquiry</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-info-circle"></i></span>
                                <input type="text" ng-model="VisitViewModel.NewInquiry" class="form-control" placeholder="New Inquiry">
                            </div>
                        </div>
                        
                    </div>
                   </div>

                    <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>New Order</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                                <input type="text" ng-model="VisitViewModel.NewOrder" class="form-control" placeholder="New Order">
                            </div>
                        </div>
                        
                    </div>
                 </div>
                

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Payment</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                <input type="text" ng-model="VisitViewModel.Payment" class="form-control" placeholder="Payment">
                            </div>
                        </div>
                        
                    </div>
                    </div>
                    

                    <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Advertising</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-buysellads"></i></span>
                                <input type="text" ng-model="VisitViewModel.Advertising" class="form-control" placeholder="Advertising">
                            </div>
                        </div>
                        
                    </div>
                 </div>

                

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Stock Level</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-bar-chart"></i></span>
                                <input type="text" ng-model="VisitViewModel.StockLevel" class="form-control" placeholder="Stock Level">
                            </div>
                        </div>
                        
                    </div>
                    </div>
                   

                    <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Remarks</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-comment"></i></span>
                                <input type="text" ng-model="VisitViewModel.Remarks" class="form-control" placeholder="Remarks">
                            </div>
                        </div>
                        
                    </div>
                 </div>

               
                    
                <!-- /.row -->
                
                <br />
                <div class="row">
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
           </div>
            <!-- /.box-body -->
            <div class="box-footer">
                Below are the result of all created visit.
       
            </div>
        </div>
        <!-- /.box -->

        <div class="row">

            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Visit List</h3>
                    </div>

                    <div class="box-body">
                        <div class="table-responsive">
                        <table id="visitlist" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="control-label">Search Visit By Name</label>
                                                <input type="text" class="form-control" placeholder="" ng-model="search.Employee_Name">
                                            </div>
                                        </div>
                                    </div>
                                    <th>Date</th>
                                    <th>Staff</th>
                                    <th>Status</th>
                                    <th>Company</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in listvisit | filter:search">
                                    <td>{{item.Date}}</td>
                                    <td>{{item.Employee_Name}}</td>
                                    <td>{{item.Status_Name}}</td>
                                    <td>{{item.Company_Name}}</td>
                                    <td><a style="cursor:pointer;" ng-click="edit(item)">Edit</a></td>

                                </tr>

                        </table>
                            </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            </div>
            <!-- /.col (right) -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
