﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="CustomerController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Customers</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Sales</li>
                <li class="breadcrumb-item">Customers</li>
            </ol>

        </div>

        <!--        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="page-content fade-in-up" ng-show="visibility.customerList">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">CUSTOMERS</div>
                    <button class="btn btn-secondary float-right" ng-click="customerForm()">CREATE NEW CUSTOMER</button>
                </div>
                <div class="ibox-body">
                    <div class="table-responsive row">
                        <table class="table table-hover" id="datatable">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Balance Amount</th>
                                    <th class="no-sort"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="customer in customerList">
                                    <td></td>
                                    <td>{{ customer.CompanyTitle }}</td>
                                    <td ng-if="customer.TotalRemainingAmount - customer.TotalRemainingAmountBill > 0">{{ ((customer.TotalRemainingAmount - customer.TotalRemainingAmountBill).toFixed(2)).replace('-', '') }} <br> Receivable</td>
                                    <td ng-if="customer.TotalRemainingAmount - customer.TotalRemainingAmountBill < 0">{{ ((customer.TotalRemainingAmount - customer.TotalRemainingAmountBill).toFixed(2)).replace('-', '') }} <br> Payable</td>
                                    <td ng-if="customer.TotalRemainingAmount - customer.TotalRemainingAmountBill == 0">{{ customer.TotalRemainingAmount - customer.TotalRemainingAmountBill }}</td>
                                    <!--<td>{{ ((customer.TotalRemainingAmountBill - customer.TotalRemainingAmount).toFixed(2)).replace('-', '') }}</td>-->
                                    <td><a class="fa fa-pencil-square-o" href="" ng-click="customerInformation(customer.CustomerId)"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content fade-in-up" ng-show="visibility.customerForm">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">ADD CUSTOMER</div>
                    <!--<button class="btn btn-secondary float-right" ng-click="createCustomer()">SAVE</button>-->
                    <div class="btn-group">
                        <div class="btn btn-outline-secondary" ng-click="Cancel()">CANCEL</div>
                        <div class="btn btn-outline-secondary" ng-click="createCustomer()">SAVE</div>
                    </div>
                </div>
                <div class="ibox-body" style="padding-bottom: 0;">

                    <div class="row">

                        <div class="col-md-8">

                            <table class="table">
                                <tbody class="remove-hr">
                                    <tr>
                                        <td><b>COMPANY TITLE</b></td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="CustomerViewModel.CompanyTitle" value="{{ CustomerViewModel.CompanyTitle }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>SHORT NAME</b></td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="CustomerViewModel.ShortName" value="{{ CustomerViewModel.ShortName }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 .75rem 0 .75rem;"><b>CATEGORY</b></td>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <input class="form-control" autocomplete="off" ng-model="selectedCategory" ng-change="setCustomerCategory()" id="ddlCategory" placeholder="Select Category" value="{{ selectedCategory }}">
                                        </td>

                                    </tr>
                                    <tr>
                                        <td><b>E-MAIL ADDRESS</b></td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="CustomerViewModel.Email" value="{{ CustomerViewModel.Email }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>PHONE NUMBER</b></td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="CustomerViewModel.PhoneNumber" value="{{ CustomerViewModel.PhoneNumber }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>FAX NUMBER</b></td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="CustomerViewModel.FaxNumber" value="{{ CustomerViewModel.FaxNumber }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>IBAN NUMBER</b></td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="CustomerViewModel.IBANNumber" value="{{ CustomerViewModel.IBANNumber }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>OPEN ADDRESS</b></td>
                                        <td>
                                            <textarea class="form-control" ng-model="CustomerViewModel.Address" rows="3">{{ CustomerViewModel.Address }}</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="form-group">
                                                <label class="checkbox">
                                                    <input type="checkbox" ng-model="visibility.addressAbroad">
                                                    <span class="input-span"></span>Address Abroad
                                                </label>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr ng-show="!visibility.addressAbroad">
                                        <td><b>DISTRICT, PROVINCE</b></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="DISTRICT" style="width: 50px;" type="text" ng-model="CustomerViewModel.District" value="{{ CustomerViewModel.District }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="PROVINCE" type="text" ng-model="CustomerViewModel.Province" value="{{ CustomerViewModel.Province }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>TOUR</b></td>
                                        <td>
                                            <div class="form-group">
                                                <label class="radio" style="top: 6px;">
                                                    <input ng-change="customerType()" ng-checked="true" ng-model="someVar" type="radio" value="true" name="a">
                                                    <span class="input-span"></span>Legal entity
                                                </label>
                                                <label class="radio" style="top: 6px; left: 15px">
                                                    <input ng-change="customerType()" ng-model="someVar" type="radio" value="false" name="b">
                                                    <span class="input-span"></span>Real Person
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>VKN / TCKN</b></td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="CustomerViewModel.VKN" value="{{ CustomerViewModel.VKN }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>TAX ADMINISTRATION</b></td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="CustomerViewModel.Tax" value="{{ CustomerViewModel.Tax }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>OPENING BALANCE</b></td>
                                        <td>
                                            <div class="form-group">
                                                <label class="checkbox">
                                                    <input type="checkbox" ng-model="visibility.openingBalance">
                                                    <span class="input-span"></span>Opening gate is available
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-show="visibility.openingBalance">
                                        <td><b>AMOUNT</b></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group" id="date_1">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                            <input class="form-control" style="width: 50px;" type="text" data-date-end-date="0d" ng-model="CustomerViewModel.OpeningBalanceDate">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input class="form-control" style="width: 50px; text-align: right;" placeholder="0.00" type="text" ng-model="CustomerViewModel.OpeningBalanceAmount" value="{{ CustomerViewModel.OpeningBalanceAmount }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="col-md-2"></div>
                        <div class="col-md-2"></div>

                    </div>

                    <hr />

                    <div class="table-responsive row" ng-show="visibility.legalEntity">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-default thead-lg">
                                <tr>
                                    <th>NAME OF AUTHORIZED PERSON</th>
                                    <th>EMAIL</th>
                                    <th>TELEPHONE</th>
                                    <th>NOTES</th>
                                    <th class="no-sort"></th>
                                </tr>

                                <tr ng-repeat="row in rows track by $index">
                                    <td>
                                        <input class="form-control" type="text" ng-model="row.Name" value="{{ row.Name }}">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" ng-model="row.Email" value="{{ row.Email }}">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" ng-model="row.Telephone" value="{{ row.Telephone }}">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" ng-model="row.Notes" value="{{ row.Notes }}">
                                    </td>
                                    <td>
                                        <button class="btn btn-secondary btn-sm" ng-click="removeRow($index)"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>

                            </thead>
                        </table>

                        <button class="btn btn-secondary" ng-click="addNewRow()">ADD ANOTHER AUTHORIZED PERSON</button>

                    </div>

                    <br />


                </div>

            </div>

        </div>


        <div class="row" ng-show="visibility.customerInformation">
            <div class="col-md-8">
                <div class="page-content fade-in-up">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                {{ CustomerViewModel.CompanyTitle }}
                            </div>
                            <button class="btn btn-secondary float-right" ng-click="customerForm()">EDIT</button>
                        </div>
                        <div class="ibox-body" style="padding-top: 15px; padding-bottom: 15px;">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ CustomerViewModel.Email }}
                                </div>
                                <div class="col-md-4">
                                    {{ CustomerViewModel.PhoneNumber }}
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-outline-secondary btn-sm float-right float-right"
                                        data-toggle="collapse"
                                        data-target="#allInformationModal">
                                        SHOW ALL INFORMATION
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="allInformationModal" class="collapse">
                                        <hr>
                                        <div class="ibox-body" style="padding-top: 15px; padding-bottom: 15px;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label><b>COMPANY NAME</b></label>
                                                    <br>
                                                    <br>
                                                    <label><b>SHORT NAME</b></label>
                                                    <br>
                                                    <br>
                                                    <label><b>E-MAIL ADDRESS</b></label>
                                                    <br>
                                                    <br>
                                                    <label><b>PHONE NUMBER</b></label>
                                                    <br>
                                                    <br>
                                                    <label><b>FAX NUMBER</b></label>
                                                    <br>
                                                    <br>
                                                    <label><b>OPEN ADDRESS</b></label>
                                                    <br>
                                                    <br>
                                                    <label><b>TAX INFORMATION</b></label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>{{ CustomerViewModel.CompanyTitle }}</label>
                                                    <br />
                                                    <br />
                                                    <label>{{ CustomerViewModel.ShortName }}</label>
                                                    <br />
                                                    <br />
                                                    <label>{{ CustomerViewModel.Email }}</label>
                                                    <br />
                                                    <br />
                                                    <label>{{ CustomerViewModel.PhoneNumber }}</label>
                                                    <br />
                                                    <br />
                                                    <label>{{ CustomerViewModel.FaxNumber }}</label>
                                                    <br />
                                                    <br />
                                                    <label>{{ CustomerViewModel.Address }}</label>
                                                    <br />
                                                    <br />
                                                    <label>{{ CustomerViewModel.Tax }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="margin: 0;" />
                        <div class="ibox-body" style="padding-top: 15px; padding-bottom: 15px;">
                            <p ng-show="visibility.noInvoices">There are no invoices against this customer</p>
                            <table ng-show="!visibility.noInvoices" class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Description</th>
                                        <th></th>
                                        <th>Due Date</th>
                                        <th>Remaining Amount</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="invoice in invoicesAgainstThisCustomer">
                                    <td></td>
                                    <td>{{ invoice.Description }}</td>
                                    <td></td>
                                    <td>{{ invoice.DueDate }}</td>
                                    <td>{{ invoice.TotalAmount - invoice.TotalAllocatedAmount }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="page-content fade-in-up">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <button class="btn btn-white btn-icon-only btn-circle" data-toggle="dropdown">
                                        <i class="ti-angle-down"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" ng-click="createInvoice(CustomerViewModel.CustomerId)"><i class="ti-pencil"></i>Create Invoice</a>
                                        <hr style="margin: 0;" />
                                        <a ng-click="deleteCustomerById(CustomerViewModel.CustomerId)" class="dropdown-item"><i class="ti-close"></i>Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group btn-group-sm float-right">
                                        <!--                                        <button class="btn btn-secondary" data-toggle="collapse" data-target="#payment">PAYMENT</button>-->
                                        <button class="btn btn-secondary" data-toggle="collapse" data-target="#add">ADD COLLECTION</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-body" style="padding: 10px 15px 15px 15px;">
                            <!-- <div id="payment" class="collapse">
                                <div class="ibox-head">
                                    <div class="ibox-title">ADD PAYMENT</div>
                                </div>
                                <div class="ibox-body" style="padding-bottom: 0;">
                                    <ul class="nav nav-pills nav-fill">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-target="#tab-1-1" data-toggle="tab">CASH PAYMENT</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-target="#tab-1-2" data-toggle="tab">PAYMENT</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="tab-1-1">
                                            <div class="row">
                                                <table class="table">
                                                    <tbody class="remove-hr">
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>DATE</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="Div1">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input class="form-control" type="text" ng-model="invoiceHeader.Date">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>ACCOUNT</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input class="form-control" type="text" ng-model="invoiceHeader.Date"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>AMOUNT</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input class="form-control" value="0.00" type="text" ng-model="invoiceHeader.Date"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPLANATION</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input class="form-control" value="0.00" type="text" ng-model="invoiceHeader.Date"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;"></td>
                                                            <td style="padding: 8px 5px 0;">
                                                                <button class="btn btn-secondary float-right">ADD PAYMENT</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-1-2">
                                            <div class="row">
                                                <table class="table">
                                                    <tbody class="remove-hr">
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>ACCOUNT</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input class="form-control" type="text" ng-model="invoiceHeader.Date"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>DATE</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="Div1">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input class="form-control" type="text" ng-model="invoiceHeader.Date">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPIRY DATE</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="Div1">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input class="form-control" type="text" ng-model="invoiceHeader.Date">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>AMOUNT</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input class="form-control" value="0.00" type="text" ng-model="invoiceHeader.Date"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPLANATION</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input class="form-control" value="0.00" type="text" ng-model="invoiceHeader.Date"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;"></td>
                                                            <td style="padding: 8px 5px 0;">
                                                                <button class="btn btn-secondary float-right">ADD PAYMENT</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-1 mb-3">
                            </div>-->
                            <div id="add" class="collapse">
                                <div class="ibox-head">
                                    <div class="ibox-title">ADD COLLECTION</div>
                                </div>
                                <div class="ibox-body" style="padding-bottom: 0;">
                                    <ul class="nav nav-pills nav-fill">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-target="#tab-2-1" data-toggle="tab">CASH</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-target="#tab-2-2" data-toggle="tab">COLLECTION</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="tab-2-1">
                                            <div class="row">
                                                <table class="table">
                                                    <tbody class="remove-hr">
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>DATE</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="date_customerAllocation">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input ng-model="allocation.Date" class="form-control" type="text">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>ACCOUNT</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Account" class="form-control" value="Safe Account" ng-readonly="true" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>AMOUNT</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Amount" class="form-control" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPLANATION</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Explanation" class="form-control" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;"></td>
                                                            <td style="padding: 8px 5px 0;">
                                                                <button class="btn btn-secondary float-right"
                                                                    ng-disabled="CustomerViewModel.TotalRemainingAmount == 0"
                                                                    ng-click="addAllocation()">
                                                                    ADD COLLECTION
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr ng-show="visibility.allocationValidation">
                                                            <td colspan="2">
                                                                <p style="color: red;">Please enter valid amount</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-2-2">
                                            <div class="row">
                                                <table class="table">
                                                    <tbody class="remove-hr">
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>DATE</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="date_customerAllocation">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input ng-model="allocation.Date" class="form-control" type="text">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPIRY DATE</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <div class="form-group" style="margin-bottom: 0;" id="date_customerAllocation">
                                                                    <div class="input-group date">
                                                                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                        <input ng-model="allocation.ExpiryDate" class="form-control" type="text">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>AMOUNT</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Amount" class="form-control" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;">
                                                                <label class="mt-3"><b>EXPLANATION</b></label></td>
                                                            <td style="padding: 0px 5px;">
                                                                <input ng-model="allocation.Explanation" class="form-control" type="text">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0px 5px;"></td>
                                                            <td style="padding: 8px 5px 0;">
                                                                <button class="btn btn-secondary float-right"
                                                                    ng-disabled="CustomerViewModel.TotalRemainingAmount == 0"
                                                                    ng-click="addAllocation()">
                                                                    ADD COLLECTION
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr ng-show="visibility.allocationValidation">
                                                            <td colspan="2">
                                                                <p style="color: red;">Please enter valid amount</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-1 mb-3">
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <b>Total Remaining Amount</b>
                                </div>
                                <div class="col-md-4" style="text-align: right;">
                                    {{ CustomerViewModel.TotalRemainingAmount }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <!-- Footer -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>



    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
