﻿<section id="innercontent" ng-controller="VendorRegisterController">

    <div class="container" id="vendor">
        <div class="col-md-2 col-sm-2">
            <img src="/Content/img/vndr-icon.jpg">
        </div>
        <div class="col-md-10 col-sm-10">
            <p class="heading">VENDOR REGISTER</p>
            <h5>Join the No.1 Wholesale Online Shopping Mall in USA.</h5>
            <p>
                Get started - it's free.<br />
                Show and sell your products to thousands of qualified wholesale buyers at one time!<br />
                Become a FashionGo.net vendor and open your online store now.
            </p>
        </div>

        <div class="col-md-12 col-sm-12" id="sprt">&nbsp;</div>
        <div class="col-md-12 col-sm-12">
            <h2>Vendor Information</h2>
        </div>


        <div class="col-md-6 col-sm-6" style="border-right: 1px solid #e7e7e7;">
            <form class="form-horizontal" name="form1">
                <div class="form-group">
                    <label class="control-label col-xs-2">Company Name<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="companyname" name="companyname" placeholder="" ng-model="VendorRegisterModel.CompanyName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">First Name<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="firstname" placeholder="" ng-model="VendorRegisterModel.FirstName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">User ID<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="userid" placeholder="" ng-model="VendorRegisterModel.Username" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Email<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="email" placeholder="" ng-model="VendorRegisterModel.Email" required ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
                        <span ng-show="form1.email.$error.pattern" style="color: red; font-size: 10px;">Email format is not correct</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Website</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="website" placeholder="" ng-model="VendorRegisterModel.Website">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Pinterest</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="pinterest" placeholder="" ng-model="VendorRegisterModel.PInterestLink">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Youtube</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="youtube" placeholder="" ng-model="VendorRegisterModel.YouTubeLink">
                    </div>
                </div>

            </form>

        </div>

        <div class="col-md-6 col-sm-6">
            <form class="form-horizontal" id="form2" name="form2">
                <div class="form-group">
                    <label class="control-label col-xs-2">Business Licence<span class="mandatory">*</span></label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" placeholder="" name="businesslicence" ng-model="VendorRegisterModel.BusinessLiscense" required>
                    </div>
                    <label class="control-label col-xs-2" style="padding-left: 0pt; padding-right: 0pt;">File upload<span class="mandatory">*</span></label>
                    <div class="col-xs-5" style="padding-left: 0pt;">
                        <input type="file" class="form-control" placeholder="" name="businesslicencefile" ng-model="VendorRegisterModel.LiscenseDocumentURL" ngf-select accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorfile" required>
                    </div>
                </div>

                <!--                <div class="form-group">
                    
                </div>-->

                <div class="form-group">
                    <label class="control-label col-xs-2">Last Name<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="lastname" ng-model="VendorRegisterModel.LastName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Password<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="password" class="form-control" placeholder="" name="password" ng-model="VendorRegisterModel.Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Phone<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="phone" ng-model="VendorRegisterModel.Phone" required mask="(999) 999-9999" clean="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Facebook</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="facebook" ng-model="VendorRegisterModel.FacebookLink">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Instagram</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="instagram" ng-model="VendorRegisterModel.InstagramLink">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">LinkedIn</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="linkedin" ng-model="VendorRegisterModel.LinkedIn">
                    </div>
                </div>

            </form>
        </div>

        <div class="col-md-12 col-sm-12" id="Div1">&nbsp;</div>
        <div class="col-md-12 col-sm-12">
            <h2>H.Q | Shipping Address</h2>
        </div>

        <div class="col-md-6 col-sm-6" style="border-right: 1px solid #e7e7e7;">
            <form class="form-horizontal" id="form3" name="form3">
                <div class="form-group">
                    <label class="control-label col-xs-2">Street Address<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="shippingstreetaddress" name="shippingstreetaddress" placeholder="" ng-model="VendorRegisterModel.ShippingStreetAddress" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Suite<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="shippingsuite" ng-model="VendorRegisterModel.ShippingSuite" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">City<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="shippingcity" ng-model="VendorRegisterModel.ShippingCity" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">State<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="shippingstate" ng-model="VendorRegisterModel.ShippingState" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Zip Code<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="shippingzipcode" ng-model="VendorRegisterModel.ShippingZipCode" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Country<span class="mandatory">*</span></label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="shippingcountry" ng-model="VendorRegisterModel.ShippingCountry" required>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-md-6 col-sm-6">
            <div style="margin-top: -25px; float: right;">
                <label class="control-label">Click here if same as shipping address</label>
                <input type="checkbox" ng-model="sameasshipping" ng-change="sameasshippingchanged()">
            </div>
            <form class="form-horizontal" id="form4" name="form4">



                <div class="form-group">
                    <label class="control-label col-xs-2">Street Address</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="billingstreetaddress" ng-model="VendorRegisterModel.BillingStreetAddress">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Suite</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="billingsuite" ng-model="VendorRegisterModel.BillingSuite">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">City</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="billingcity" ng-model="VendorRegisterModel.BillingCity">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">State</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="billingstate" ng-model="VendorRegisterModel.BillingState">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Zip Code</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="billingzipcode" ng-model="VendorRegisterModel.BillingZipCode">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Country</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="" name="billingcountry" ng-model="VendorRegisterModel.BillingCountry">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12 col-sm-12" id="Div2">&nbsp;</div>
        <div class="form-group" align="center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary" id="reg-btn" ng-click="submit(VendorRegisterModel.LiscenseDocumentURL)">Register</button>
            </div>
        </div>

    </div>

</section>
