﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="IncomeExpenseReportController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Income and Expense Report</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Sales</li>
                <li class="breadcrumb-item">Income and Expense Report</li>
            </ol>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">





        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">INCOME EXPENSE REPORT</div>
                </div>
                <div class="ibox-body">
                    <div class="row">

                        <div class="col-md-12">
                            <table class="table">
                                <tbody class="remove-hr">
                                    <tr>
                                        <td style="text-align: right;"><b>Start Date</b></td>
                                        <td>
                                            <div class="form-group" id="startDate">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="DateRangeViewModel.StartDate" ng-change="setDate(1)">
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: right;"><b>End Date</b></td>
                                        <td>
                                            <div class="form-group" id="endDate">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="DateRangeViewModel.EndDate" ng-change="setDate(1)">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="table-responsive row">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th style="border-top: 0;">INCOME</th>
                                            <th style="border-top: 0; text-align: right;">{{ TotalAmountInSalesCategories.toFixed(2) }}</th>
                                        </tr>
                                        <tr ng-if="TotalAmountInSalesCategories == 0">
                                            <td>There are no recorded collections in the specified time period.</td>
                                            <td style="text-align: right;"></td>
                                        </tr>
                                        <tr ng-repeat="category in PieChartDataSales" ng-if="category.balanceAgainstThisCategory > 0" ng-style="((invoice.TotalAmount - invoice.TotalAllocatedAmount) == invoice.TotalAmount) && { color: 'red' }">
                                            <td>{{ category.label }}</td>
                                            <td style="text-align: right;">{{ category.balanceAgainstThisCategory.toFixed(2) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6 style="TEXT-ALIGN: center;">DISTRIBUTION OF REVENUES</h6>
                            <br />
                            <div id="flot_pie_chart" style="height: 280px;"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="table-responsive row">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th style="border-top: 0;">EXPENSES</th>
                                            <th style="border-top: 0; text-align: right;">0.00</th>
                                        </tr>
                                        <tr>
                                            <td>There are no recorded expenses in the specified time period.</td>
                                            <td style="text-align: right;"></td>
                                        </tr>
                                        <tr>
                                            <td><b>Net Profit</b></td>
                                            <td style="text-align: right;">{{ TotalAmountInSalesCategories.toFixed(2) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--<h6 style="TEXT-ALIGN: center;">DISTRIBUTION OF REVENUES</h6>
                            <br />
                            <div id="Div1" style="height: 150px;"></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
