﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="CategoriesController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Categories and Labels</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Settings</li>
                <li class="breadcrumb-item">Categories and Labels</li>
            </ol>

        </div>

        <!--        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">



        <div class="page-content fade-in-up">
            <div class="row">

                <div class="col-md-4">

                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <span>Sales Categories</span>
                            </div>
                            <hr />
                        </div>
                        <div class="ibox-body">
                            <ul class="list-group list-group-full list-group-divider">
                                <li ng-repeat="category in SalesCategories" class="list-group-item active">
                                    <span class="badge badge-success badge-pill" style="background-color: {{ category.CategoryColor }};">{{ category.CategoryName }}</span>
                                    <div class="float-right">
                                        <a href="">
                                            <i class="fa fa-pencil-square-o font-16 text-muted mr-2" data-toggle="modal" data-target="#editModal" ng-click="EditCategory(category)"></i>
                                            <i class="fa fa-trash-o font-16 text-muted mr-2" ng-click="Delete(category.CategoryId)"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <br />
                            <button type="button" class="btn btn-secondary btn-sm" ng-click="setCategoryType('0001')" data-toggle="modal" data-target="#categoryModal">ADD NEW</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <span>Expense Categories</span>
                            </div>
                            <hr />
                        </div>
                        <div class="ibox-body">
                            <ul class="list-group list-group-full list-group-divider">
                                <li ng-repeat="category in ExpenseCategories" class="list-group-item active">
                                    <span class="badge badge-success badge-pill" style="background-color: {{ category.CategoryColor }};">{{ category.CategoryName }}</span>
                                    <div class="float-right">
                                        <a href="">
                                            <i class="fa fa-pencil-square-o font-16 text-muted mr-2" data-toggle="modal" data-target="#editModal" ng-click="EditCategory(category)"></i>
                                            <i class="fa fa-trash-o font-16 text-muted mr-2" ng-click="Delete(category.CategoryId)"></i>
                                        </a>
                                    </div>

                                </li>
                            </ul>
                            <br />
                            <button type="button" class="btn btn-secondary btn-sm" ng-click="setCategoryType('0002')" data-toggle="modal" data-target="#categoryModal">ADD NEW</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <span>Revenue and Expense</span>
                            </div>
                            <hr />
                        </div>
                        <div class="ibox-body">
                            <ul class="list-group list-group-full list-group-divider">
                                <li ng-repeat="category in RevenueCategories" class="list-group-item active">
                                    <span class="badge badge-success badge-pill" style="background-color: {{ category.CategoryColor }};">{{ category.CategoryName }}</span>
                                    <div class="float-right">
                                        <a href="">
                                            <i class="fa fa-pencil-square-o font-16 text-muted mr-2" data-toggle="modal" data-target="#editModal" ng-click="EditCategory(category)"></i>
                                            <i class="fa fa-trash-o font-16 text-muted mr-2" ng-click="Delete(category.CategoryId)"></i>
                                        </a>
                                    </div>

                                </li>
                            </ul>
                            <br />
                            <button type="button" class="btn btn-secondary btn-sm" ng-click="setCategoryType('0003')" data-toggle="modal" data-target="#categoryModal">ADD NEW</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="page-content fade-in-up">
            <div class="row">

                <div class="col-md-4">

                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <span>Serives and Products</span>
                            </div>
                            <hr />
                        </div>
                        <div class="ibox-body">
                            <ul class="list-group list-group-full list-group-divider">
                                <li ng-repeat="category in ServicesCategories" class="list-group-item active">
                                    <span class="badge badge-success badge-pill" style="background-color: {{ category.CategoryColor }};">{{ category.CategoryName }}</span>
                                    <div class="float-right">
                                        <a href="">
                                            <i class="fa fa-pencil-square-o font-16 text-muted mr-2" data-toggle="modal" data-target="#editModal" ng-click="EditCategory(category)"></i>
                                            <i class="fa fa-trash-o font-16 text-muted mr-2" ng-click="Delete(category.CategoryId)"></i>
                                        </a>
                                    </div>

                                </li>
                            </ul>
                            <br />
                            <button type="button" class="btn btn-secondary btn-sm" ng-click="setCategoryType('0004')" data-toggle="modal" data-target="#categoryModal">ADD NEW</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <span>Working Categories</span>
                            </div>
                            <hr />
                        </div>
                        <div class="ibox-body">
                            <ul class="list-group list-group-full list-group-divider">
                                <li ng-repeat="category in WorkingCategories" class="list-group-item active">
                                    <span class="badge badge-success badge-pill" style="background-color: {{ category.CategoryColor }};">{{ category.CategoryName }}</span>
                                    <div class="float-right">
                                        <a href="">
                                            <i class="fa fa-pencil-square-o font-16 text-muted mr-2" data-toggle="modal" data-target="#editModal" ng-click="EditCategory(category)"></i>
                                            <i class="fa fa-trash-o font-16 text-muted mr-2" ng-click="Delete(category.CategoryId)"></i>
                                        </a>
                                    </div>

                                </li>
                            </ul>
                            <br />
                            <button type="button" class="btn btn-secondary btn-sm" ng-click="setCategoryType('0005')" data-toggle="modal" data-target="#categoryModal">ADD NEW</button>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <span>Customer and Supplies</span>
                            </div>
                            <hr />
                        </div>
                        <div class="ibox-body">
                            <ul class="list-group list-group-full list-group-divider">
                                <li ng-repeat="category in CustomerCategories" class="list-group-item active">
                                    <span class="badge badge-success badge-pill" style="background-color: {{ category.CategoryColor }};">{{ category.CategoryName }}</span>
                                    <div class="float-right">
                                        <a href="">
                                            <i class="fa fa-pencil-square-o font-16 text-muted mr-2" data-toggle="modal" data-target="#editModal" ng-click="EditCategory(category)"></i>
                                            <i class="fa fa-trash-o font-16 text-muted mr-2" ng-click="Delete(category.CategoryId)"></i>
                                        </a>
                                    </div>

                                </li>
                            </ul>
                            <br />
                            <button type="button" class="btn btn-secondary btn-sm" ng-click="setCategoryType('0006')" data-toggle="modal" data-target="#categoryModal">ADD NEW</button>
                        </div>
                    </div>

                </div>

                <div id="categoryModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">ADD</h4>
                            </div>
                            <div class="modal-body">
                                <label>CATEGORY NAME</label>
                                <input class="form-control" type="text" ng-model="CategoryViewModel.CategoryName" placeholder="Name" value="{{CategoryViewModel.CategoryName}}">
                                <br />
                                <div class="form-group">
                                    <label>CATEGORY COLOR</label>
                                    <!--                                     <input class="form-control minicolors" type="text" ng-model="CategoryViewModel.CategoryColor"
                                        data-control="hue" value="{{CategoryViewModel.CategoryColor}}">-->

                                    <input type="text"
                                        ng-model="CategoryViewModel.CategoryColor"
                                        name="demo"
                                        class="form-control "
                                        data-palette='[
                                        {"#C0C0C0": "#C0C0C0"},
                                        {"#808080": "#808080"},
                                        {"#000000": "#000000"},
                                        {"#FF0000": "#FF0000"},
                                        {"#800000": "#800000"},
                                        {"#FFFF00": "#FFFF00"},
                                        {"#808000": "#808000"},
                                        {"#00FF00": "#00FF00"},
                                        {"#008000": "#008000"},
                                        {"#00FFFF": "#00FFFF"},
                                        {"#008080": "#008080"},
                                        {"#0000FF": "#0000FF"},
                                        {"#FF00FF": "#FF00FF"},
                                        {"#800080": "#800080"}]'
                                        disabled="disabled"
                                        placeholder="Your selected color">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" ng-click="Save()" data-dismiss="modal">Save</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="editModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">ADD</h4>
                            </div>
                            <div class="modal-body">
                                <label>CATEGORY NAME</label>
                                <input class="form-control" type="text" ng-model="CategoryViewModel.CategoryName" placeholder="Name" value="{{CategoryViewModel.CategoryName}}">
                                <br />
                                <div class="form-group">
                                    <label>Color</label>
                                    <!--<input class="form-control minicolors" type="text" ng-model="CategoryViewModel.CategoryColor"
                                        data-control="hue" value="{{CategoryViewModel.CategoryColor}}">-->

                                    <input type="text"
                                        ng-model="CategoryViewModel.CategoryColor"
                                        name="demo1"
                                        class="form-control "
                                        data-palette='[
                                        {"SILVER": "#C0C0C0"},
                                        {"GRAY": "#808080"},
                                        {"BLACK": "#000000"},
                                        {"RED": "#FF0000"},
                                        {"MAROON": "#800000"},
                                        {"YELLOW": "#FFFF00"},
                                        {"OLIVE": "#808000"},
                                        {"LIME": "#00FF00"},
                                        {"GREEN": "#008000"},
                                        {"AQUA": "#00FFFF"},
                                        {"TEAL": "#008080"},
                                        {"BLUE": "#0000FF"},
                                        {"FUCHSIA": "#FF00FF"},
                                        {"PURPLE": "#800080"}]'
                                        disabled="disabled"
                                        placeholder="Your selected color">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" ng-click="SaveChanges()" data-dismiss="modal">Edit</button>
                            </div>
                        </div>

                    </div>
                </div>




            </div>
        </div>








        <!-- Footer -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>



    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
