﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="ProductCreateController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Services and Products</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Stock</li>
                <li class="breadcrumb-item">Services and Products</li>
            </ol>

        </div>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="page-content fade-in-up">

            <div class="ibox">

                <div class="ibox-head">
                    <div class="ibox-title">Add a new Product or Service</div>

                    <div class="btn-group">
                        <div class="btn btn-outline-secondary" ng-click="Cancel()">CANCEL</div>
                        <div class="btn btn-outline-secondary" ng-click="create()">SAVE</div>
                    </div>



                </div>
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table">
                                <tbody class="remove-hr">
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>NAME</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="productViewModel.Name">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>PRODUCT / STOCK CODE</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="productViewModel.Code">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>BARCODE NUMBER</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="productViewModel.Barcode">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>CATEGORY</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control"
                                                autocomplete="off"
                                                ng-model="selectedCategory"
                                                ng-blur="setCategory()"
                                                id="ddlCategory"
                                                placeholder="Select Category">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>STOCK FOLLOW UP</b></td>
                                        <td style="padding-bottom: 0;">
                                            <div class="form-group">
                                                <div class="mb-2">
                                                    <label class="radio radio-inline">
                                                        <input type="radio" ng-model="visibility.StartQuantity" value="true" name="e">
                                                        <span class="input-span"></span>YOU DONE</label>
                                                    <label class="radio radio-inline">
                                                        <input type="radio" ng-model="visibility.StartQuantity" value="false" name="e">
                                                        <span class="input-span"></span>WHAT YOU</label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="visibility.StartQuantity == 'true'">
                                        <td style="padding-bottom: 0;"><b>STARTING STOCK QUANTITY</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" ng-model="productViewModel.StartingQuantity" placeholder="0.00">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>BUY / SALES UNIT</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="productViewModel.Unit">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>EXCEPT TAX PURCHASE PRICE</b></td>
                                        <td style="padding-bottom: 0;">
                                            <!--<input class="form-control" type="text" placeholder="0.00" ng-model="invoiceHeader.Description">-->
                                            <div class="input-group mb-3">
                                                <input class="form-control" type="text" ng-blur="setCurrency(0, 'purchase')" ng-model="productViewModel.PurchasePrice" placeholder="0.00 {{ selectedPurchaseCurrency }}">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-outline-secondary dropdown-toggle dropdown-arrow" data-toggle="dropdown">{{ selectedPurchaseCurrency }}</button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="javascript:;" ng-click="setCurrency(0, 'purchase')">TURKISH LIRA</a>
                                                        <a class="dropdown-item" href="javascript:;" ng-click="setCurrency(1, 'purchase')">US DOLLAR</a>
                                                        <a class="dropdown-item" href="javascript:;" ng-click="setCurrency(2, 'purchase')">EURO</a>
                                                        <a class="dropdown-item" href="javascript:;" ng-click="setCurrency(3, 'purchase')">BRITISH POND</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>EXCEPT TAX SALES PRICE</b></td>
                                        <td style="padding-bottom: 0;">
                                            <div class="input-group mb-3">
                                                <input class="form-control" type="text" ng-blur="setCurrency(0, 'sales')" ng-model="productViewModel.SalesPrice" placeholder="0.00 {{ selectedSalesCurrency }}">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-outline-secondary dropdown-toggle dropdown-arrow" data-toggle="dropdown">{{ selectedSalesCurrency }}</button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="javascript:;" ng-click="setCurrency(0, 'sales')">TURKISH LIRA</a>
                                                        <a class="dropdown-item" href="javascript:;" ng-click="setCurrency(1, 'sales')">US DOLLAR</a>
                                                        <a class="dropdown-item" href="javascript:;" ng-click="setCurrency(2, 'sales')">EURO</a>
                                                        <a class="dropdown-item" href="javascript:;" ng-click="setCurrency(3, 'sales')">BRITISH POND</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>KDV</b></td>
                                        <td style="padding-bottom: 0;">
                                            <!--<input class="form-control" type="text" placeholder="" ng-model="productViewModel.KDVPerc">-->
                                            <div class="form-group mb-4">
                                                <select ng-model="productViewModel.KDVPerc" class="form-control">
                                                    <option value="18">18% KDV</option>
                                                    <option value="8">8% KDV</option>
                                                    <option value="1">1% KDV</option>
                                                    <option value="0">0% KDV</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>TAX INCLUDED PURCHASE PRICE</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" value="{{ ((productViewModel.PurchasePrice - 0) + (((productViewModel.PurchasePrice - 0) * (productViewModel.KDVPerc - 0)) / 100)).toFixed(2) }}" placeholder="0.00 {{ selectedPurchaseCurrency }}" disabled>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>TAX INCLUDED SALES PRICE</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" value="{{ ((productViewModel.SalesPrice - 0) + (((productViewModel.SalesPrice - 0) * (productViewModel.KDVPerc - 0)) / 100)).toFixed(2) }}" placeholder="0.00 {{ selectedPurchaseCurrency }}" disabled>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>


            <!-- /.box -->

            <footer class="page-footer">
                <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
                <div>
                    <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                    <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
                </div>
                <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
            </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
