﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="ProductInformationController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Services and Products</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Stock</li>
                <li class="breadcrumb-item">Services and Products</li>
            </ol>
        </div>

        <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">{{ product[0].Name }}</div>
                    <!--<button class="btn btn-secondary float-right" ng-click="createProduct()">EDIT</button>-->

                    <div class="btn-group mb-2">
                        <div class="btn-group">
                            <div class="btn btn-secondary dropdon-toggle dropdown-arrow" data-toggle="dropdown"></div>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a ng-click="delete()" class="dropdown-item"><i class="ti-close"></i>Delete Product</a>
                            </div>
                        </div>
                        <div class="btn btn-secondary" ng-click="edit()">EDIT</div>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="table-responsive row">
                        <table class="table table-hover">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Sales Price</th>
                                    <th>Buying Price</th>
                                    <th>KDV%</th>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    <th>Code</th>
                                    <th>Barcode</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>{{ product[0].SalesPrice }}<i class="{{ currencies[product[0].SalesCurrencyId].symbol }}"></i></td>
                                    <td>{{ product[0].PurchasePrice }}<i class="{{ currencies[product[0].PurchaseCurrencyId].symbol }}"></i></td>
                                    <td>{{ product[0].KDVPerc }}</td>
                                    <td>{{ product[0].CurrentQuantity }}</td>
                                    <td>{{ product[0].Unit }}</td>
                                    <td>{{ product[0].Code }}</td>
                                    <td>{{ product[0].Barcode }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-body">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" data-target="#tab1" data-toggle="tab">Stock Movements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-target="#tab2" data-toggle="tab">Sales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-target="#tab3" data-toggle="tab">Purchases</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab1">
                            <div class="row">
                                <table class="table">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>#</th>
                                            <th>Operation Type</th>
                                            <th>Customer / Supplier</th>
                                            <th>Transaction Date</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody class="remove-hr">
                                        <tr ng-repeat="invoice in allInvoicesByProductId">
                                            <td></td>
                                            <td ng-if="invoice.VoucherType == '0001'">Stock Out</td>
                                            <td ng-if="invoice.VoucherType == '0002'">Stock In</td>
                                            <td>{{ invoice.CustomerName }}</td>
                                            <td>{{ invoice.Date }}</td>
                                            <td>{{ invoice.ProductQuantity }}.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" ng-if="allInvoicesByProductId.count() > 0">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <p>No transaction history available</p>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2">
                            <div class="row">
                                <table class="table">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>#</th>
                                            <th>Past Procedures</th>
                                            <th>Customer</th>
                                            <th>Transaction Date</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Total Price</th>
                                        </tr>
                                    </thead>
                                    <tbody class="remove-hr">
                                        <tr ng-repeat="invoice in allInvoicesByProductId" ng-if="invoice.VoucherType == '0001'">
                                            <td></td>
                                            <td>{{ invoice.Description }}</td>
                                            <td>{{ invoice.CustomerName }}</td>
                                            <td>{{ invoice.Date }}</td>
                                            <td>{{ invoice.ProductQuantity }}.00</td>
                                            <td>{{ product[0].SalesPrice }}<i class="la la-turkish-lira"></i></td>
                                            <td>{{ invoice.ProductQuantity * product[0].SalesPrice }}<i class="la la-turkish-lira"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" ng-if="allInvoicesByProductId.count() > 0">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <p>No transaction history available</p>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab3">
                            <div class="row">
                                <table class="table">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>#</th>
                                            <th>Past Procedures</th>
                                            <th>Supplier</th>
                                            <th>Transaction Date</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Total Price</th>
                                        </tr>
                                    </thead>
                                    <tbody class="remove-hr">
                                        <tr ng-repeat="invoice in allInvoicesByProductId" ng-if="invoice.VoucherType == '0002'">
                                            <td></td>
                                            <td>{{ invoice.Description }}</td>
                                            <td>{{ invoice.CustomerName }}</td>
                                            <td>{{ invoice.Date }}</td>
                                            <td>{{ invoice.ProductQuantity }}.00</td>
                                            <td>{{ product[0].PurchasePrice }}<i class="la la-turkish-lira"></i></td>
                                            <td>{{ invoice.ProductQuantity * product[0].PurchasePrice }}<i class="la la-turkish-lira"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" ng-if="allInvoicesByProductId.count() > 0">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <p>No transaction history available</p>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- /.box -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->







