﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="CashBankAccountInformationController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Account Details</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Cash And Bank</li>
                <li class="breadcrumb-item">Account Details</li>
            </ol>
        </div>

        <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">




        <div class="row">
            <div class="col-md-8">
                <div class="page-content fade-in-up">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                {{ cashBankAccount[0].AccountName }}
                            </div>
                            <button class="btn btn-secondary float-right" ng-click="edit()">EDIT</button>
                        </div>
                        <div class="ibox-body" style="padding-top: 15px; padding-bottom: 15px;">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ cashBankAccount[0].CurrencyName }}
                                </div>
                                <div class="col-md-4">
                                    Safe Account
                                </div>
                            </div>
                        </div>
                        <hr style="margin: 0;" />
                        <div class="ibox-body" style="padding-top: 15px; padding-bottom: 15px;">
                            <p ng-show="visibility.noInvoices">There are no invoices against this customer</p>
                            <table ng-show="!visibility.noInvoices" class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Transaction Type</th>
                                        <th>Transaction Date</th>
                                        <th>Business Partner</th>
                                        <th>Amount</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="gLDetail in cashBankAccount[0].GLDetails">
                                    <td></td>
                                    <td>{{ gLDetail.TransactionType }}</td>
                                    <td>{{ gLDetail.Date }}</td>
                                    <td></td>
                                    <td style="text-align:  right;">{{ (gLDetail.Debit - gLDetail.Credit).toFixed(2) }}</td>
                                    <td style="text-align:  right;"><b>{{ (gLDetail.Balance).toFixed(2) }}</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="page-content fade-in-up">
                    <div class="ibox">
                        <div class="ibox-body" style="padding: 15px 15px 15px 15px;">

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <button class="btn btn-secondary" data-toggle="collapse" data-target="#transfer">TRANSFER TO OTHER ACCOUNT</button>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <div id="transfer" class="collapse">
                                <div class="ibox-head">
                                    <div class="ibox-title">TRANSFER AMOUNT</div>
                                </div>
                                <div class="ibox-body" style="padding-bottom: 0;">
                                    <p>You can transfer money to other accounts</p>
                                    <div class="row">
                                        <table class="table">
                                            <tbody class="remove-hr">
                                                <tr>
                                                    <td style="padding: 0px 5px;">
                                                        <label class="mt-3"><b>SELECT ACCOUNT</b></label>
                                                    </td>
                                                    <td style="padding: 0px 5px;">
                                                        <input ng-model="allocation.Account" class="form-control" value="Safe Account" ng-readonly="true" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 5px;">
                                                        <label class="mt-3"><b>DATE</b></label>
                                                    </td>
                                                    <td style="padding: 0px 5px;">
                                                        <div class="form-group" style="margin-bottom: 0;" id="date_customerAllocation">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                <input ng-model="allocation.Date" class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 5px;">
                                                        <label class="mt-3"><b>AMOUNT</b></label>
                                                    </td>
                                                    <td style="padding: 0px 5px;">
                                                        <input ng-model="allocation.Amount" class="form-control" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 5px;">
                                                        <label class="mt-3"><b>EXCHANGE RATE</b></label>
                                                    </td>
                                                    <td style="padding: 0px 5px;">
                                                        <input ng-model="allocation.Amount" class="form-control" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 5px;">
                                                        <label class="mt-3"><b>CONVERTED AMOUNT</b></label>
                                                    </td>
                                                    <td style="padding: 0px 5px;">
                                                        <input ng-model="allocation.Amount" class="form-control" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 5px;">
                                                        <label class="mt-3"><b>EXPLANATION</b></label>
                                                    </td>
                                                    <td style="padding: 0px 5px;">
                                                        <input ng-model="allocation.Explanation" class="form-control" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0px 5px;"></td>
                                                    <td style="padding: 8px 5px 0;">
                                                        <button class="btn btn-secondary float-right"
                                                                ng-disabled="CustomerViewModel.TotalRemainingAmount == 0"
                                                                ng-click="addAllocation()">
                                                            TRANSFER AMOUNT
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr ng-show="visibility.allocationValidation">
                                                    <td colspan="2">
                                                        <p style="color: red;">Please enter valid amount</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr class="mt-1 mb-3">
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <button class="btn btn-secondary" data-toggle="collapse" data-target="#addMoney">ADD AMOUNT</button>
                                </div>
                                <div class="col-md-1"></div>
                                <div id="addMoney" class="collapse">
                                    <div class="ibox-head">
                                        <div class="ibox-title">Add Money to this account</div>
                                    </div>
                                    <div class="ibox-body" style="padding-bottom: 0;">
                                        <p>Add money entries that you can not save on the sales page. This does not change the customer / supplier relationships.</p>
                                        <div class="row">
                                            <table class="table">
                                                <tbody class="remove-hr">
                                                    <tr>
                                                        <td style="padding: 0px 5px;">
                                                            <label class="mt-3"><b>DATE</b></label>
                                                        </td>
                                                        <td style="padding: 0px 5px;">
                                                            <div class="form-group" style="margin-bottom: 0;" id="date_customerAllocation">
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                    <input ng-model="generalVoucherViewModel.Date" class="form-control" type="text">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 5px;">
                                                            <label class="mt-3"><b>AMOUNT</b></label>
                                                        </td>
                                                        <td style="padding: 0px 5px;">
                                                            <input ng-model="generalVoucherViewModel.Amount" class="form-control" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 5px;">
                                                            <label class="mt-3"><b>EXPLANATION</b></label>
                                                        </td>
                                                        <td style="padding: 0px 5px;">
                                                            <input ng-model="generalVoucherViewModel.Explanation" class="form-control" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 5px;"></td>
                                                        <td style="padding: 8px 5px 0;">
                                                            <button class="btn btn-secondary float-right"
                                                                    ng-disabled="generalVoucherViewModel.Amount <= 0"
                                                                    ng-click="addGeneralVoucher('add')">
                                                                ADD AMOUNT
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show="visibility.allocationValidation">
                                                        <td colspan="2">
                                                            <p style="color: red;">Please enter valid amount</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr class="mt-1 mb-3">
                                </div>

                            </div>

                            <br />

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <button class="btn btn-secondary" data-toggle="collapse" data-target="#removeMoney">REMOVE AMOUNT</button>
                                </div>
                                <div class="col-md-1"></div>
                                <div id="removeMoney" class="collapse">
                                    <div class="ibox-head">
                                        <div class="ibox-title">Remove Money from this account</div>
                                    </div>
                                    <div class="ibox-body" style="padding-bottom: 0;">
                                        <p>Add the money removals which you can not save on the expenses page here. This does not change the customer / supplier relationships.</p>
                                        <div class="row">
                                            <table class="table">
                                                <tbody class="remove-hr">
                                                    <tr>
                                                        <td style="padding: 0px 5px;">
                                                            <label class="mt-3"><b>DATE</b></label>
                                                        </td>
                                                        <td style="padding: 0px 5px;">
                                                            <div class="form-group" style="margin-bottom: 0;" id="date_customerAllocation">
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                    <input ng-model="generalVoucherViewModel.Date" class="form-control" type="text">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 5px;">
                                                            <label class="mt-3"><b>AMOUNT</b></label>
                                                        </td>
                                                        <td style="padding: 0px 5px;">
                                                            <input ng-model="generalVoucherViewModel.Amount" class="form-control" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 5px;">
                                                            <label class="mt-3"><b>EXPLANATION</b></label>
                                                        </td>
                                                        <td style="padding: 0px 5px;">
                                                            <input ng-model="generalVoucherViewModel.Explanation" class="form-control" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 5px;"></td>
                                                        <td style="padding: 8px 5px 0;">
                                                            <button class="btn btn-secondary float-right"
                                                                    ng-disabled="CustomerViewModel.TotalRemainingAmount == 0"
                                                                    ng-click="addGeneralVoucher('remove')">
                                                                REMOVE AMOUNT
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show="visibility.allocationValidation">
                                                        <td colspan="2">
                                                            <p style="color: red;">Please enter valid amount</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr class="mt-1 mb-3">
                                </div>

                                <div id="Div5" class="collapse">
                                    <div class="ibox-head">
                                        <div class="ibox-title">TRANSFER AMOUNT</div>
                                    </div>
                                    <div class="ibox-body" style="padding-bottom: 0;">
                                        <p>You can transfer money to other accounts</p>
                                        <div class="row">
                                            <table class="table">
                                                <tbody class="remove-hr">
                                                    <tr>
                                                        <td style="padding: 0px 5px;">
                                                            <label class="mt-3"><b>SELECT ACCOUNT</b></label>
                                                        </td>
                                                        <td style="padding: 0px 5px;">
                                                            <input ng-model="allocation.Account" class="form-control" value="Safe Account" ng-readonly="true" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 5px;">
                                                            <label class="mt-3"><b>DATE</b></label>
                                                        </td>
                                                        <td style="padding: 0px 5px;">
                                                            <div class="form-group" style="margin-bottom: 0;" id="Div6">
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                                    <input ng-model="allocation.Date" class="form-control" type="text">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 5px;">
                                                            <label class="mt-3"><b>AMOUNT</b></label>
                                                        </td>
                                                        <td style="padding: 0px 5px;">
                                                            <input ng-model="allocation.Amount" class="form-control" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 5px;">
                                                            <label class="mt-3"><b>EXCHANGE RATE</b></label>
                                                        </td>
                                                        <td style="padding: 0px 5px;">
                                                            <input ng-model="allocation.Amount" class="form-control" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 5px;">
                                                            <label class="mt-3"><b>CONVERTED AMOUNT</b></label>
                                                        </td>
                                                        <td style="padding: 0px 5px;">
                                                            <input ng-model="allocation.Amount" class="form-control" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 5px;">
                                                            <label class="mt-3"><b>EXPLANATION</b></label>
                                                        </td>
                                                        <td style="padding: 0px 5px;">
                                                            <input ng-model="allocation.Explanation" class="form-control" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 5px;"></td>
                                                        <td style="padding: 8px 5px 0;">
                                                            <button class="btn btn-secondary float-right"
                                                                    ng-disabled="CustomerViewModel.TotalRemainingAmount == 0"
                                                                    ng-click="addAllocation()">
                                                                ADD COLLECTION
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show="visibility.allocationValidation">
                                                        <td colspan="2">
                                                            <p style="color: red;">Please enter valid amount</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr class="mt-1 mb-3">
                                </div>


                            </div>


                            <br />

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <button class="btn btn-secondary" data-toggle="dropdown">OTHER ACCOUNT PROCEDURES</button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a ng-click="delete(cashBankAccount[0].CashBankId)" class="dropdown-item"><i class="ti-close"></i>Delete This Account</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-7">
                                    <b>BALANCE</b>
                                </div>
                                <div class="col-md-4" style="text-align: right;">
                                    <b>{{ (totalDebitAmount - totalCreditAmount).toFixed(2) }}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <!-- /.box -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
