﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="CashBankCreateController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Cash and Bank</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Cash and Bank</li>
                <li class="breadcrumb-item">Add New Account</li>
            </ol>

        </div>
        <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="page-content fade-in-up">

            <div class="ibox">

                <div class="ibox-head">
                    <div class="ibox-title">Add a new Account</div>
                    <button class="btn btn-secondary float-right" ng-click="createAccount()">SAVE</button>
                </div>
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table">
                                <tbody class="remove-hr">
                                    <tr>
                                        <td style="padding-bottom: 0;"><b>ACCOUNT NAME</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="accountViewModel.AccountName">
                                        </td>
                                    </tr>
                                    <tr ng-if="visibility.Edit == false">
                                        <td style="padding-bottom: 0;"><b>CURRENCY TYPE</b></td>
                                        <td style="padding-bottom: 0;">
                                            <!--<input class="form-control" type="text" placeholder="" ng-model="productViewModel.KDVPerc">-->
                                            <div class="form-group mb-4">
                                                <select ng-change="setCurrency(accountViewModel.CurrencyName)" ng-model="accountViewModel.CurrencyName" class="form-control">
                                                    <option selected="selected" value="TRL – Turkish Lira">TRL – Turkish Lira</option>
                                                    <option value="USD – US Dollar">USD – US Dollar</option>
                                                    <option value="EUR – Euro">EUR – Euro</option>
                                                    <option value="GBP – British Pond">GBP – British Pond</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="visibility.Edit == true">
                                        <td style="padding-bottom: 0;"><b>CURRENCY TYPE</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" disabled="disabled" ng-model="accountViewModel.CurrencyName">
                                        </td>
                                    </tr>
                                    <tr ng-if="visibility.Edit == false">
                                        <td style="padding-bottom: 0;"><b>OPENING BALANCE</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" ng-model="accountViewModel.OpeningBalance" placeholder="0.00 {{ selectedPurchaseCurrency }}">
                                        </td>
                                    </tr>
                                    <tr ng-if="visibility.Edit == false">
                                        <td style="padding-bottom: 0;"><b>OPENING BALANCE AS OF</b></td>
                                        <td style="padding: 0 .75rem 0 .75rem;">
                                            <div class="form-group" id="date_1">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="accountViewModel.OpeningBalanceDate">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="visibility.Bank == true">
                                        <td style="padding-bottom: 0;"><b>BANK NAME</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="accountViewModel.BankName">
                                        </td>
                                    </tr>
                                    <tr ng-if="visibility.Bank == true">
                                        <td style="padding-bottom: 0;"><b>BRANCH</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="accountViewModel.Branch">
                                        </td>
                                    </tr>
                                    <tr ng-if="visibility.Bank == true">
                                        <td style="padding-bottom: 0;"><b>ACCOUNT NUMBER</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="accountViewModel.AccountNumber">
                                        </td>
                                    </tr>
                                    <tr ng-if="visibility.Bank == true">
                                        <td style="padding-bottom: 0;"><b>IBAN</b></td>
                                        <td style="padding-bottom: 0;">
                                            <input class="form-control" type="text" placeholder="" ng-model="accountViewModel.IBAN">
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>


            <!-- /.box -->

            <footer class="page-footer">
                <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
                <div>
                    <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                    <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
                </div>
                <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
            </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
