﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="CashBankListController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Cash and Bank</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Cash and Bank</li>
                <li class="breadcrumb-item">Cash and Bank List</li>
            </ol>

        </div>

        <!--        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">



        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">List of All Accounts</div>
                    <div class="btn-group">
                        <div class="btn btn-secondary btn-sm" ng-click="createAccount('cash')">ADD CASH ACCOUNT</div>
                        <div class="btn btn-secondary btn-sm" ng-click="createAccount('bank')">ADD BANK ACCOUNT</div>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="table-responsive row">
                        <table class="table table-hover" id="datatable">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>ACCOUNT NAME</th>
                                    <th>IBAN</th>
                                    <th>CURRENCY</th>
                                    <th>OPENING BALANCE</th>
                                    <th class="no-sort"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="account in accounts">
                                    <td></td>
                                    <td>{{ account.AccountName }}</td>
                                    <td>{{ account.IBAN }}</td>
                                    <td>{{ account.CurrencyName }}</td>
                                    <td style="text-align: right;">{{ account.OpeningBalance }}</td>
                                    <td style="text-align: center;"><a class="fa fa-pencil-square-o" href="" ng-click="accountInformation(account.CashBankId)"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.box -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>



    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
