﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/_LayoutAdmin.cshtml";
}
<ng-include src="'/Scripts/app/common/template/panel-header.html'"></ng-include>

<div class="row">
    <div class="wrap">
        <div ng-view=""></div>
    </div>
</div>

<ng-include src="'/Scripts/app/common/template/panel-footer.html'"></ng-include>
