﻿<!DOCTYPE html>

<html>
<head>



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Cloud Accounts</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="~/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/vendors/line-awesome/css/line-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <link href="~/assets/vendors/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/vendors/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/assets/vendors/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <!-- PLUGINS STYLES-->
    <link href="~/assets/vendors/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="~/assets/css/main.min.css" rel="stylesheet" />

    <!-- CUSTOM STYLES-->
    <link href="~/assets/css/custom.css" rel="stylesheet" />

    <!-- JQUERY MINICOLORS STYLES-->
    <link href="~/assets/vendors/jquery-minicolors/jquery.minicolors.css" rel="stylesheet" />

    <!-- HOVER STYLES-->
    <link href="~/assets/css/hover.css" rel="stylesheet" />

    <!-- Data Table -->
    <link href="~/assets/vendors/dataTables/datatables.min.css" rel="stylesheet" />

    <!-- Bootstrap Datepicker -->
    <link href="~/assets/vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />


    <!-- PAGE LEVEL STYLES-->
    <style>
        body {
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(/assets/img/blog/19.jpeg);
        }

        .cover {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(117, 54, 230, .1);
        }

        .auth-head-icon {
            position: relative;
            height: 60px;
            width: 60px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            background: rgba(0, 0, 0, .6);
            color: #fff;
            box-shadow: 0 5px 20px #d6dee4;
            border-radius: 50%;
            z-index: 2;
        }

        .login-box {
            background: rgba(0, 0, 0, .6);
            color: rgba(255, 255, 255, .8);
        }

            .login-box .form-control {
                background-color: transparent;
                border-color: rgba(255, 255, 255, .6);
                color: #fff;
            }

                .login-box .form-control:focus {
                    border-color: rgba(255, 255, 255, 1);
                }
    </style>



</head>
<body>

    <div class="page-wrapper">

        <!--log in-->

        <div>
            <div class="cover"></div>
            <div style="max-width: 400px; margin: 100px auto 50px;">
                <div class="text-center mb-5">
                    <span class="auth-head-icon"><i class="la la-user"></i></span>
                </div>
                <div class="ibox login-box">
                    <form class="ibox-body" id="login-form">
                        <h4 class="font-strong text-center mb-5">Email Confirmation</h4>

                        <div class="text-center mb-4">
                            @if (Session["isActivated"] != null && Convert.ToBoolean(Session["isActivated"]))
                            {
                                <span>Your account has been successfully activated.</span>
                        
                            }
                            else
                            {

                                <span>Your account activation failed.</span>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>



    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    <!-- CORE PLUGINS-->


    <!-- SANITIZE TO ADD HTML TO DOM FROM ANGULAR-->
    @*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>*@


    <script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/vendors/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/assets/vendors/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/vendors/jquery-idletimer/dist/idle-timer.min.js"></script>
    <script src="~/assets/vendors/toastr/toastr.min.js"></script>
    <script src="~/assets/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <!-- PAGE LEVEL PLUGINS-->
    <script src="~/assets/vendors/chart.js/dist/Chart.min.js"></script>
    <script src="~/assets/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script src="~/assets/vendors/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="~/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- Twitter Typehead -->
    <script src="~/assets/vendors/typeahead.js/dist/typeahead.bundle.min.js"></script>
    <!-- CORE SCRIPTS-->
    <script src="~/assets/js/app.min.js"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    <script src="~/assets/js/scripts/dashboard_visitors.js"></script>

    <script src="~/assets/js/helper.js"></script>

</body>
</html>
