﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="ExpenseReportController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Expense Report</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Expense</li>
                <li class="breadcrumb-item">Expense Report</li>
            </ol>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">

        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">EXPENSE REPORT</div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#filter">{{ DateRangeViewModel.StartDate }} - {{ DateRangeViewModel.EndDate }}</button>
                        </div>
                    </div>
                </div>
                <div class="ibox-body">
                    <div id="filter" class="row collapse">
                        <div class="col-md-12">
                            <table class="table">
                                <tbody class="remove-hr">
                                    <tr>
                                        <td style="text-align: right;"><b>Start Date</b></td>
                                        <td>
                                            <div class="form-group" id="startDate">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="DateRangeViewModel.StartDate" ng-change="setDate(1)">
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: right;"><b>End Date</b></td>
                                        <td>
                                            <div class="form-group" id="endDate">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="DateRangeViewModel.EndDate" ng-change="setDate(1)">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs tabs-line">
                                <li class="nav-item">
                                    <a class="nav-link active" data-target="#tab1" data-toggle="tab">Expenses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-target="#tab2" data-toggle="tab">Suppliers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-target="#tab3" data-toggle="tab">Services and Products</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active text-center" id="tab1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="table-responsive row" style="margin: 10px;">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <th style="border-top: 0;">EXPENSE CATEGORIES</th>
                                                            <th style="border-top: 0;"></th>
                                                        </tr>
                                                        <tr ng-if="totalAmountInExpenseCategories == 0">
                                                            <td>There are no recorded collections in the specified time period.</td>
                                                            <td style="text-align: right;"></td>
                                                        </tr>
                                                        <!--<tr ng-repeat="expenseCategory in expenseCategories" ng-if="expenseCategory.BalanceAgainstThisCategory > 0" ng-style="((invoice.TotalAmount - invoice.TotalAllocatedAmount) == invoice.TotalAmount) && { color: 'red' }">-->
                                                        <tr ng-repeat="category in expenseCategories" ng-if="category.BalanceAgainstThisCategory > 0">
                                                            <td style="text-align: left;">
                                                                <span class="badge badge-danger badge-pill" style="background-color: {{ category.CategoryColor }};">{{ category.CategoryName }}</span>
                                                            </td>
                                                            <td>{{ category.BalanceAgainstThisCategory.toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                                        </tr>
                                                        <tr ng-if="totalAmountInExpenseCategories > 0">
                                                            <td style="text-align: left;"><b>Total</b></td>
                                                            <td><b>{{ totalAmountInExpenseCategories.toFixed(2)}}<i class="la la-turkish-lira"></i></b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>CUSTOMER CATEGORIES</h6>
                                            <br />
                                            <div id="pie_chart_expense" style="height: 280px; width: 220px"></div>
                                            <br />
                                            <ul class="timeline">
                                                <li ng-repeat="category in PieChartDataCustomers" ng-if="category.balanceAgainstThisCategory > 0" class="timeline-item" style="padding-right: 0;">
                                                    <span class="timeline-point"></span>
                                                    <span style="background-color: {{ category.color }}; color: white; border-radius: 10px; padding-left: 5px; padding-right: 5px;">{{ category.label }}</span>
                                                    <span class="float-right">{{ (category.balanceAgainstThisCategory).toFixed(2) }}</span>
                                                </li>
                                            </ul>
                                            <p ng-if="visibility.noData">No Data to display in the selected time period.</p>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>CHANGE OF CATEGORIES</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade text-center" id="tab2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="table-responsive row" style="margin: 10px;">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <th style="border-top: 0;">EXPENSE CATEGORIES</th>
                                                            <th style="border-top: 0;"></th>
                                                        </tr>
                                                        <tr ng-if="totalAmountInSupplierCategories == 0">
                                                            <td>There are no recorded collections in the specified time period.</td>
                                                            <td style="text-align: right;"></td>
                                                        </tr>
                                                        <tr ng-repeat="category in supplierCategories" ng-if="category.BalanceAgainstThisCategory > 0">
                                                            <td style="text-align: left;">
                                                                <span class="badge badge-danger badge-pill" style="background-color: {{ category.CategoryColor }};">{{ category.CategoryName }}</span>
                                                            </td>
                                                            <td>{{ category.BalanceAgainstThisCategory.toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                                        </tr>
                                                        <tr ng-if="totalAmountInSupplierCategories > 0">
                                                            <td style="text-align: left;"><b>Total</b></td>
                                                            <td><b>{{ totalAmountInSupplierCategories.toFixed(2)}}<i class="la la-turkish-lira"></i></b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>CUSTOMER CATEGORIES</h6>
                                            <br />
                                            <div id="pie_chart_suppliers" style="height: 280px; width: 220px"></div>
                                            <br />
                                            <ul class="timeline">
                                                <li ng-repeat="category in PieChartDataCustomers" ng-if="category.balanceAgainstThisCategory > 0" class="timeline-item" style="padding-right: 0;">
                                                    <span class="timeline-point"></span>
                                                    <span style="background-color: {{ category.color }}; color: white; border-radius: 10px; padding-left: 5px; padding-right: 5px;">{{ category.label }}</span>
                                                    <span class="float-right">{{ (category.balanceAgainstThisCategory).toFixed(2) }}</span>
                                                </li>
                                            </ul>
                                            <p ng-if="visibility.noData">No Data to display in the selected time period.</p>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>CHANGE OF CATEGORIES</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade text-center" id="tab3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="table-responsive row" style="margin: 10px;">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <th style="border-top: 0;">EXPENSE CATEGORIES</th>
                                                            <th style="border-top: 0;"></th>
                                                        </tr>
                                                        <tr ng-if="totalAmountInProductCategories == 0">
                                                            <td>There are no transactions in the specified time period.</td>
                                                            <td style="text-align: right;"></td>
                                                        </tr>
                                                        <tr ng-repeat="category in productCategories" ng-if="category.BalanceAgainstThisCategory > 0">
                                                            <td style="text-align: left;">
                                                                <span class="badge badge-danger badge-pill" style="background-color: {{ category.CategoryColor }};">{{ category.CategoryName }}</span>
                                                            </td>
                                                            <td>{{ category.BalanceAgainstThisCategory.toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                                        </tr>
                                                        <tr ng-if="totalAmountInProductCategories > 0">
                                                            <td style="text-align: left;"><b>Total</b></td>
                                                            <td><b>{{ totalAmountInProductCategories.toFixed(2)}}<i class="la la-turkish-lira"></i></b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>CUSTOMER CATEGORIES</h6>
                                            <br />
                                            <div id="pie_chart_products" style="height: 280px; width: 220px"></div>
                                            <br />
                                            <ul class="timeline">
                                                <li ng-repeat="category in PieChartDataCustomers" ng-if="category.balanceAgainstThisCategory > 0" class="timeline-item" style="padding-right: 0;">
                                                    <span class="timeline-point"></span>
                                                    <span style="background-color: {{ category.color }}; color: white; border-radius: 10px; padding-left: 5px; padding-right: 5px;">{{ category.label }}</span>
                                                    <span class="float-right">{{ (category.balanceAgainstThisCategory).toFixed(2) }}</span>
                                                </li>
                                            </ul>
                                            <p ng-if="visibility.noData">No Data to display in the selected time period.</p>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>CHANGE OF CATEGORIES</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-body">
                    <h4 class="ibox-title">ALL EXPENSE RECORDS</h4>
                    <br />
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" data-target="#Expense">EXPENSE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" data-target="#suppliers">SUPPLIERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" data-target="#products">PRODUCTS</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="expense">
                            <div class="row">
                                <table class="table table-hover" id="datatable">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Description</th>
                                            <th>Supplier Name</th>
                                            <th>Date</th>
                                            <th>Balance</th>
                                            <th>Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="expense in expenseHeaderList"
                                            ng-click="expenseInformation(expense.InvoiceHeaderId)"
                                            ng-style="{{ compareDate(expense.DueDate) }} && { color: 'red' }">
                                            <td>{{ expense.Description }}</td>
                                            <td>{{ expense.CustomerName }}</td>
                                            <td>{{ expense.Date }}</td>
                                            <td>{{ (expense.TotalAmount - expense.TotalAllocatedAmount).toFixed(2) }}<i class="{{ currencies[expense.CurrencyId].symbol }}"></i></td>
                                            <td>{{ (expense.TotalAmount).toFixed(2) }}<i class="{{ currencies[expense.CurrencyId].symbol }}"></i></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="suppliers">
                            <div class="row">
                                <table class="table table-hover" id="datatable1">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Supplier Name</th>
                                            <th style="text-align: center;">Total Payable</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="supplier in suppliersList"
                                            ng-if="supplier.TotalPayable > 0"
                                            ng-click="expenseInformation(expense.InvoiceHeaderId)">
                                            <td>{{ supplier.CompanyTitle }}</td>
                                            <td style="text-align: center;">{{ (supplier.TotalPayable).toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="products">
                            <div class="row">
                                <table class="table table-hover" id="datatable2">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in productsList"
                                            ng-click="expenseInformation(expense.InvoiceHeaderId)">
                                            <td>{{ product.Name }}</td>
                                            <td>{{ product.TotalStockIn }}</td>
                                            <td>{{ (product.TotalPurchasingAmount).toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                        </tr>

                                        <!--                                        <tr ng-repeat="product in productsList"
                                            ng-click="expenseInformation(expense.InvoiceHeaderId)">
                                            <td>{{ product.ProductName }}</td>
                                            <td>{{ calculateEstimatedValues(detail) }}</td>
                                            <td>{{ product.Date }}</td>
                                        </tr>-->


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>
    </section>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->

