﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="VATReportController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">VAT Report</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Expense</li>
                <li class="breadcrumb-item">VAT Report</li>
            </ol>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">

        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">VAT REPORT BY MONTH</div>
                </div>
                <div class="ibox-body">
                    <div class="row">

                        <table class="table table-hover" id="datatable">
                            <thead class="thead-default">
                                <tr>
                                    <th>Month</th>
                                    <th>Calculated VAT</th>
                                    <th>Downloaded VAT</th>
                                    <th>Net VAT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="month in monthList track by $index"
                                    ng-click="loadInvoicesByMonth(month)">
                                    <!--<td>{{ month[$index].Date.getMonth() }}</td>-->
                                    <td ng-if="currentMonth - $index >= 0">{{ months[currentMonth - $index] }}</td>
                                    <td ng-if="currentMonth - $index < 0">{{ months[currentMonth - $index + 12] }}</td>
                                    <td>{{ calculateVAT(month).toFixed(2) }}</td>
                                    <td>0.00</td>
                                    <td>{{ calculateVAT(month).toFixed(2) }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div>
                            <br />
                            <button class="btn btn-secondary" ng-click="initialize()">SHOW MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">MONTH SALES AND EXPENSES VAT BREAKDOWN</div>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" data-target="#all">ALL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" data-target="#invoices">SALES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" data-target="#bills">EXPENSES</a>
                        </li>
                    </ul>
                </div>
                <div class="ibox-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="all">
                            <div class="row">
                                <table class="table table-hover" id="datatable1">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Process Type</th>
                                            <th>Voucher No</th>
                                            <th>Explanation</th>
                                            <th>Customer Name</th>
                                            <th>Supplier Name</th>
                                            <th>Registration Date</th>
                                            <th>VAT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="voucher in thisMonth"
                                            ng-click="expenseInformation(expense.InvoiceHeaderId)">
                                            <td ng-if="voucher.VoucherType == '0001'">Invoice</td>
                                            <td ng-if="voucher.VoucherType == '0002'">Expense</td>
                                            <td>{{ voucher.InvoiceNo }}</td>
                                            <td>{{ voucher.Description }}</td>
                                            <td ng-if="voucher.VoucherType == '0001'">{{ voucher.CustomerName }}</td>
                                            <td ng-if="voucher.VoucherType == '0002'"></td>
                                            <td ng-if="voucher.VoucherType == '0002'">{{ voucher.CustomerName }}</td>
                                            <td ng-if="voucher.VoucherType == '0001'"></td>
                                            <td>{{ voucher.Date }}</td>
                                            <td>{{ (voucher.TotalVAT).toFixed(2) }}</td>
                                        </tr>
                                        <tr style="color: red;" ng-if="thisMonth < 1">
                                            <td></td>
                                            <td></td>
                                            <td><i class="ti-hand-stop" style="float: right;"></i></td>
                                            <td colspan="4">No records found in the selected month</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="invoices">
                            <div class="row">
                                <table class="table table-hover" id="datatable2">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Process Type</th>
                                            <th>Voucher No</th>
                                            <th>Explanation</th>
                                            <th>Customer Name</th>
                                            <th>Supplier Name</th>
                                            <th>Registration Date</th>
                                            <th>VAT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="voucher in thisMonth"
                                            ng-if="voucher.VoucherType == '0001'"
                                            ng-click="expenseInformation(expense.InvoiceHeaderId)">
                                            <td ng-if="voucher.VoucherType == '0001'">Invoice</td>
                                            <td ng-if="voucher.VoucherType == '0002'">Expense</td>
                                            <td>{{ voucher.InvoiceNo }}</td>
                                            <td>{{ voucher.Description }}</td>
                                            <td ng-if="voucher.VoucherType == '0001'">{{ voucher.CustomerName }}</td>
                                            <td ng-if="voucher.VoucherType == '0002'"></td>
                                            <td ng-if="voucher.VoucherType == '0002'">{{ voucher.CustomerName }}</td>
                                            <td ng-if="voucher.VoucherType == '0001'"></td>
                                            <td>{{ voucher.Date }}</td>
                                            <td>{{ (voucher.TotalVAT).toFixed(2) }}</td>
                                        </tr>
                                        <tr style="color: red;" ng-if="thisMonth < 1">
                                            <td></td>
                                            <td></td>
                                            <td><i class="ti-hand-stop" style="float: right;"></i></td>
                                            <td colspan="4">No records found in the selected month</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="bills">
                            <div class="row">
                                <table class="table table-hover" id="datatable3">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Process Type</th>
                                            <th>Voucher No</th>
                                            <th>Explanation</th>
                                            <th>Customer Name</th>
                                            <th>Supplier Name</th>
                                            <th>Registration Date</th>
                                            <th>VAT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="voucher in thisMonth"
                                            ng-if="voucher.VoucherType == '0002'"
                                            ng-click="expenseInformation(expense.InvoiceHeaderId)">
                                            <td ng-if="voucher.VoucherType == '0001'">Invoice</td>
                                            <td ng-if="voucher.VoucherType == '0002'">Expense</td>
                                            <td>{{ voucher.InvoiceNo }}</td>
                                            <td>{{ voucher.Description }}</td>
                                            <td ng-if="voucher.VoucherType == '0001'">{{ voucher.CustomerName }}</td>
                                            <td ng-if="voucher.VoucherType == '0002'"></td>
                                            <td ng-if="voucher.VoucherType == '0002'">{{ voucher.CustomerName }}</td>
                                            <td ng-if="voucher.VoucherType == '0001'"></td>
                                            <td>{{ voucher.Date }}</td>
                                            <td>{{ (voucher.TotalVAT).toFixed(2) }}</td>
                                        </tr>
                                        <tr style="color: red;" ng-if="thisMonth < 1">
                                            <td></td>
                                            <td></td>
                                            <td><i class="ti-hand-stop" style="float: right;"></i></td>
                                            <td colspan="4">No records found in the selected month</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
