﻿
.registration {
    border: 1px solid;
    border-radius:8px;
    padding:10px 5px 10px 5px;
    margin:15px 5px 5px 5px;
}


.remove-hr td {
    border-top: 0 solid #e8e8e8!important;
}

.content-wrapper.ng-scope {
    min-height: 928px;
}

.change-bg-color {
    background-color: #f7d27e!important;
}


/*li.list-group-item.active.ng-scope:hover i.fa.fa-pencil-square-o.font-16.text-muted.mr-2{
    background-color: black;
}*/


i.fa.fa-pencil-square-o.font-16.text-muted.mr-2 {
    display:none;
}


i.fa.fa-trash-o.font-16.text-muted.mr-2 {
    display: none;
}

li.list-group-item.active.ng-scope:hover i.fa.fa-trash-o.font-16.text-muted.mr-2 {
    display: inline;
}

li.list-group-item.active.ng-scope:hover i.fa.fa-pencil-square-o.font-16.text-muted.mr-2 {
    display: inline;
}

