﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="CashBankReportController">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="page-heading">
            <h1 class="page-title">Cash Bank Report</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="la la-home font-20"></i></a>
                </li>
                <li class="breadcrumb-item">Cash Bank</li>
                <li class="breadcrumb-item">Cash Bank Report</li>
            </ol>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">





        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Cash / Bank</div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#filter">{{ DateRangeViewModel.StartDate }} - {{ DateRangeViewModel.EndDate }}</button>
                        </div>
                    </div>
                </div>
                <div class="ibox-body">

                    <div id="filter" class="row collapse">
                        <div class="col-md-12">
                            <table class="table">
                                <tbody class="remove-hr">
                                    <tr>
                                        <td style="text-align: right;"><b>Start Date</b></td>
                                        <td>
                                            <div class="form-group" id="startDate">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="DateRangeViewModel.StartDate" ng-change="setDate(1)">
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: right;"><b>End Date</b></td>
                                        <td>
                                            <div class="form-group" id="endDate">
                                                <label class="font-normal"></label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" type="text" ng-model="DateRangeViewModel.EndDate" ng-change="setDate(1)">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4" style="border: 1px solid#0000001a;">
                            <br>
                            <!--<h6 style="text-align: center;">{{ calculateSummary('0001').toFixed(2) }}<i class="la la-turkish-lira"></i></h6>-->
                            <h6 style="text-align: center;">{{ TotalSellingAmount.toFixed(2) }}<i class="la la-turkish-lira"></i></h6>
                            <h6 style="text-align: center;">TOTAL CASH ENTRY</h6>
                            <br>
                        </div>
                        <div class="col-md-4" style="border: 1px solid#0000001a;">
                            <br>
                            <!--<h6 style="text-align: center;">{{ calculateSummary('0002').toFixed(2) }}<i class="la la-turkish-lira"></i></h6>-->
                            <h6 style="text-align: center;">{{ TotalBuyingAmount.toFixed(2) }}<i class="la la-turkish-lira"></i></h6>
                            <h6 style="text-align: center;">TOTAL CASH EXIT</h6>
                            <br>
                        </div>
                        <div class="col-md-4" style="border: 1px solid#0000001a;">
                            <br>
                            <h6 style="text-align: center;">{{ (TotalSellingAmount - TotalBuyingAmount).toFixed(2) }}<i class="la la-turkish-lira"></i></h6>
                            <h6 style="text-align: center;">TOTAL NET PROFIT</h6>
                            <br>
                        </div>
                    </div>
                    <br />
                    <p>Calculations are based on the Purchase Price and the Sales Price specified on the product pages.</p>
                </div>
            </div>
        </div>

        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>INVOICE CATEGORIES</h6>
                            <br />
                            <div id="flot_bar_chart" style="height: 280px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-content fade-in-up">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Collections and Payments Between {{ DateRangeViewModel.StartDate }} and {{ DateRangeViewModel.EndDate }}</div>
                </div>
                <div class="ibox-body">
                    <div class="table-responsive row">
                        <table class="table table-hover" id="datatable">
                            <thead class="thead-default">
                                <tr>
                                    <th>PROCESSING TYPE</th>
                                    <th>DATE</th>
                                    <th>CUSTOMER / SUPPLIER</th>
                                    <th>AMOUNT</th>
<!--                                    <th>SALES PRICE</th>
                                    <th>INVENTORY COST</th>
                                    <th>SALES VALUE</th>
                                    <th>SALES PROFIT</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="allocation in allocations">
                                    <td ng-if="allocation.VoucherType == '0001'">Collection</td>
                                    <td ng-if="allocation.VoucherType == '0002'">Payment</td>
                                    <td>{{ allocation.Date }}</td>
                                    <td>{{ allocation.BusinessPartnerName }}</td>
                                    <td>{{ allocation.Amount }}</td>
<!--                                    <td style="text-align: right;">{{ (product.PurchasePrice * product.PurchaseCurrencyRate).toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                    <td style="text-align: right;">{{ (product.SalesPrice * product.SalesCurrencyRate).toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                    <td style="text-align: right;">{{ (product.CurrentQuantity * product.PurchasePrice * product.PurchaseCurrencyRate).toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                    <td style="text-align: right;">{{ (product.CurrentQuantity * product.SalesPrice * product.SalesCurrencyRate).toFixed(2) }}<i class="la la-turkish-lira"></i></td>
                                    <td style="text-align: right;">{{ (product.CurrentQuantity * product.SalesPrice * product.SalesCurrencyRate) - (product.CurrentQuantity * product.PurchasePrice * product.PurchaseCurrencyRate).toFixed(2) }}<i class="la la-turkish-lira"></i></td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer class="page-footer">
            <div class="font-13">2018 © <b>Adminca</b> - Save your time, choose the best</div>
            <div>
                <a class="px-3 pl-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">Purchase</a>
                <a class="px-3" href="http://admincast.com/adminca/documentation.html" target="_blank">Docs</a>
            </div>
            <div class="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></div>
        </footer>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
